In [11]:
# activate line execution
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# plotly
import plotly.express as px  # (version 4.7.0 or higher)
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import numpy as np

In [12]:
# !pip install wandb -qqq
import os
os.environ["WANDB_API_KEY"] = "0f780ac8a470afe6cb7fc474ff3794772c660465"

os.environ["WANDB_NOTEBOOK_NAME"] = "jup_res"

import wandb
# wandb.login()
api = wandb.Api()





# selected_tag = 'Pred'

runs = api.runs("hokarami/TEEDAM_supervised")

In [13]:
import pandas as pd 


# Project is specified by <entity/project-name>
def dl_runs(all_runs, selected_tag=None):




    summary_list, config_list, name_list, path_list = [], [], [], []
    for run in all_runs: 

        if (selected_tag not in run.tags) and (selected_tag is not None):
            continue
        # .summary contains the output keys/values for metrics like accuracy.
        #  We call ._json_dict to omit large files 
        summary_list.append(run.summary._json_dict)

        # .config contains the hyperparameters.
        #  We remove special values that start with _.
        

        config_list.append(
            {k: v for k,v in run.config.items()
            if not k.startswith('_')})

        # .name is the human-readable name of the run.
        name_list.append(run.name)
        path_list.append(run.path)

    runs_df = pd.DataFrame({
        "summary": summary_list,
        "config": config_list,
        "name": name_list,
        "path": path_list

        })

    # runs_df.to_csv("project.csv")
    return runs_df

In [14]:
# q = runs_df['name'].str.contains('\[R2-')
# runs_df = runs_df[q]


runs_df = dl_runs(runs, selected_tag='H20')

runs_df
runs_df.iloc[0].summary.keys()
runs_df.iloc[0].config.keys()

,summary,config,name,path
0,{'Best-Valid-pred_label/AUPRC': 0.515577997016...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1664731,"[hokarami, TEEDAM_supervised, 9clf36pk]"
1,"{'Test-NextTime/msae': 1.525248574482368, 'Val...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1667036,"[hokarami, TEEDAM_supervised, pnmykvus]"
2,"{'_timestamp': 1677774905.2567017, 'Best-Valid...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1663219,"[hokarami, TEEDAM_supervised, p46b3dak]"
3,{'Best-Valid-pred_label/AUROC': 0.880521512385...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1664506,"[hokarami, TEEDAM_supervised, 190vq9g0]"
4,{'Test-pred_label/recall-binary': 0.6355932203...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1666267,"[hokarami, TEEDAM_supervised, 1f3o6it9]"
...,...,...,...,...
103,"{'Test-pred_label/loss': 0, 'Test-pred_label/A...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644008,"[hokarami, TEEDAM_supervised, tuemutjg]"
104,{'Best-Valid-pred_label/f1-binary': 0.59131293...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1649688,"[hokarami, TEEDAM_supervised, f0m4i8vr]"
105,"{'Valid-NextTime/msae': 1.847693028892765, 'Va...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644494,"[hokarami, TEEDAM_supervised, ocn3gpdj]"
106,"{'Test-pred_label/AUROC': 0.8152313407632555, ...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1646207,"[hokarami, TEEDAM_supervised, ifj23e5w]"
107,"{'_runtime': 570.3968844413757, 'max_obj_val':...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1643468,"[hokarami, TEEDAM_supervised, 7mzmcpzt]"

dict_keys(['Best-Valid-pred_label/AUPRC', 'Best-Valid-pred_label/AUROC', 'Test-pred_label/recall-binary', 'Test-NextType(ML)/auc-ovo-weighted', 'Valid-NextType(ML)/auc-PR-weighted', 'Best-Valid-NextType(ML)/f1-weighted', 'Valid-pred_label/loss', 'time-Time/valid_epoch', 'Valid-NextTime/rmse_norm', 'Best-Test-pred_label/AUPRC', 'Test-pred_label/f1-binary', 'Valid-pred_label/recall-binary', 'Best-Valid-pred_label/f1-binary', 'Valid-NextType(ML)/auc-ovo-weighted', '_timestamp', 'time-Time/train_epoch', 'Test-pred_label/AUPRC', 'Test-pred_label/precision-binary', 'Valid-NextType(ML)/precision-weighted', '_step', 'Valid-NextTime/msae', 'Valid-pred_label/AUROC', 'Best-Test-pred_label/f1-binary', 'Valid-NextType(ML)/f1-weighted', 'Test-NextType(ML)/auc-PR-weighted', 'Valid-NextType(ML)/recall-weighted', 'Best-Test-NextType(ML)/auc-ovo-weighted', 'Obj', 'Test-NextTime/msae', 'Test-pred_label/AUROC', 'Valid-pred_label/f1-binary', 'Test-NextType(ML)/f1-weighted', 'Best-Test-NextType(ML)/f1-weighted', 'Test-pred_label/ACC', 'Valid-pred_label/ACC', 'Test-NextTime/rmse_norm', 'Test-NextType(ML)/recall-weighted', 'Valid-pred_label/precision-binary', 'Valid-NextTime/RMSE', 'Valid-pred_label/AUPRC', 'Test-pred_label/loss', 'Best-Test-pred_label/AUROC', 'Test-NextType(ML)/precision-weighted', 'Best-Valid-NextType(ML)/auc-ovo-weighted', '_runtime', 'Test-NextTime/RMSE'])

dict_keys(['w', 'lr', 'log', 'mod', 'per', 'cuda', 'data', 'date', 'demo', 'prof', 'INPUT', 'epoch', 'noise', 'split', 'state', 'w_pos', 'wandb', 'ES_pat', 'OUTPUT', 'device', 'freeze', 'run_id', 'smooth', 'te_d_k', 'te_d_v', 'w_time', 'dataset', 'int_dec', 'setting', 'w_class', 'w_event', 'log_freq', 'run_name', 'run_path', 'te_d_rnn', 'time_enc', 'TE_config', 'event_enc', 'next_mark', 'num_demos', 'num_marks', 'num_types', 'pos_alpha', 'te_d_mark', 'te_d_time', 'te_n_head', 'type_loss', 'CIF_config', 'DAM_config', 'batch_size', 'data_label', 'num_states', 'pos_weight', 'str_config', 'te_d_inner', 'te_dropout', 'testloader', 'demo_config', 'mark_detach', 'te_n_layers', 'test_center', 'trainloader', 'user_prefix', 'validloader', 'w_pos_label', 'NOISE_config', 'label_config', 'sample_label', 'weight_decay', 'hparams2write', 'wandb_project', 'balanced_batch', 'label_loss_fun', 'pred_loss_func', 'w_sample_label', 'dict_map_events', 'dict_map_states', 'next_time_config', 'next_type_config', 'transfer_learning'])

# Table I
Effect of time concatenation and single+mark

In [15]:
runs = api.runs("hokarami/TEEDAM_unsupervised_timeCat")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,"{'_runtime': 3679.483940839767, 'Best-Valid-Ne...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_single_mark-sum-d1]1808878-,"[hokarami, TEEDAM_unsupervised_timeCat, e7qoguej]"
1,{'Valid-NextType(ML)/precision-weighted': 0.55...,"{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_single_mark-concat-d1]1802212-,"[hokarami, TEEDAM_unsupervised_timeCat, n7mi92v2]"
2,"{'status': 'completed', 'Test-NextTime/RMSE': ...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__nextmark-sum-d1]1805973-,"[hokarami, TEEDAM_unsupervised_timeCat, t693d8my]"
3,"{'_timestamp': 1678991536.018695, 'Test-CIF/NL...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_ml-sum-d1]1807919-,"[hokarami, TEEDAM_unsupervised_timeCat, xzfmz67i]"
4,{'Test-NextType(ML)/precision-weighted': 0.591...,"{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_ml-concat -d1]1806701-,"[hokarami, TEEDAM_unsupervised_timeCat, ons57bn1]"
...,...,...,...,...
365,"{'Test-NextTime/RMSE': 6.48976465633934, 'Test...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1785157-,"[hokarami, TEEDAM_unsupervised_timeCat, j9z1o2jy]"
366,"{'Obj': 0.6247189885536435, '_wandb': {'runtim...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__nextmark-concat-d-2]1787979-,"[hokarami, TEEDAM_unsupervised_timeCat, imm1g4my]"
367,{'Valid-NextTime/rmse_norm': 24.46217106557421...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1787649-,"[hokarami, TEEDAM_unsupervised_timeCat, me3gzd7s]"
368,"{'max_obj_val': 0.3859122934552494, 'time-Time...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786183-,"[hokarami, TEEDAM_unsupervised_timeCat, i0kftsh7]"
369,"{'status': 'completed', 'Test-NextType(MC)/f1-...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786368-,"[hokarami, TEEDAM_unsupervised_timeCat, 20vy98q0]"

In [27]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['mod','diag_offset','time_enc']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted','Best-Test-NextType(MC)/f1-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC','Best-Test-NextType(MC)/f1-weighted':'F1-Score'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  ).reset_index() #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'

a1



df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

,dataset,mod,diag_offset,time_enc,LL/#events,AUROC,F1-Score
0,Retweets(MC),PP(ML/MC),-2,concat,-10.28(nan),nan(nan),0.53(nan)
1,Retweets(MC),PP(ML/MC),-2,sum,-22.16(nan),nan(nan),0.35(nan)
2,Retweets(MC),PP(ML/MC),-1,concat,-12.02(nan),nan(nan),0.52(nan)
3,Retweets(MC),PP(ML/MC),-1,sum,-18.85(nan),nan(nan),0.35(nan)
4,Retweets(MC),PP(ML/MC),0,concat,-16.29(nan),nan(nan),0.53(nan)
...,...,...,...,...,...,...,...
77,Synthea,AE,0,sum,nan(nan),0.86(0.06),nan(nan)
78,Synthea,AE,1,concat,nan(nan),0.84(0.05),nan(nan)
79,Synthea,AE,1,sum,nan(nan),0.87(0.03),nan(nan)
80,Synthea,PP(single),1,concat,-2.07(0.34),0.61(0.03),nan(nan)
81,Synthea,PP(single),1,sum,-1.98(0.26),0.61(0.03),nan(nan)

                               value                                         \
mod                        PP(ML/MC)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.35(nan)    0.52(nan)    0.35(nan)
             LL/#events  -10.28(nan)  -22.16(nan)  -12.02(nan)  -18.85(nan)
Retweets(ML) AUROC        0.74(0.01)   0.72(0.01)   0.74(0.01)   0.72(0.01)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.34(0.03)  -1.58(0.03)  -1.50(0.05)  -1.58(0.03)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.33(0.01)   0.33(0.01)   0.33(0.01)   0.32(0.00)
             LL/#events  -2.02(0.02)  -2.02(0.02)  -2.02(0.01)  -2.04(0.01)
Synthea      AUROC               NaN          NaN          NaN          NaN
             F1-Score            NaN          NaN          NaN          NaN
             LL/#events          NaN          NaN          NaN          NaN

                                                                            \
mod                                                                     AE
diag_offset                        0                         1          -2
time_enc                      concat          sum       concat      concat
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)    nan(nan)
             F1-Score      0.53(nan)    0.45(nan)    0.44(nan)   0.63(nan)
             LL/#events  -16.29(nan)  -13.22(nan)  -12.03(nan)    nan(nan)
Retweets(ML) AUROC        0.74(0.02)   0.71(0.02)   0.66(0.03)  0.71(0.02)
             F1-Score       nan(nan)     nan(nan)     nan(nan)    nan(nan)
             LL/#events  -1.49(0.03)  -1.60(0.04)  -1.67(0.04)    nan(nan)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)    nan(nan)
             F1-Score     0.32(0.00)   0.32(0.00)   0.33(0.00)  0.38(0.01)
             LL/#events  -2.04(0.01)  -2.05(0.01)  -2.06(0.01)    nan(nan)
Synthea      AUROC               NaN          NaN   0.59(0.05)  0.90(0.00)
             F1-Score            NaN          NaN     nan(nan)    nan(nan)
             LL/#events          NaN          NaN  -5.47(0.43)    nan(nan)

                                                 ...               \
mod                                              ...   PP(single)
diag_offset                                  -1  ...           -2
time_enc                        sum      concat  ...       concat
dataset      Metric                              ...
Retweets(MC) AUROC         nan(nan)    nan(nan)  ...     nan(nan)
             F1-Score     0.62(nan)   0.63(nan)  ...    0.57(nan)
             LL/#events    nan(nan)    nan(nan)  ...   -6.79(nan)
Retweets(ML) AUROC       0.69(0.03)  0.71(0.02)  ...   0.71(0.02)
             F1-Score      nan(nan)    nan(nan)  ...     nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...   1.99(0.06)
SO           AUROC         nan(nan)    nan(nan)  ...     nan(nan)
             F1-Score    0.36(0.01)  0.39(0.01)  ...   0.37(0.01)
             LL/#events    nan(nan)    nan(nan)  ...  -0.51(0.01)
Synthea      AUROC       0.89(0.01)  0.90(0.01)  ...          NaN
             F1-Score      nan(nan)    nan(nan)  ...          NaN
             LL/#events    nan(nan)    nan(nan)  ...          NaN

                                                                             \
mod
diag_offset                                    -1                         0
time_enc                         sum       concat          sum       concat
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.56(nan)    0.53(nan)    0.54(nan)    0.57(nan)
             LL/#events   -7.96(nan)   -6.64(nan)  -10.34(nan)   -6.58(nan)
Retweets(ML) AUROC        0.68(0.04)   0.70(0.03)   0.68(0.03)   0.70(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   1.86(0.09)   2.02(0.05)   1.87(0.10)   2.08(0.05)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.35(0.00)   0.38(0.01)   0.35(0.01)   0.36(0.01)
             LL/#events  -0.54(0.01)  -0.50(0.01)  -0.54(0.01)  -0.53(0.01)
Synthea      AUROC               NaN          NaN          NaN          NaN
             F1-Score            NaN          NaN          NaN          NaN
             LL/#events          NaN          NaN          NaN          NaN

                                                                             \
mod                                                               PP(ML/MC)
diag_offset                                     1                         1
time_enc                         sum       concat          sum          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)          NaN
             F1-Score      0.54(nan)    0.56(nan)    0.32(nan)          NaN
             LL/#events  -10.03(nan)   -6.44(nan)   -9.02(nan)          NaN
Retweets(ML) AUROC        0.68(0.03)   0.66(0.03)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   1.85(0.11)   2.06(0.01)   1.87(0.07)  -1.68(0.05)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.34(0.00)   0.33(0.00)   0.33(0.00)   0.32(0.00)
             LL/#events  -0.55(0.01)  -0.59(0.01)  -0.60(0.01)  -2.07(0.02)
Synthea      AUROC               NaN   0.61(0.03)   0.61(0.03)   0.60(0.05)
             F1-Score            NaN     nan(nan)     nan(nan)     nan(nan)
             LL/#events          NaN  -2.07(0.34)  -1.98(0.26)  -5.38(0.40)


mod                              AE
diag_offset                       1
time_enc                     concat
dataset      Metric
Retweets(MC) AUROC              NaN
             F1-Score           NaN
             LL/#events         NaN
Retweets(ML) AUROC       0.65(0.03)
             F1-Score      nan(nan)
             LL/#events    nan(nan)
SO           AUROC         nan(nan)
             F1-Score    0.33(0.00)
             LL/#events    nan(nan)
Synthea      AUROC       0.84(0.05)
             F1-Score      nan(nan)
             LL/#events    nan(nan)

[12 rows x 24 columns]

In [29]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

dataset                               Retweets(MC)                          \
Metric                                       AUROC   F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat       nan(nan)  0.63(nan)     nan(nan)
                             sum          nan(nan)  0.62(nan)     nan(nan)
                 -1          concat       nan(nan)  0.63(nan)     nan(nan)
                             sum          nan(nan)  0.62(nan)     nan(nan)
                  0          concat       nan(nan)  0.63(nan)     nan(nan)
                             sum          nan(nan)  0.61(nan)     nan(nan)
                  1          concat            NaN        NaN          NaN
                             sum          nan(nan)  0.59(nan)     nan(nan)
      PP(ML/MC)  -2          concat       nan(nan)  0.53(nan)  -10.28(nan)
                             sum          nan(nan)  0.35(nan)  -22.16(nan)
                 -1          concat       nan(nan)  0.52(nan)  -12.02(nan)
                             sum          nan(nan)  0.35(nan)  -18.85(nan)
                  0          concat       nan(nan)  0.53(nan)  -16.29(nan)
                             sum          nan(nan)  0.45(nan)  -13.22(nan)
                  1          concat       nan(nan)  0.44(nan)  -12.03(nan)
                             sum               NaN        NaN          NaN
      PP(single) -2          concat       nan(nan)  0.57(nan)   -6.79(nan)
                             sum          nan(nan)  0.56(nan)   -7.96(nan)
                 -1          concat       nan(nan)  0.53(nan)   -6.64(nan)
                             sum          nan(nan)  0.54(nan)  -10.34(nan)
                  0          concat       nan(nan)  0.57(nan)   -6.58(nan)
                             sum          nan(nan)  0.54(nan)  -10.03(nan)
                  1          concat       nan(nan)  0.56(nan)   -6.44(nan)
                             sum          nan(nan)  0.32(nan)   -9.02(nan)

dataset                               Retweets(ML)                         \
Metric                                       AUROC  F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat     0.71(0.02)  nan(nan)     nan(nan)
                             sum        0.69(0.03)  nan(nan)     nan(nan)
                 -1          concat     0.71(0.02)  nan(nan)     nan(nan)
                             sum        0.69(0.02)  nan(nan)     nan(nan)
                  0          concat     0.70(0.03)  nan(nan)     nan(nan)
                             sum        0.69(0.03)  nan(nan)     nan(nan)
                  1          concat     0.65(0.03)  nan(nan)     nan(nan)
                             sum        0.66(0.03)  nan(nan)     nan(nan)
      PP(ML/MC)  -2          concat     0.74(0.01)  nan(nan)  -1.34(0.03)
                             sum        0.72(0.01)  nan(nan)  -1.58(0.03)
                 -1          concat     0.74(0.01)  nan(nan)  -1.50(0.05)
                             sum        0.72(0.01)  nan(nan)  -1.58(0.03)
                  0          concat     0.74(0.02)  nan(nan)  -1.49(0.03)
                             sum        0.71(0.02)  nan(nan)  -1.60(0.04)
                  1          concat     0.66(0.03)  nan(nan)  -1.67(0.04)
                             sum        0.66(0.03)  nan(nan)  -1.68(0.05)
      PP(single) -2          concat     0.71(0.02)  nan(nan)   1.99(0.06)
                             sum        0.68(0.04)  nan(nan)   1.86(0.09)
                 -1          concat     0.70(0.03)  nan(nan)   2.02(0.05)
                             sum        0.68(0.03)  nan(nan)   1.87(0.10)
                  0          concat     0.70(0.03)  nan(nan)   2.08(0.05)
                             sum        0.68(0.03)  nan(nan)   1.85(0.11)
                  1          concat     0.66(0.03)  nan(nan)   2.06(0.01)
                             sum        0.66(0.03)  nan(nan)   1.87(0.07)

dataset                                      SO                           \
Metric                                    AUROC    F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat    nan(nan)  0.38(0.01)     nan(nan)
                             sum       nan(nan)  0.36(0.01)     nan(nan)
                 -1          concat    nan(nan)  0.39(0.01)     nan(nan)
                             sum       nan(nan)  0.35(0.02)     nan(nan)
                  0          concat    nan(nan)  0.38(0.02)     nan(nan)
                             sum       nan(nan)  0.34(0.01)     nan(nan)
                  1          concat    nan(nan)  0.33(0.00)     nan(nan)
                             sum       nan(nan)  0.33(0.00)     nan(nan)
      PP(ML/MC)  -2          concat    nan(nan)  0.33(0.01)  -2.02(0.02)
                             sum       nan(nan)  0.33(0.01)  -2.02(0.02)
                 -1          concat    nan(nan)  0.33(0.01)  -2.02(0.01)
                             sum       nan(nan)  0.32(0.00)  -2.04(0.01)
                  0          concat    nan(nan)  0.32(0.00)  -2.04(0.01)
                             sum       nan(nan)  0.32(0.00)  -2.05(0.01)
                  1          concat    nan(nan)  0.33(0.00)  -2.06(0.01)
                             sum       nan(nan)  0.32(0.00)  -2.07(0.02)
      PP(single) -2          concat    nan(nan)  0.37(0.01)  -0.51(0.01)
                             sum       nan(nan)  0.35(0.00)  -0.54(0.01)
                 -1          concat    nan(nan)  0.38(0.01)  -0.50(0.01)
                             sum       nan(nan)  0.35(0.01)  -0.54(0.01)
                  0          concat    nan(nan)  0.36(0.01)  -0.53(0.01)
                             sum       nan(nan)  0.34(0.00)  -0.55(0.01)
                  1          concat    nan(nan)  0.33(0.00)  -0.59(0.01)
                             sum       nan(nan)  0.33(0.00)  -0.60(0.01)

dataset                                   Synthea
Metric                                      AUROC  F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat    0.90(0.00)  nan(nan)     nan(nan)
                             sum       0.89(0.01)  nan(nan)     nan(nan)
                 -1          concat    0.90(0.01)  nan(nan)     nan(nan)
                             sum       0.89(0.01)  nan(nan)     nan(nan)
                  0          concat    0.90(0.01)  nan(nan)     nan(nan)
                             sum       0.86(0.06)  nan(nan)     nan(nan)
                  1          concat    0.84(0.05)  nan(nan)     nan(nan)
                             sum       0.87(0.03)  nan(nan)     nan(nan)
      PP(ML/MC)  -2          concat           NaN       NaN          NaN
                             sum              NaN       NaN          NaN
                 -1          concat           NaN       NaN          NaN
                             sum              NaN       NaN          NaN
                  0          concat           NaN       NaN          NaN
                             sum              NaN       NaN          NaN
                  1          concat    0.59(0.05)  nan(nan)  -5.47(0.43)
                             sum       0.60(0.05)  nan(nan)  -5.38(0.40)
      PP(single) -2          concat           NaN       NaN          NaN
                             sum              NaN       NaN          NaN
                 -1          concat           NaN       NaN          NaN
                             sum              NaN       NaN          NaN
                  0          concat           NaN       NaN          NaN
                             sum              NaN       NaN          NaN
                  1          concat    0.61(0.03)  nan(nan)  -2.07(0.34)
                             sum       0.61(0.03)  nan(nan)  -1.98(0.26)

# Table II

In [8]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,"{'Obj': 0.23004082420710337, 'Test-NextTime/RM...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d1]1826977,"[hokarami, TEEDAM_unsupervised, k1nxz0bx]"
1,{'Best-Test-CIF/LL-#events': -1.15116953790095...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d1]1826165,"[hokarami, TEEDAM_unsupervised, tfc61fwc]"
2,{'Valid-NextType(ML)/f1-weighted': 0.241250291...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d1]1822074,"[hokarami, TEEDAM_unsupervised, s3mh5lui]"
3,"{'_step': 100, 'status': 'completed', 'Valid-N...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d1]1821917,"[hokarami, TEEDAM_unsupervised, q7uzkgpp]"
4,{'Valid-NextTime/rmse_norm': 0.830851004942844...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d1]1822484,"[hokarami, TEEDAM_unsupervised, wr8zivm4]"
...,...,...,...,...
588,{'Test-NextTime/rmse_norm': 1.1447476914458874...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d-2]1804673,"[hokarami, TEEDAM_unsupervised, ekltqref]"
589,"{'_wandb': {'runtime': 2183}, 'max_obj_val': 0...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d-2]1808225,"[hokarami, TEEDAM_unsupervised, ahjhqxzc]"
590,{'Valid-NextType(ML)/auc-ovo-weighted': 0.7388...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d-2]1803647,"[hokarami, TEEDAM_unsupervised, mrex3brg]"
591,"{'Obj': 0.42174327271559264, 'Test-NextType(ML...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d-2]1802207,"[hokarami, TEEDAM_unsupervised, fsd0h7d7]"
592,"{'Test-NextTime/msae': 1.3898359388343415, 'Be...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d-2]1804594,"[hokarami, TEEDAM_unsupervised, agefradk]"

In [9]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['setting','INPUT','diag_offset']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),2))  + ' (' + str(round(x.std(),2))  +')'  ).reset_index() #  


# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

# a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
# a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
# a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'

a1



df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

   dataset setting    INPUT  diag_offset    LL/#events        AUROC
0      P12     mc1       TE           -2   -1.3 (0.03)   0.8 (0.03)
1      P12     mc1       TE           -1  -1.33 (0.04)  0.78 (0.04)
2      P12     mc1       TE            0  -1.34 (0.05)  0.79 (0.06)
3      P12     mc1       TE            1  -1.45 (0.09)  0.66 (0.09)
4      P12     mc1    TEDAM           -2  -1.28 (0.03)  0.81 (0.02)
..     ...     ...      ...          ...           ...          ...
67     P19      sc    TEDAM            1  -0.76 (0.28)  0.81 (0.05)
68     P19      sc  TENOISE           -2  -0.88 (0.29)  0.81 (0.04)
69     P19      sc  TENOISE           -1    -0.9 (0.3)  0.82 (0.04)
70     P19      sc  TENOISE            0  -1.21 (0.04)  0.81 (0.06)
71     P19      sc  TENOISE            1  -1.02 (0.32)  0.66 (0.08)

[72 rows x 6 columns]

                           value                                            \
setting                      mc1
INPUT                         TE
diag_offset                   -2            -1             0             1
dataset Metric
P12     AUROC         0.8 (0.03)   0.78 (0.04)   0.79 (0.06)   0.66 (0.09)
        LL/#events   -1.3 (0.03)  -1.33 (0.04)  -1.34 (0.05)  -1.45 (0.09)
P19     AUROC        0.77 (0.03)   0.78 (0.05)   0.76 (0.06)   0.71 (0.08)
        LL/#events  -0.82 (0.25)  -0.86 (0.31)  -0.72 (0.17)  -0.57 (0.09)

                                                                            \
setting
INPUT                      TEDAM
diag_offset                   -2            -1             0             1
dataset Metric
P12     AUROC        0.81 (0.02)   0.81 (0.03)   0.81 (0.05)   0.79 (0.06)
        LL/#events  -1.28 (0.03)   -1.3 (0.03)  -1.32 (0.04)  -1.34 (0.08)
P19     AUROC        0.84 (0.03)   0.85 (0.03)   0.83 (0.09)   0.75 (0.06)
        LL/#events  -0.72 (0.24)  -0.77 (0.23)  -0.56 (0.24)  -0.55 (0.06)

                                                ...                \
setting                                         ...            sc
INPUT                    TENOISE                ...            TE
diag_offset                   -2            -1  ...             0
dataset Metric                                  ...
P12     AUROC        0.79 (0.05)   0.78 (0.06)  ...   0.74 (0.07)
        LL/#events  -1.31 (0.05)  -1.33 (0.05)  ...  -1.39 (0.03)
P19     AUROC        0.78 (0.05)   0.79 (0.06)  ...   0.85 (0.04)
        LL/#events  -0.85 (0.28)  -0.83 (0.23)  ...  -1.22 (0.01)

                                                                            \
setting
INPUT                                    TEDAM
diag_offset                    1            -2            -1             0
dataset Metric
P12     AUROC        0.57 (0.05)   0.76 (0.03)   0.75 (0.04)   0.76 (0.04)
        LL/#events  -1.53 (0.06)  -1.34 (0.03)  -1.36 (0.04)  -1.37 (0.03)
P19     AUROC        0.67 (0.09)   0.85 (0.02)   0.85 (0.04)    0.9 (0.03)
        LL/#events   -1.0 (0.33)  -0.78 (0.27)  -0.78 (0.27)  -1.03 (0.04)

                                                                            \
setting
INPUT                                  TENOISE
diag_offset                    1            -2            -1             0
dataset Metric
P12     AUROC         0.7 (0.02)   0.73 (0.04)   0.72 (0.04)   0.73 (0.05)
        LL/#events  -1.41 (0.02)  -1.37 (0.05)  -1.39 (0.05)   -1.4 (0.03)
P19     AUROC        0.81 (0.05)   0.81 (0.04)   0.82 (0.04)   0.81 (0.06)
        LL/#events  -0.76 (0.28)  -0.88 (0.29)    -0.9 (0.3)  -1.21 (0.04)


setting
INPUT
diag_offset                    1
dataset Metric
P12     AUROC        0.57 (0.05)
        LL/#events  -1.53 (0.06)
P19     AUROC        0.66 (0.08)
        LL/#events  -1.02 (0.32)

[4 rows x 36 columns]

In [10]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

dataset                                    P12                        P19  \
Metric                                   AUROC    LL/#events        AUROC
      setting INPUT   diag_offset
value mc1     TE      -2            0.8 (0.03)   -1.3 (0.03)  0.77 (0.03)
                      -1           0.78 (0.04)  -1.33 (0.04)  0.78 (0.05)
                       0           0.79 (0.06)  -1.34 (0.05)  0.76 (0.06)
                       1           0.66 (0.09)  -1.45 (0.09)  0.71 (0.08)
              TEDAM   -2           0.81 (0.02)  -1.28 (0.03)  0.84 (0.03)
                      -1           0.81 (0.03)   -1.3 (0.03)  0.85 (0.03)
                       0           0.81 (0.05)  -1.32 (0.04)  0.83 (0.09)
                       1           0.79 (0.06)  -1.34 (0.08)  0.75 (0.06)
              TENOISE -2           0.79 (0.05)  -1.31 (0.05)  0.78 (0.05)
                      -1           0.78 (0.06)  -1.33 (0.05)  0.79 (0.06)
                       0           0.78 (0.06)  -1.35 (0.05)  0.81 (0.05)
                       1           0.67 (0.06)  -1.43 (0.06)  0.64 (0.11)
      mc2     TE      -2           0.78 (0.04)  -1.32 (0.03)   0.63 (0.0)
                      -1           0.79 (0.04)  -1.32 (0.01)  0.62 (0.02)
                       0           0.77 (0.01)  -1.35 (0.02)  0.64 (0.01)
                       1           0.75 (0.03)  -1.36 (0.04)   0.6 (0.12)
              TEDAM   -2            0.8 (0.02)  -1.29 (0.04)  0.72 (0.11)
                      -1            0.8 (0.02)  -1.31 (0.01)  0.72 (0.09)
                       0           0.84 (0.02)  -1.31 (0.02)  0.78 (0.06)
                       1           0.74 (0.05)  -1.38 (0.05)  0.69 (0.08)
              TENOISE -2           0.81 (0.03)   -1.3 (0.04)  0.66 (0.01)
                      -1            0.8 (0.01)  -1.32 (0.01)   0.55 (0.0)
                       0           0.78 (0.07)  -1.35 (0.04)  0.65 (0.03)
                       1           0.67 (0.08)  -1.44 (0.05)  0.57 (0.08)
      sc      TE      -2           0.74 (0.05)  -1.36 (0.04)   0.8 (0.02)
                      -1           0.72 (0.05)  -1.38 (0.04)  0.78 (0.05)
                       0           0.74 (0.07)  -1.39 (0.03)  0.85 (0.04)
                       1           0.57 (0.05)  -1.53 (0.06)  0.67 (0.09)
              TEDAM   -2           0.76 (0.03)  -1.34 (0.03)  0.85 (0.02)
                      -1           0.75 (0.04)  -1.36 (0.04)  0.85 (0.04)
                       0           0.76 (0.04)  -1.37 (0.03)   0.9 (0.03)
                       1            0.7 (0.02)  -1.41 (0.02)  0.81 (0.05)
              TENOISE -2           0.73 (0.04)  -1.37 (0.05)  0.81 (0.04)
                      -1           0.72 (0.04)  -1.39 (0.05)  0.82 (0.04)
                       0           0.73 (0.05)   -1.4 (0.03)  0.81 (0.06)
                       1           0.57 (0.05)  -1.53 (0.06)  0.66 (0.08)

dataset
Metric                               LL/#events
      setting INPUT   diag_offset
value mc1     TE      -2           -0.82 (0.25)
                      -1           -0.86 (0.31)
                       0           -0.72 (0.17)
                       1           -0.57 (0.09)
              TEDAM   -2           -0.72 (0.24)
                      -1           -0.77 (0.23)
                       0           -0.56 (0.24)
                       1           -0.55 (0.06)
              TENOISE -2           -0.85 (0.28)
                      -1           -0.83 (0.23)
                       0            -0.71 (0.2)
                       1           -0.78 (0.26)
      mc2     TE      -2           -1.23 (0.18)
                      -1            -1.1 (0.25)
                       0           -1.15 (0.32)
                       1            -1.1 (0.16)
              TEDAM   -2           -0.94 (0.15)
                      -1           -1.08 (0.03)
                       0            -0.95 (0.2)
                       1           -0.98 (0.19)
              TENOISE -2           -1.14 (0.22)
                      -1           -1.17 (0.11)
                       0           -1.11 (0.32)
                       1           -1.29 (0.01)
      sc      TE      -2            -0.91 (0.3)
                      -1           -0.93 (0.28)
                       0           -1.22 (0.01)
                       1            -1.0 (0.33)
              TEDAM   -2           -0.78 (0.27)
                      -1           -0.78 (0.27)
                       0           -1.03 (0.04)
                       1           -0.76 (0.28)
              TENOISE -2           -0.88 (0.29)
                      -1             -0.9 (0.3)
                       0           -1.21 (0.04)
                       1           -1.02 (0.32)

In [48]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )
df_path = df_filt.path.apply(lambda x:'/'.join(x))

df = pd.concat([df_config, df_summary, df_path],axis=1)

q=(df['dataset']=='P12') & (df['setting']=='mc2') & (df['INPUT']=='TEDAM') & (df['diag_offset']==1) & (df['test_center']=='1')
# df[q]
# list(df.columns)
df.loc[q,'path']

115    hokarami/TEEDAM_unsupervised/zo2u72u2
Name: path, dtype: object

# Table III

In [ ]:
df_filt = dl_runs(runs, selected_tag='H50')

In [ ]:
i_groupby_row =['dataset','setting','test_center']
i_groupby_col = ['event_enc','mod']
i_groupby_col=['INPUT','OUTPUT']
i_agg = ['split']
i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC','Best-Test-pred_label/AUROC']
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),2))  + ' (' + str(round(x.std(),2))  +')'  ) #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_excel("aaa.xlsx")

In [ ]:
df

# CIF

In [ ]:
df_filt = dl_runs(runs, selected_tag='CIF')

df_filt.iloc[0].config.keys()

In [ ]:
i_groupby_row =['dataset','setting',]
i_groupby_col = ['state']
i_agg = ['test_center','split']
# i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC']
i_metric = ['Test-CIF/NLL-#events']


#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)#.dropna(axis=1,how='all')
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df





a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(['mean','std']).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),3))  + ' (' + str(round(x.std(),3))  +')' )

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_csv("aaa.csv")