In [1]:
# activate line execution
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# plotly
import plotly.express as px  # (version 4.7.0 or higher)
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import numpy as np

In [2]:
# !pip install wandb -qqq
import os
os.environ["WANDB_API_KEY"] = "0f780ac8a470afe6cb7fc474ff3794772c660465"

os.environ["WANDB_NOTEBOOK_NAME"] = "jup_res"

import wandb
# wandb.login()
api = wandb.Api()





# selected_tag = 'Pred'

runs = api.runs("hokarami/TEEDAM_supervised")

In [3]:
import pandas as pd 


# Project is specified by <entity/project-name>
def dl_runs(all_runs, selected_tag=None):




    summary_list, config_list, name_list, path_list = [], [], [], []
    for run in all_runs: 

        if (selected_tag not in run.tags) and (selected_tag is not None):
            continue
        # .summary contains the output keys/values for metrics like accuracy.
        #  We call ._json_dict to omit large files 
        summary_list.append(run.summary._json_dict)

        # .config contains the hyperparameters.
        #  We remove special values that start with _.
        

        config_list.append(
            {k: v for k,v in run.config.items()
            if not k.startswith('_')})

        # .name is the human-readable name of the run.
        name_list.append(run.name)
        path_list.append(run.path)

    runs_df = pd.DataFrame({
        "summary": summary_list,
        "config": config_list,
        "name": name_list,
        "path": path_list

        })

    # runs_df.to_csv("project.csv")
    return runs_df

In [4]:
# q = runs_df['name'].str.contains('\[R2-')
# runs_df = runs_df[q]


runs_df = dl_runs(runs, selected_tag='H20')

runs_df
runs_df.iloc[0].summary.keys()
runs_df.iloc[0].config.keys()

,summary,config,name,path
0,"{'Test-pred_label/loss': 0, 'Valid-pred_label/...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1664731,"[hokarami, TEEDAM_supervised, 9clf36pk]"
1,{'Test-pred_label/f1-binary': 0.46385542168674...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1667036,"[hokarami, TEEDAM_supervised, pnmykvus]"
2,{'Valid-NextType(ML)/f1-weighted': 0.003235342...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1663219,"[hokarami, TEEDAM_supervised, p46b3dak]"
3,{'Valid-NextType(ML)/precision-weighted': 0.71...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1664506,"[hokarami, TEEDAM_supervised, 190vq9g0]"
4,{'Best-Valid-pred_label/AUROC': 0.875423728813...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1666267,"[hokarami, TEEDAM_supervised, 1f3o6it9]"
...,...,...,...,...
103,"{'Test-pred_label/AUPRC': 0.4978952325264376, ...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644008,"[hokarami, TEEDAM_supervised, tuemutjg]"
104,"{'time-Time/valid_epoch': 0.3132846593856812, ...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1649688,"[hokarami, TEEDAM_supervised, f0m4i8vr]"
105,{'Test-NextTime/rmse_norm': 1.2856769434031106...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644494,"[hokarami, TEEDAM_supervised, ocn3gpdj]"
106,"{'status': 'completed', '_runtime': 692.518157...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1646207,"[hokarami, TEEDAM_supervised, ifj23e5w]"
107,"{'status': 'completed', 'Test-pred_label/ACC':...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1643468,"[hokarami, TEEDAM_supervised, 7mzmcpzt]"

dict_keys(['Test-pred_label/loss', 'Valid-pred_label/f1-binary', 'Valid-pred_label/recall-binary', 'Best-Test-NextType(ML)/auc-ovo-weighted', '_timestamp', 'Valid-pred_label/AUPRC', 'Test-pred_label/f1-binary', 'Test-NextType(ML)/f1-weighted', 'Test-NextType(ML)/recall-weighted', 'Best-Test-NextType(ML)/f1-weighted', 'Best-Valid-NextType(ML)/auc-ovo-weighted', 'time-Time/train_epoch', '_runtime', 'Valid-pred_label/ACC', 'Valid-NextTime/rmse_norm', 'Best-Test-pred_label/AUPRC', 'Best-Test-pred_label/AUROC', 'Valid-NextType(ML)/f1-weighted', 'Test-NextType(ML)/auc-ovo-weighted', 'Obj', 'Valid-NextTime/msae', 'Best-Valid-pred_label/AUROC', 'Valid-NextType(ML)/recall-weighted', 'Test-NextTime/RMSE', 'time-Time/valid_epoch', 'Valid-pred_label/AUROC', 'Best-Valid-pred_label/f1-binary', 'Test-pred_label/precision-binary', 'Valid-NextType(ML)/auc-ovo-weighted', '_step', 'Valid-NextTime/RMSE', 'Test-pred_label/AUROC', 'Valid-pred_label/loss', 'Valid-pred_label/precision-binary', 'Test-pred_label/ACC', 'Test-pred_label/AUPRC', 'Test-NextTime/rmse_norm', 'Valid-NextType(ML)/auc-PR-weighted', 'Valid-NextType(ML)/precision-weighted', 'Test-NextTime/msae', 'Test-pred_label/recall-binary', 'Best-Test-pred_label/f1-binary', 'Test-NextType(ML)/auc-PR-weighted', 'Best-Valid-NextType(ML)/f1-weighted', 'Test-NextType(ML)/precision-weighted', 'Best-Valid-pred_label/AUPRC'])

dict_keys(['w', 'lr', 'log', 'mod', 'per', 'cuda', 'data', 'date', 'demo', 'prof', 'INPUT', 'epoch', 'noise', 'split', 'state', 'w_pos', 'wandb', 'ES_pat', 'OUTPUT', 'device', 'freeze', 'run_id', 'smooth', 'te_d_k', 'te_d_v', 'w_time', 'dataset', 'int_dec', 'setting', 'w_class', 'w_event', 'log_freq', 'run_name', 'run_path', 'te_d_rnn', 'time_enc', 'TE_config', 'event_enc', 'next_mark', 'num_demos', 'num_marks', 'num_types', 'pos_alpha', 'te_d_mark', 'te_d_time', 'te_n_head', 'type_loss', 'CIF_config', 'DAM_config', 'batch_size', 'data_label', 'num_states', 'pos_weight', 'str_config', 'te_d_inner', 'te_dropout', 'testloader', 'demo_config', 'mark_detach', 'te_n_layers', 'test_center', 'trainloader', 'user_prefix', 'validloader', 'w_pos_label', 'NOISE_config', 'label_config', 'sample_label', 'weight_decay', 'hparams2write', 'wandb_project', 'balanced_batch', 'label_loss_fun', 'pred_loss_func', 'w_sample_label', 'dict_map_events', 'dict_map_states', 'next_time_config', 'next_type_config', 'transfer_learning'])

# Table I
Effect of time concatenation and single+mark

In [5]:
runs = api.runs("hokarami/TEEDAM_unsupervised_timeCat")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,"{'Valid-NextType(MC)/acc': 0.5067098105126473,...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_mc-sum-d1]1888307-,"[hokarami, TEEDAM_unsupervised_timeCat, swclgn94]"
1,"{'Test-NextType(ML)/f1-weighted-CIF': 0, 'Vali...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-concat-d1]1846111-,"[hokarami, TEEDAM_unsupervised_timeCat, ngompq5p]"
2,{'Test-NextType(ML)/f1-weighted': 0.1698214655...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-sum-d1]1847764-,"[hokarami, TEEDAM_unsupervised_timeCat, usls7sls]"
3,"{'Test-NextTime/RMSE': 3.4010276304092084, 'ti...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-concat-d1]1848546-,"[hokarami, TEEDAM_unsupervised_timeCat, rq60tih1]"
4,{'Best-Test-CIF/LL-#events': -4.82887770046604...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-sum-d1]1843295-,"[hokarami, TEEDAM_unsupervised_timeCat, mtuvvfln]"
...,...,...,...,...
374,{'Valid-NextType(ML)/precision-weighted': 0.34...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1785157-,"[hokarami, TEEDAM_unsupervised_timeCat, j9z1o2jy]"
375,{'Test-NextType(MC)/f1-macro': 0.4492456530605...,"{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__nextmark-concat-d-2]1787979-,"[hokarami, TEEDAM_unsupervised_timeCat, imm1g4my]"
376,{'Valid-NextType(ML)/precision-weighted': 0.28...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1787649-,"[hokarami, TEEDAM_unsupervised_timeCat, me3gzd7s]"
377,{'Test-NextTime/rmse_norm': 293.05339260175583...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786183-,"[hokarami, TEEDAM_unsupervised_timeCat, i0kftsh7]"
378,"{'Test-NextTime/RMSE': 0.9588277349512668, 'ti...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786368-,"[hokarami, TEEDAM_unsupervised_timeCat, 20vy98q0]"

In [45]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['mod','diag_offset','time_enc']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted','Best-Test-NextType(MC)/f1-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC','Best-Test-NextType(MC)/f1-weighted':'F1-Score'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')


a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  ).reset_index() #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'



df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

                               value                                         \
mod                        PP(ML/MC)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.35(nan)    0.52(nan)    0.35(nan)
             LL/#events  -10.28(nan)  -22.16(nan)  -12.02(nan)  -18.85(nan)
Retweets(ML) AUROC        0.74(0.01)   0.72(0.01)   0.74(0.01)   0.72(0.01)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.34(0.03)  -1.58(0.03)  -1.50(0.05)  -1.58(0.03)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.33(0.01)   0.33(0.01)   0.33(0.01)   0.32(0.00)
             LL/#events  -2.02(0.02)  -2.02(0.02)  -2.02(0.01)  -2.04(0.01)
Synthea      AUROC        0.58(0.02)   0.59(0.05)   0.60(0.02)   0.61(0.04)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -5.49(0.49)  -5.43(0.48)  -5.54(0.46)  -5.35(0.41)

                                                                             \
mod
diag_offset                        0                         1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.45(nan)    0.44(nan)    0.44(nan)
             LL/#events  -16.29(nan)  -13.22(nan)  -12.03(nan)  -21.68(nan)
Retweets(ML) AUROC        0.74(0.02)   0.71(0.02)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.49(0.03)  -1.60(0.04)  -1.67(0.04)  -1.68(0.05)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.32(0.00)   0.32(0.00)   0.32(0.01)   0.32(0.00)
             LL/#events  -2.04(0.01)  -2.05(0.01)  -2.08(0.05)  -2.07(0.02)
Synthea      AUROC        0.60(0.05)   0.60(0.05)   0.57(0.06)   0.61(0.05)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -5.50(0.46)  -5.33(0.42)  -5.61(0.41)  -5.26(0.39)

                                                 ...                          \
mod                              AE              ...
diag_offset                      -2              ...           1
time_enc                     concat         sum  ...      concat         sum
dataset      Metric                              ...
Retweets(MC) AUROC         nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             F1-Score     0.63(nan)   0.62(nan)  ...   0.59(nan)   0.59(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
Retweets(ML) AUROC       0.71(0.02)  0.69(0.03)  ...  0.66(0.03)  0.66(0.03)
             F1-Score      nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
SO           AUROC         nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             F1-Score    0.38(0.01)  0.36(0.01)  ...  0.32(0.01)  0.33(0.00)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
Synthea      AUROC       0.90(0.00)  0.89(0.01)  ...  0.84(0.05)  0.87(0.03)
             F1-Score      nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)

                                                                             \
mod                       PP(single)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.57(nan)    0.56(nan)    0.53(nan)    0.54(nan)
             LL/#events   -6.79(nan)   -7.96(nan)   -6.64(nan)  -10.34(nan)
Retweets(ML) AUROC        0.71(0.02)   0.68(0.04)   0.70(0.03)   0.68(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   1.99(0.06)   1.86(0.09)   2.02(0.05)   1.87(0.10)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.37(0.01)   0.35(0.00)   0.38(0.01)   0.35(0.01)
             LL/#events  -0.51(0.01)  -0.54(0.01)  -0.50(0.01)  -0.54(0.01)
Synthea      AUROC        0.65(0.04)   0.65(0.05)   0.65(0.05)   0.64(0.06)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.96(0.25)  -2.04(0.49)  -1.99(0.27)  -2.06(0.56)


mod
diag_offset                        0                         1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.57(nan)    0.54(nan)    0.56(nan)    0.32(nan)
             LL/#events   -6.58(nan)  -10.03(nan)   -6.44(nan)   -9.02(nan)
Retweets(ML) AUROC        0.70(0.03)   0.68(0.03)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   2.08(0.05)   1.85(0.11)   2.06(0.01)   1.87(0.07)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.36(0.01)   0.34(0.00)   0.33(0.00)   0.33(0.00)
             LL/#events  -0.53(0.01)  -0.55(0.01)  -0.59(0.01)  -0.60(0.01)
Synthea      AUROC        0.64(0.04)   0.64(0.04)   0.62(0.05)   0.62(0.04)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.97(0.26)  -2.10(0.55)  -1.97(0.17)  -1.92(0.19)

[12 rows x 24 columns]

In [59]:
df_result2 = df_result.transpose().sort_values(by=i_groupby_col,axis=0)

# df_result2

df_result2 = df_result2.replace('nan(nan)', np.nan).replace(r'\(nan\)$', '',regex=True).dropna(how='all', axis=1).replace(np.nan, '')

df_result2

dataset                               Retweets(MC)            Retweets(ML)  \
Metric                                    F1-Score LL/#events        AUROC
      mod        diag_offset time_enc
value AE         -2          concat           0.63              0.71(0.02)
                             sum              0.62              0.69(0.03)
                 -1          concat           0.63              0.71(0.02)
                             sum              0.62              0.69(0.02)
                  0          concat           0.63              0.70(0.03)
                             sum              0.61              0.69(0.03)
                  1          concat           0.59              0.66(0.03)
                             sum              0.59              0.66(0.03)
      PP(ML/MC)  -2          concat           0.53     -10.28   0.74(0.01)
                             sum              0.35     -22.16   0.72(0.01)
                 -1          concat           0.52     -12.02   0.74(0.01)
                             sum              0.35     -18.85   0.72(0.01)
                  0          concat           0.53     -16.29   0.74(0.02)
                             sum              0.45     -13.22   0.71(0.02)
                  1          concat           0.44     -12.03   0.66(0.03)
                             sum              0.44     -21.68   0.66(0.03)
      PP(single) -2          concat           0.57      -6.79   0.71(0.02)
                             sum              0.56      -7.96   0.68(0.04)
                 -1          concat           0.53      -6.64   0.70(0.03)
                             sum              0.54     -10.34   0.68(0.03)
                  0          concat           0.57      -6.58   0.70(0.03)
                             sum              0.54     -10.03   0.68(0.03)
                  1          concat           0.56      -6.44   0.66(0.03)
                             sum              0.32      -9.02   0.66(0.03)

dataset                                                     SO               \
Metric                                  LL/#events    F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat                 0.38(0.01)
                             sum                    0.36(0.01)
                 -1          concat                 0.39(0.01)
                             sum                    0.35(0.02)
                  0          concat                 0.38(0.02)
                             sum                    0.34(0.01)
                  1          concat                 0.32(0.01)
                             sum                    0.33(0.00)
      PP(ML/MC)  -2          concat    -1.34(0.03)  0.33(0.01)  -2.02(0.02)
                             sum       -1.58(0.03)  0.33(0.01)  -2.02(0.02)
                 -1          concat    -1.50(0.05)  0.33(0.01)  -2.02(0.01)
                             sum       -1.58(0.03)  0.32(0.00)  -2.04(0.01)
                  0          concat    -1.49(0.03)  0.32(0.00)  -2.04(0.01)
                             sum       -1.60(0.04)  0.32(0.00)  -2.05(0.01)
                  1          concat    -1.67(0.04)  0.32(0.01)  -2.08(0.05)
                             sum       -1.68(0.05)  0.32(0.00)  -2.07(0.02)
      PP(single) -2          concat     1.99(0.06)  0.37(0.01)  -0.51(0.01)
                             sum        1.86(0.09)  0.35(0.00)  -0.54(0.01)
                 -1          concat     2.02(0.05)  0.38(0.01)  -0.50(0.01)
                             sum        1.87(0.10)  0.35(0.01)  -0.54(0.01)
                  0          concat     2.08(0.05)  0.36(0.01)  -0.53(0.01)
                             sum        1.85(0.11)  0.34(0.00)  -0.55(0.01)
                  1          concat     2.06(0.01)  0.33(0.00)  -0.59(0.01)
                             sum        1.87(0.07)  0.33(0.00)  -0.60(0.01)

dataset                                   Synthea
Metric                                      AUROC   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat    0.90(0.00)
                             sum       0.89(0.01)
                 -1          concat    0.90(0.01)
                             sum       0.89(0.01)
                  0          concat    0.90(0.01)
                             sum       0.86(0.06)
                  1          concat    0.84(0.05)
                             sum       0.87(0.03)
      PP(ML/MC)  -2          concat    0.58(0.02)  -5.49(0.49)
                             sum       0.59(0.05)  -5.43(0.48)
                 -1          concat    0.60(0.02)  -5.54(0.46)
                             sum       0.61(0.04)  -5.35(0.41)
                  0          concat    0.60(0.05)  -5.50(0.46)
                             sum       0.60(0.05)  -5.33(0.42)
                  1          concat    0.57(0.06)  -5.61(0.41)
                             sum       0.61(0.05)  -5.26(0.39)
      PP(single) -2          concat    0.65(0.04)  -1.96(0.25)
                             sum       0.65(0.05)  -2.04(0.49)
                 -1          concat    0.65(0.05)  -1.99(0.27)
                             sum       0.64(0.06)  -2.06(0.56)
                  0          concat    0.64(0.04)  -1.97(0.26)
                             sum       0.64(0.04)  -2.10(0.55)
                  1          concat    0.62(0.05)  -1.97(0.17)
                             sum       0.62(0.04)  -1.92(0.19)

In [28]:
a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate('mean').round(3).reset_index()


a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'

a1

q = a1['mod']=='PP(ML/MC)'

a1.loc[q,'LL/#events'].corr(a1.loc[q,'LL/#events'])

,dataset,mod,diag_offset,time_enc,LL/#events,AUROC,F1-Score
0,Retweets(MC),PP(ML/MC),-2,concat,-10.283,NaN,0.532
1,Retweets(MC),PP(ML/MC),-2,sum,-22.161,NaN,0.353
2,Retweets(MC),PP(ML/MC),-1,concat,-12.020,NaN,0.522
3,Retweets(MC),PP(ML/MC),-1,sum,-18.847,NaN,0.354
4,Retweets(MC),PP(ML/MC),0,concat,-16.285,NaN,0.527
...,...,...,...,...,...,...,...
91,Synthea,PP(single),-1,sum,-2.064,0.643,NaN
92,Synthea,PP(single),0,concat,-1.971,0.643,NaN
93,Synthea,PP(single),0,sum,-2.104,0.637,NaN
94,Synthea,PP(single),1,concat,-1.970,0.617,NaN
95,Synthea,PP(single),1,sum,-1.921,0.616,NaN

1.0

# Table II

In [60]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,{'Best-Valid-CIF/LL-#events': -1.7684903034184...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d1]1829782,"[hokarami, TEEDAM_unsupervised, uywi9re7]"
1,"{'Valid-NextTime/RMSE': 2.9328233168054396, 't...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d1]1826370,"[hokarami, TEEDAM_unsupervised, ug2j9m63]"
2,"{'time-Time/valid_epoch': 0.05205366611480713,...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d1]1826977,"[hokarami, TEEDAM_unsupervised, k1nxz0bx]"
3,{'Test-NextType(ML)/precision-weighted': 0.663...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d1]1826165,"[hokarami, TEEDAM_unsupervised, tfc61fwc]"
4,"{'_timestamp': 1679105799.557787, 'Test-NextTy...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d1]1829468,"[hokarami, TEEDAM_unsupervised, ps3shtv5]"
...,...,...,...,...
322,"{'Valid-NextTime/RMSE': 2.233386253939127, 'Va...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d0]1812001,"[hokarami, TEEDAM_unsupervised, 0uieu33u]"
323,{'Test-NextType(ML)/auc-ovo-weighted': 0.76694...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d0]1815417,"[hokarami, TEEDAM_unsupervised, h92l1xxh]"
324,{'Valid-NextType(ML)/f1-weighted': 0.389140734...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d0]1816784,"[hokarami, TEEDAM_unsupervised, 1bw8qcvh]"
325,"{'_step': 100, 'Valid-CIF/NLL': 109311.6875, '...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d0]1811644,"[hokarami, TEEDAM_unsupervised, acszp6or]"
326,"{'Valid-NextTime/msae': 1.4048536564698102, 'V...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d0]1818231,"[hokarami, TEEDAM_unsupervised, dioawdee]"

In [61]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['setting','INPUT','diag_offset']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),2))  + ' (' + str(round(x.std(),2))  +')'  ).reset_index() #  


# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

# a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
# a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
# a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'





df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

   dataset setting    INPUT  diag_offset    LL/#events        AUROC
0      P12     mc1       TE            0  -1.34 (0.05)  0.79 (0.06)
1      P12     mc1       TE            1  -1.45 (0.09)  0.66 (0.09)
2      P12     mc1    TEDAM            0  -1.32 (0.04)  0.81 (0.05)
3      P12     mc1    TEDAM            1  -1.34 (0.08)  0.79 (0.06)
4      P12     mc1  TENOISE            0  -1.35 (0.05)  0.78 (0.06)
5      P12     mc1  TENOISE            1  -1.43 (0.06)  0.67 (0.06)
6      P12     mc2       TE            0  -1.35 (0.02)  0.77 (0.01)
7      P12     mc2       TE            1  -1.36 (0.04)  0.75 (0.03)
8      P12     mc2    TEDAM            0  -1.31 (0.02)  0.84 (0.02)
9      P12     mc2    TEDAM            1  -1.38 (0.05)  0.74 (0.05)
10     P12     mc2  TENOISE            0  -1.35 (0.04)  0.78 (0.07)
11     P12     mc2  TENOISE            1  -1.44 (0.05)  0.67 (0.08)
12     P12      sc       TE            0  -1.39 (0.03)  0.74 (0.07)
13     P12      sc       TE            1  -1.53 (0.06)  0.57 (0.05)
14     P12      sc    TEDAM            0  -1.37 (0.03)  0.76 (0.04)
15     P12      sc    TEDAM            1  -1.41 (0.02)  0.71 (0.03)
16     P12      sc  TENOISE            0   -1.4 (0.03)  0.73 (0.05)
17     P12      sc  TENOISE            1  -1.53 (0.06)  0.57 (0.05)
18     P19     mc1       TE            0  -0.72 (0.17)  0.76 (0.06)
19     P19     mc1       TE            1  -0.57 (0.09)  0.71 (0.08)
20     P19     mc1    TEDAM            0  -0.56 (0.24)  0.83 (0.09)
21     P19     mc1    TEDAM            1  -0.55 (0.06)  0.75 (0.06)
22     P19     mc1  TENOISE            0   -0.71 (0.2)  0.81 (0.05)
23     P19     mc1  TENOISE            1  -0.78 (0.26)  0.64 (0.11)
24     P19     mc2       TE            0  -1.15 (0.32)  0.64 (0.01)
25     P19     mc2       TE            1   -1.1 (0.16)   0.6 (0.12)
26     P19     mc2    TEDAM            0   -0.95 (0.2)  0.78 (0.06)
27     P19     mc2    TEDAM            1  -0.98 (0.19)  0.69 (0.08)
28     P19     mc2  TENOISE            0  -1.11 (0.32)  0.65 (0.03)
29     P19     mc2  TENOISE            1  -1.29 (0.01)  0.57 (0.08)
30     P19      sc       TE            0  -1.22 (0.01)  0.85 (0.04)
31     P19      sc       TE            1   -1.0 (0.33)  0.67 (0.09)
32     P19      sc    TEDAM            0  -1.03 (0.04)   0.9 (0.03)
33     P19      sc    TEDAM            1  -0.86 (0.31)   0.8 (0.06)
34     P19      sc  TENOISE            0  -1.21 (0.04)  0.81 (0.06)
35     P19      sc  TENOISE            1   -1.1 (0.38)  0.65 (0.08)

                           value                                            \
setting                      mc1
INPUT                         TE                       TEDAM
diag_offset                    0             1             0             1
dataset Metric
P12     AUROC        0.79 (0.06)   0.66 (0.09)   0.81 (0.05)   0.79 (0.06)
        LL/#events  -1.34 (0.05)  -1.45 (0.09)  -1.32 (0.04)  -1.34 (0.08)
P19     AUROC        0.76 (0.06)   0.71 (0.08)   0.83 (0.09)   0.75 (0.06)
        LL/#events  -0.72 (0.17)  -0.57 (0.09)  -0.56 (0.24)  -0.55 (0.06)

                                                                            \
setting                                                  mc2
INPUT                    TENOISE                          TE
diag_offset                    0             1             0             1
dataset Metric
P12     AUROC        0.78 (0.06)   0.67 (0.06)   0.77 (0.01)   0.75 (0.03)
        LL/#events  -1.35 (0.05)  -1.43 (0.06)  -1.35 (0.02)  -1.36 (0.04)
P19     AUROC        0.81 (0.05)   0.64 (0.11)   0.64 (0.01)    0.6 (0.12)
        LL/#events   -0.71 (0.2)  -0.78 (0.26)  -1.15 (0.32)   -1.1 (0.16)

                                                                            \
setting
INPUT                      TEDAM                     TENOISE
diag_offset                    0             1             0             1
dataset Metric
P12     AUROC        0.84 (0.02)   0.74 (0.05)   0.78 (0.07)   0.67 (0.08)
        LL/#events  -1.31 (0.02)  -1.38 (0.05)  -1.35 (0.04)  -1.44 (0.05)
P19     AUROC        0.78 (0.06)   0.69 (0.08)   0.65 (0.03)   0.57 (0.08)
        LL/#events   -0.95 (0.2)  -0.98 (0.19)  -1.11 (0.32)  -1.29 (0.01)

                                                                            \
setting                       sc
INPUT                         TE                       TEDAM
diag_offset                    0             1             0             1
dataset Metric
P12     AUROC        0.74 (0.07)   0.57 (0.05)   0.76 (0.04)   0.71 (0.03)
        LL/#events  -1.39 (0.03)  -1.53 (0.06)  -1.37 (0.03)  -1.41 (0.02)
P19     AUROC        0.85 (0.04)   0.67 (0.09)    0.9 (0.03)    0.8 (0.06)
        LL/#events  -1.22 (0.01)   -1.0 (0.33)  -1.03 (0.04)  -0.86 (0.31)


setting
INPUT                    TENOISE
diag_offset                    0             1
dataset Metric
P12     AUROC        0.73 (0.05)   0.57 (0.05)
        LL/#events   -1.4 (0.03)  -1.53 (0.06)
P19     AUROC        0.81 (0.06)   0.65 (0.08)
        LL/#events  -1.21 (0.04)   -1.1 (0.38)

In [62]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

df_result.transpose().sort_values(by=i_groupby_col,axis=0)

dataset                                    P12                        P19  \
Metric                                   AUROC    LL/#events        AUROC
      setting INPUT   diag_offset
value mc1     TE      0            0.79 (0.06)  -1.34 (0.05)  0.76 (0.06)
                      1            0.66 (0.09)  -1.45 (0.09)  0.71 (0.08)
              TEDAM   0            0.81 (0.05)  -1.32 (0.04)  0.83 (0.09)
                      1            0.79 (0.06)  -1.34 (0.08)  0.75 (0.06)
              TENOISE 0            0.78 (0.06)  -1.35 (0.05)  0.81 (0.05)
                      1            0.67 (0.06)  -1.43 (0.06)  0.64 (0.11)
      mc2     TE      0            0.77 (0.01)  -1.35 (0.02)  0.64 (0.01)
                      1            0.75 (0.03)  -1.36 (0.04)   0.6 (0.12)
              TEDAM   0            0.84 (0.02)  -1.31 (0.02)  0.78 (0.06)
                      1            0.74 (0.05)  -1.38 (0.05)  0.69 (0.08)
              TENOISE 0            0.78 (0.07)  -1.35 (0.04)  0.65 (0.03)
                      1            0.67 (0.08)  -1.44 (0.05)  0.57 (0.08)
      sc      TE      0            0.74 (0.07)  -1.39 (0.03)  0.85 (0.04)
                      1            0.57 (0.05)  -1.53 (0.06)  0.67 (0.09)
              TEDAM   0            0.76 (0.04)  -1.37 (0.03)   0.9 (0.03)
                      1            0.71 (0.03)  -1.41 (0.02)   0.8 (0.06)
              TENOISE 0            0.73 (0.05)   -1.4 (0.03)  0.81 (0.06)
                      1            0.57 (0.05)  -1.53 (0.06)  0.65 (0.08)

dataset
Metric                               LL/#events
      setting INPUT   diag_offset
value mc1     TE      0            -0.72 (0.17)
                      1            -0.57 (0.09)
              TEDAM   0            -0.56 (0.24)
                      1            -0.55 (0.06)
              TENOISE 0             -0.71 (0.2)
                      1            -0.78 (0.26)
      mc2     TE      0            -1.15 (0.32)
                      1             -1.1 (0.16)
              TEDAM   0             -0.95 (0.2)
                      1            -0.98 (0.19)
              TENOISE 0            -1.11 (0.32)
                      1            -1.29 (0.01)
      sc      TE      0            -1.22 (0.01)
                      1             -1.0 (0.33)
              TEDAM   0            -1.03 (0.04)
                      1            -0.86 (0.31)
              TENOISE 0            -1.21 (0.04)
                      1             -1.1 (0.38)

In [48]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )
df_path = df_filt.path.apply(lambda x:'/'.join(x))

df = pd.concat([df_config, df_summary, df_path],axis=1)

q=(df['dataset']=='P12') & (df['setting']=='mc2') & (df['INPUT']=='TEDAM') & (df['diag_offset']==1) & (df['test_center']=='1')
# df[q]
# list(df.columns)
df.loc[q,'path']

115    hokarami/TEEDAM_unsupervised/zo2u72u2
Name: path, dtype: object

# Table III

In [10]:
runs = api.runs("hokarami/TEEDAM_supervised")
df_filt = dl_runs(runs, selected_tag='H70TL')
len(df_filt)

62

In [11]:
i_groupby_row =['dataset','setting','test_center']
i_groupby_col = ['event_enc','mod']
i_groupby_col=['INPUT','OUTPUT']
i_agg = ['split']
i_metric = ['knn-ps-mean','Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC','Best-Test-pred_label/AUROC']
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),2))  + ' (' + str(round(x.std(),2))  +')'  ) #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_excel("aaa.xlsx")

,dataset,setting,test_center,INPUT,OUTPUT,split,knn-ps-mean,Best-Test-pred_label/f1-binary,Best-Test-pred_label/AUPRC,Best-Test-pred_label/AUROC
0,P12,sc,2,DAM,none-mark-label,3,0.857327,0.517007,0.451155,0.837816
1,P12,sc,2,DAM,none-mark-label,2,0.828280,0.569343,0.578329,0.846310
2,P12,sc,2,TEDAM,none-mark-label,1,0.877069,0.490446,0.448609,0.815522
3,P12,sc,2,DAM,none-mark-label,1,0.839417,0.531469,0.473318,0.836510
4,P12,sc,2,TEDAM,none-mark-label,0,0.914336,0.553191,0.529700,0.866019
...,...,...,...,...,...,...,...,...,...,...
57,P12,mc1,0,DAM,none-mark-label,1,0.844747,0.570248,0.537034,0.877346
58,P12,mc1,0,DAM,none-mark-label,0,0.832651,0.577236,0.621682,0.874824
59,P12,mc2,2,DAM,none-mark-label,,0.836968,0.527397,0.538689,0.849872
60,P12,mc2,1,DAM,none-mark-label,,0.867372,0.535262,0.528863,0.855661
61,P12,mc2,0,DAM,none-mark-label,,0.857136,0.504913,0.501068,0.840504

                                                   knn-ps-mean  \
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label  0.84 (0.01)
                            TEDAM none-mark-label   0.9 (0.02)
                1           DAM   none-mark-label  0.85 (0.02)
                            TEDAM none-mark-label  0.91 (0.02)
                2           DAM   none-mark-label  0.84 (0.01)
                            TEDAM none-mark-label   0.9 (0.01)
        mc2     0           DAM   none-mark-label   0.86 (nan)
                            TEDAM none-mark-label   0.93 (nan)
                1           DAM   none-mark-label   0.87 (nan)
                            TEDAM none-mark-label   0.91 (nan)
                2           DAM   none-mark-label   0.84 (nan)
                            TEDAM none-mark-label   0.92 (nan)
        sc      0           DAM   none-mark-label  0.82 (0.01)
                            TEDAM none-mark-label   0.9 (0.01)
                1           DAM   none-mark-label  0.85 (0.01)
                            TEDAM none-mark-label  0.89 (0.03)
                2           DAM   none-mark-label  0.84 (0.01)
                            TEDAM none-mark-label   0.9 (0.03)

                                                  Best-Test-pred_label/f1-binary  \
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label                    0.53 (0.04)
                            TEDAM none-mark-label                    0.52 (0.04)
                1           DAM   none-mark-label                    0.56 (0.03)
                            TEDAM none-mark-label                    0.55 (0.05)
                2           DAM   none-mark-label                    0.57 (0.05)
                            TEDAM none-mark-label                    0.56 (0.05)
        mc2     0           DAM   none-mark-label                      0.5 (nan)
                            TEDAM none-mark-label                      0.5 (nan)
                1           DAM   none-mark-label                     0.54 (nan)
                            TEDAM none-mark-label                     0.54 (nan)
                2           DAM   none-mark-label                     0.53 (nan)
                            TEDAM none-mark-label                     0.53 (nan)
        sc      0           DAM   none-mark-label                    0.48 (0.05)
                            TEDAM none-mark-label                     0.5 (0.06)
                1           DAM   none-mark-label                    0.53 (0.03)
                            TEDAM none-mark-label                    0.46 (0.04)
                2           DAM   none-mark-label                    0.52 (0.05)
                            TEDAM none-mark-label                    0.52 (0.04)

                                                  Best-Test-pred_label/AUPRC  \
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label                0.54 (0.05)
                            TEDAM none-mark-label                0.53 (0.05)
                1           DAM   none-mark-label                0.55 (0.05)
                            TEDAM none-mark-label                0.56 (0.05)
                2           DAM   none-mark-label                0.58 (0.06)
                            TEDAM none-mark-label                0.57 (0.05)
        mc2     0           DAM   none-mark-label                  0.5 (nan)
                            TEDAM none-mark-label                 0.49 (nan)
                1           DAM   none-mark-label                 0.53 (nan)
                            TEDAM none-mark-label                 0.53 (nan)
                2           DAM   none-mark-label                 0.54 (nan)
                            TEDAM none-mark-label                 0.54 (nan)
        sc      0           DAM   none-mark-label                0.46 (0.05)
                            TEDAM none-mark-label                0.49 (0.09)
                1           DAM   none-mark-label                0.52 (0.04)
                            TEDAM none-mark-label                0.42 (0.08)
                2           DAM   none-mark-label                0.47 (0.09)
                            TEDAM none-mark-label                0.49 (0.06)

                                                  Best-Test-pred_label/AUROC
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label                0.85 (0.03)
                            TEDAM none-mark-label                0.86 (0.02)
                1           DAM   none-mark-label                0.86 (0.01)
                            TEDAM none-mark-label                0.86 (0.01)
                2           DAM   none-mark-label                0.87 (0.02)
                            TEDAM none-mark-label                0.86 (0.02)
        mc2     0           DAM   none-mark-label                 0.84 (nan)
                            TEDAM none-mark-label                 0.84 (nan)
                1           DAM   none-mark-label                 0.86 (nan)
                            TEDAM none-mark-label                 0.86 (nan)
                2           DAM   none-mark-label                 0.85 (nan)
                            TEDAM none-mark-label                 0.85 (nan)
        sc      0           DAM   none-mark-label                0.82 (0.03)
                            TEDAM none-mark-label                0.82 (0.04)
                1           DAM   none-mark-label                0.84 (0.02)
                            TEDAM none-mark-label                 0.8 (0.05)
                2           DAM   none-mark-label                0.83 (0.03)
                            TEDAM none-mark-label                0.84 (0.04)

                                knn-ps-mean                  \
INPUT                                   DAM           TEDAM
OUTPUT                      none-mark-label none-mark-label
dataset setting test_center
P12     mc1     0               0.84 (0.01)      0.9 (0.02)
                1               0.85 (0.02)     0.91 (0.02)
                2               0.84 (0.01)      0.9 (0.01)
        mc2     0                0.86 (nan)      0.93 (nan)
                1                0.87 (nan)      0.91 (nan)
                2                0.84 (nan)      0.92 (nan)
        sc      0               0.82 (0.01)      0.9 (0.01)
                1               0.85 (0.01)     0.89 (0.03)
                2               0.84 (0.01)      0.9 (0.03)

                            Best-Test-pred_label/f1-binary                  \
INPUT                                                  DAM           TEDAM
OUTPUT                                     none-mark-label none-mark-label
dataset setting test_center
P12     mc1     0                              0.53 (0.04)     0.52 (0.04)
                1                              0.56 (0.03)     0.55 (0.05)
                2                              0.57 (0.05)     0.56 (0.05)
        mc2     0                                0.5 (nan)       0.5 (nan)
                1                               0.54 (nan)      0.54 (nan)
                2                               0.53 (nan)      0.53 (nan)
        sc      0                              0.48 (0.05)      0.5 (0.06)
                1                              0.53 (0.03)     0.46 (0.04)
                2                              0.52 (0.05)     0.52 (0.04)

                            Best-Test-pred_label/AUPRC                  \
INPUT                                              DAM           TEDAM
OUTPUT                                 none-mark-label none-mark-label
dataset setting test_center
P12     mc1     0                          0.54 (0.05)     0.53 (0.05)
                1                          0.55 (0.05)     0.56 (0.05)
                2                          0.58 (0.06)     0.57 (0.05)
        mc2     0                            0.5 (nan)      0.49 (nan)
                1                           0.53 (nan)      0.53 (nan)
                2                           0.54 (nan)      0.54 (nan)
        sc      0                          0.46 (0.05)     0.49 (0.09)
                1                          0.52 (0.04)     0.42 (0.08)
                2                          0.47 (0.09)     0.49 (0.06)

                            Best-Test-pred_label/AUROC
INPUT                                              DAM           TEDAM
OUTPUT                                 none-mark-label none-mark-label
dataset setting test_center
P12     mc1     0                          0.85 (0.03)     0.86 (0.02)
                1                          0.86 (0.01)     0.86 (0.01)
                2                          0.87 (0.02)     0.86 (0.02)
        mc2     0                           0.84 (nan)      0.84 (nan)
                1                           0.86 (nan)      0.86 (nan)
                2                           0.85 (nan)      0.85 (nan)
        sc      0                          0.82 (0.03)     0.82 (0.04)
                1                          0.84 (0.02)      0.8 (0.05)
                2                          0.83 (0.03)     0.84 (0.04)

# CIF

In [ ]:
df_filt = dl_runs(runs, selected_tag='CIF')

df_filt.iloc[0].config.keys()

In [ ]:
i_groupby_row =['dataset','setting',]
i_groupby_col = ['state']
i_agg = ['test_center','split']
# i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC']
i_metric = ['Test-CIF/NLL-#events']


#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)#.dropna(axis=1,how='all')
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df





a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(['mean','std']).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),3))  + ' (' + str(round(x.std(),3))  +')' )

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_csv("aaa.csv")