In [1]:
# activate line execution
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# plotly
import plotly.express as px  # (version 4.7.0 or higher)
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import numpy as np

In [2]:
# !pip install wandb -qqq
import os
os.environ["WANDB_API_KEY"] = "0f780ac8a470afe6cb7fc474ff3794772c660465"

os.environ["WANDB_NOTEBOOK_NAME"] = "jup_res"

import wandb
# wandb.login()
api = wandb.Api()





# selected_tag = 'Pred'

runs = api.runs("hokarami/TEEDAM_supervised")

In [3]:
import pandas as pd 


# Project is specified by <entity/project-name>
def dl_runs(all_runs, selected_tag=None):




    summary_list, config_list, name_list, path_list = [], [], [], []
    for run in all_runs: 

        if (selected_tag not in run.tags) and (selected_tag is not None):
            continue
        # .summary contains the output keys/values for metrics like accuracy.
        #  We call ._json_dict to omit large files 
        summary_list.append(run.summary._json_dict)

        # .config contains the hyperparameters.
        #  We remove special values that start with _.
        

        config_list.append(
            {k: v for k,v in run.config.items()
            if not k.startswith('_')})

        # .name is the human-readable name of the run.
        name_list.append(run.name)
        path_list.append(run.path)

    runs_df = pd.DataFrame({
        "summary": summary_list,
        "config": config_list,
        "name": name_list,
        "path": path_list

        })

    # runs_df.to_csv("project.csv")
    return runs_df

In [4]:
# q = runs_df['name'].str.contains('\[R2-')
# runs_df = runs_df[q]


runs_df = dl_runs(runs, selected_tag='RD74-table')

runs_df
runs_df.iloc[0].summary.keys()
runs_df.iloc[0].config.keys()

Empty DataFrame
Columns: [summary, config, name, path]
Index: []

IndexError: single positional indexer is out-of-bounds

# Table I
Effect of time concatenation and single+mark

In [59]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag= "TL70")

In [60]:
df_filt

Empty DataFrame
Columns: [summary, config, name, path]
Index: []

In [5]:
runs = api.runs("hokarami/TEEDAM_unsupervised_timeCat")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,"{'Valid-NextType(MC)/acc': 0.5067098105126473,...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_mc-sum-d1]1888307-,"[hokarami, TEEDAM_unsupervised_timeCat, swclgn94]"
1,"{'Test-NextType(ML)/f1-weighted-CIF': 0, 'Vali...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-concat-d1]1846111-,"[hokarami, TEEDAM_unsupervised_timeCat, ngompq5p]"
2,{'Test-NextType(ML)/f1-weighted': 0.1698214655...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-sum-d1]1847764-,"[hokarami, TEEDAM_unsupervised_timeCat, usls7sls]"
3,"{'Test-NextTime/RMSE': 3.4010276304092084, 'ti...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-concat-d1]1848546-,"[hokarami, TEEDAM_unsupervised_timeCat, rq60tih1]"
4,{'Best-Test-CIF/LL-#events': -4.82887770046604...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-sum-d1]1843295-,"[hokarami, TEEDAM_unsupervised_timeCat, mtuvvfln]"
...,...,...,...,...
374,{'Valid-NextType(ML)/precision-weighted': 0.34...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1785157-,"[hokarami, TEEDAM_unsupervised_timeCat, j9z1o2jy]"
375,{'Test-NextType(MC)/f1-macro': 0.4492456530605...,"{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__nextmark-concat-d-2]1787979-,"[hokarami, TEEDAM_unsupervised_timeCat, imm1g4my]"
376,{'Valid-NextType(ML)/precision-weighted': 0.28...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1787649-,"[hokarami, TEEDAM_unsupervised_timeCat, me3gzd7s]"
377,{'Test-NextTime/rmse_norm': 293.05339260175583...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786183-,"[hokarami, TEEDAM_unsupervised_timeCat, i0kftsh7]"
378,"{'Test-NextTime/RMSE': 0.9588277349512668, 'ti...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786368-,"[hokarami, TEEDAM_unsupervised_timeCat, 20vy98q0]"

In [45]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['mod','diag_offset','time_enc']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted','Best-Test-NextType(MC)/f1-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC','Best-Test-NextType(MC)/f1-weighted':'F1-Score'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')


a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  ).reset_index() #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'



df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

                               value                                         \
mod                        PP(ML/MC)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.35(nan)    0.52(nan)    0.35(nan)
             LL/#events  -10.28(nan)  -22.16(nan)  -12.02(nan)  -18.85(nan)
Retweets(ML) AUROC        0.74(0.01)   0.72(0.01)   0.74(0.01)   0.72(0.01)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.34(0.03)  -1.58(0.03)  -1.50(0.05)  -1.58(0.03)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.33(0.01)   0.33(0.01)   0.33(0.01)   0.32(0.00)
             LL/#events  -2.02(0.02)  -2.02(0.02)  -2.02(0.01)  -2.04(0.01)
Synthea      AUROC        0.58(0.02)   0.59(0.05)   0.60(0.02)   0.61(0.04)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -5.49(0.49)  -5.43(0.48)  -5.54(0.46)  -5.35(0.41)

                                                                             \
mod
diag_offset                        0                         1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.45(nan)    0.44(nan)    0.44(nan)
             LL/#events  -16.29(nan)  -13.22(nan)  -12.03(nan)  -21.68(nan)
Retweets(ML) AUROC        0.74(0.02)   0.71(0.02)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.49(0.03)  -1.60(0.04)  -1.67(0.04)  -1.68(0.05)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.32(0.00)   0.32(0.00)   0.32(0.01)   0.32(0.00)
             LL/#events  -2.04(0.01)  -2.05(0.01)  -2.08(0.05)  -2.07(0.02)
Synthea      AUROC        0.60(0.05)   0.60(0.05)   0.57(0.06)   0.61(0.05)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -5.50(0.46)  -5.33(0.42)  -5.61(0.41)  -5.26(0.39)

                                                 ...                          \
mod                              AE              ...
diag_offset                      -2              ...           1
time_enc                     concat         sum  ...      concat         sum
dataset      Metric                              ...
Retweets(MC) AUROC         nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             F1-Score     0.63(nan)   0.62(nan)  ...   0.59(nan)   0.59(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
Retweets(ML) AUROC       0.71(0.02)  0.69(0.03)  ...  0.66(0.03)  0.66(0.03)
             F1-Score      nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
SO           AUROC         nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             F1-Score    0.38(0.01)  0.36(0.01)  ...  0.32(0.01)  0.33(0.00)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
Synthea      AUROC       0.90(0.00)  0.89(0.01)  ...  0.84(0.05)  0.87(0.03)
             F1-Score      nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)

                                                                             \
mod                       PP(single)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.57(nan)    0.56(nan)    0.53(nan)    0.54(nan)
             LL/#events   -6.79(nan)   -7.96(nan)   -6.64(nan)  -10.34(nan)
Retweets(ML) AUROC        0.71(0.02)   0.68(0.04)   0.70(0.03)   0.68(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   1.99(0.06)   1.86(0.09)   2.02(0.05)   1.87(0.10)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.37(0.01)   0.35(0.00)   0.38(0.01)   0.35(0.01)
             LL/#events  -0.51(0.01)  -0.54(0.01)  -0.50(0.01)  -0.54(0.01)
Synthea      AUROC        0.65(0.04)   0.65(0.05)   0.65(0.05)   0.64(0.06)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.96(0.25)  -2.04(0.49)  -1.99(0.27)  -2.06(0.56)


mod
diag_offset                        0                         1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.57(nan)    0.54(nan)    0.56(nan)    0.32(nan)
             LL/#events   -6.58(nan)  -10.03(nan)   -6.44(nan)   -9.02(nan)
Retweets(ML) AUROC        0.70(0.03)   0.68(0.03)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   2.08(0.05)   1.85(0.11)   2.06(0.01)   1.87(0.07)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.36(0.01)   0.34(0.00)   0.33(0.00)   0.33(0.00)
             LL/#events  -0.53(0.01)  -0.55(0.01)  -0.59(0.01)  -0.60(0.01)
Synthea      AUROC        0.64(0.04)   0.64(0.04)   0.62(0.05)   0.62(0.04)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.97(0.26)  -2.10(0.55)  -1.97(0.17)  -1.92(0.19)

[12 rows x 24 columns]

In [59]:
df_result2 = df_result.transpose().sort_values(by=i_groupby_col,axis=0)

# df_result2

df_result2 = df_result2.replace('nan(nan)', np.nan).replace(r'\(nan\)$', '',regex=True).dropna(how='all', axis=1).replace(np.nan, '')

df_result2

dataset                               Retweets(MC)            Retweets(ML)  \
Metric                                    F1-Score LL/#events        AUROC
      mod        diag_offset time_enc
value AE         -2          concat           0.63              0.71(0.02)
                             sum              0.62              0.69(0.03)
                 -1          concat           0.63              0.71(0.02)
                             sum              0.62              0.69(0.02)
                  0          concat           0.63              0.70(0.03)
                             sum              0.61              0.69(0.03)
                  1          concat           0.59              0.66(0.03)
                             sum              0.59              0.66(0.03)
      PP(ML/MC)  -2          concat           0.53     -10.28   0.74(0.01)
                             sum              0.35     -22.16   0.72(0.01)
                 -1          concat           0.52     -12.02   0.74(0.01)
                             sum              0.35     -18.85   0.72(0.01)
                  0          concat           0.53     -16.29   0.74(0.02)
                             sum              0.45     -13.22   0.71(0.02)
                  1          concat           0.44     -12.03   0.66(0.03)
                             sum              0.44     -21.68   0.66(0.03)
      PP(single) -2          concat           0.57      -6.79   0.71(0.02)
                             sum              0.56      -7.96   0.68(0.04)
                 -1          concat           0.53      -6.64   0.70(0.03)
                             sum              0.54     -10.34   0.68(0.03)
                  0          concat           0.57      -6.58   0.70(0.03)
                             sum              0.54     -10.03   0.68(0.03)
                  1          concat           0.56      -6.44   0.66(0.03)
                             sum              0.32      -9.02   0.66(0.03)

dataset                                                     SO               \
Metric                                  LL/#events    F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat                 0.38(0.01)
                             sum                    0.36(0.01)
                 -1          concat                 0.39(0.01)
                             sum                    0.35(0.02)
                  0          concat                 0.38(0.02)
                             sum                    0.34(0.01)
                  1          concat                 0.32(0.01)
                             sum                    0.33(0.00)
      PP(ML/MC)  -2          concat    -1.34(0.03)  0.33(0.01)  -2.02(0.02)
                             sum       -1.58(0.03)  0.33(0.01)  -2.02(0.02)
                 -1          concat    -1.50(0.05)  0.33(0.01)  -2.02(0.01)
                             sum       -1.58(0.03)  0.32(0.00)  -2.04(0.01)
                  0          concat    -1.49(0.03)  0.32(0.00)  -2.04(0.01)
                             sum       -1.60(0.04)  0.32(0.00)  -2.05(0.01)
                  1          concat    -1.67(0.04)  0.32(0.01)  -2.08(0.05)
                             sum       -1.68(0.05)  0.32(0.00)  -2.07(0.02)
      PP(single) -2          concat     1.99(0.06)  0.37(0.01)  -0.51(0.01)
                             sum        1.86(0.09)  0.35(0.00)  -0.54(0.01)
                 -1          concat     2.02(0.05)  0.38(0.01)  -0.50(0.01)
                             sum        1.87(0.10)  0.35(0.01)  -0.54(0.01)
                  0          concat     2.08(0.05)  0.36(0.01)  -0.53(0.01)
                             sum        1.85(0.11)  0.34(0.00)  -0.55(0.01)
                  1          concat     2.06(0.01)  0.33(0.00)  -0.59(0.01)
                             sum        1.87(0.07)  0.33(0.00)  -0.60(0.01)

dataset                                   Synthea
Metric                                      AUROC   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat    0.90(0.00)
                             sum       0.89(0.01)
                 -1          concat    0.90(0.01)
                             sum       0.89(0.01)
                  0          concat    0.90(0.01)
                             sum       0.86(0.06)
                  1          concat    0.84(0.05)
                             sum       0.87(0.03)
      PP(ML/MC)  -2          concat    0.58(0.02)  -5.49(0.49)
                             sum       0.59(0.05)  -5.43(0.48)
                 -1          concat    0.60(0.02)  -5.54(0.46)
                             sum       0.61(0.04)  -5.35(0.41)
                  0          concat    0.60(0.05)  -5.50(0.46)
                             sum       0.60(0.05)  -5.33(0.42)
                  1          concat    0.57(0.06)  -5.61(0.41)
                             sum       0.61(0.05)  -5.26(0.39)
      PP(single) -2          concat    0.65(0.04)  -1.96(0.25)
                             sum       0.65(0.05)  -2.04(0.49)
                 -1          concat    0.65(0.05)  -1.99(0.27)
                             sum       0.64(0.06)  -2.06(0.56)
                  0          concat    0.64(0.04)  -1.97(0.26)
                             sum       0.64(0.04)  -2.10(0.55)
                  1          concat    0.62(0.05)  -1.97(0.17)
                             sum       0.62(0.04)  -1.92(0.19)

In [28]:
a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate('mean').round(3).reset_index()


a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'

a1

q = a1['mod']=='PP(ML/MC)'

a1.loc[q,'LL/#events'].corr(a1.loc[q,'LL/#events'])

,dataset,mod,diag_offset,time_enc,LL/#events,AUROC,F1-Score
0,Retweets(MC),PP(ML/MC),-2,concat,-10.283,NaN,0.532
1,Retweets(MC),PP(ML/MC),-2,sum,-22.161,NaN,0.353
2,Retweets(MC),PP(ML/MC),-1,concat,-12.020,NaN,0.522
3,Retweets(MC),PP(ML/MC),-1,sum,-18.847,NaN,0.354
4,Retweets(MC),PP(ML/MC),0,concat,-16.285,NaN,0.527
...,...,...,...,...,...,...,...
91,Synthea,PP(single),-1,sum,-2.064,0.643,NaN
92,Synthea,PP(single),0,concat,-1.971,0.643,NaN
93,Synthea,PP(single),0,sum,-2.104,0.637,NaN
94,Synthea,PP(single),1,concat,-1.970,0.617,NaN
95,Synthea,PP(single),1,sum,-1.921,0.616,NaN

1.0

# Table II

In [43]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,"{'Valid-pred_label/loss': 0, 'Best-Test-NextTi...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70HH-TEnoise__pp_single_mark-concat-d0]2118955,"[hokarami, TEEDAM_unsupervised, 6da0tdoz]"
1,"{'Test-CIF/#events': 36888, 'Test-NextTime/msa...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70HH-TEDA__pp_single_mark-concat-d0]2113072,"[hokarami, TEEDAM_unsupervised, vkl7fm3s]"
2,{'Test-NextType(ML)/auc-ovo-weighted': 0.70602...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70HH-TE__pp_single_mark-concat-d0]2113108,"[hokarami, TEEDAM_unsupervised, toqd29m3]"
3,{'Test-NextType(ML)/f1-weighted': 0.3194789836...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70HH-TE__pp_single_mark-concat-d0]2112420,"[hokarami, TEEDAM_unsupervised, xpgf03nt]"
4,"{'Valid-CIF/#events': 37941, 'Best-Valid-NextT...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70HH-TEnoise__pp_single_mark-concat-d0]2119973,"[hokarami, TEEDAM_unsupervised, jlzppisn]"
...,...,...,...,...
160,"{'Obj': 0.3610197368421053, 'Test-pred_label/A...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d0]1993968,"[hokarami, TEEDAM_unsupervised, 9n5cs2dt]"
161,"{'Valid-CIF/NLL': 210344.765625, 'Valid-CIF/#e...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d0]1999765,"[hokarami, TEEDAM_unsupervised, kbstsdnm]"
162,{'Test-NextType(ML)/precision-weighted': 0.423...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d0]1993078,"[hokarami, TEEDAM_unsupervised, f3kcjkiq]"
163,"{'_wandb': {'runtime': 4128}, 'Valid-NextTime/...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d0]1997768,"[hokarami, TEEDAM_unsupervised, yycj47wo]"
164,"{'time-Time/valid_epoch': 0.23543432553609211,...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d0]1994777,"[hokarami, TEEDAM_unsupervised, o0c086g2]"

In [34]:
i_groupby_row =[]
i_groupby_col = ['time_enc']
i_groupby_col=['dataset','setting','INPUT','diag_offset']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  ).reset_index() #  


# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

# a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
# a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
# a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'





df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

                   value                                                      \
dataset              P12
setting              mc1                                    mc2
INPUT                 TE        TEDAM      TENOISE           TE        TEDAM
diag_offset            0            0            0            0            0
Metric
AUROC         0.80(0.04)   0.84(0.02)   0.80(0.06)   0.78(0.02)   0.83(0.01)
LL/#events   -1.34(0.04)  -1.30(0.03)  -1.35(0.05)  -1.35(0.01)  -1.32(0.02)

                                                                              \
dataset                                                                  P19
setting                            sc                                    mc1
INPUT            TENOISE           TE        TEDAM      TENOISE           TE
diag_offset            0            0            0            0            0
Metric
AUROC         0.82(0.01)   0.73(0.05)   0.77(0.05)   0.73(0.06)   0.78(0.05)
LL/#events   -1.34(0.01)  -1.41(0.03)  -1.38(0.04)  -1.40(0.04)  -0.87(0.26)

                                                                              \
dataset
setting                                        mc2
INPUT              TEDAM      TENOISE           TE        TEDAM      TENOISE
diag_offset            0            0            0            0            0
Metric
AUROC         0.86(0.02)   0.76(0.05)   0.61(0.05)   0.74(0.11)   0.66(0.05)
LL/#events   -0.72(0.27)  -0.88(0.24)  -1.17(0.19)  -1.02(0.17)  -1.23(0.26)


dataset
setting               sc
INPUT                 TE        TEDAM      TENOISE
diag_offset            0            0            0
Metric
AUROC         0.78(0.04)   0.88(0.03)   0.78(0.03)
LL/#events   -0.94(0.29)  -0.80(0.28)  -0.91(0.27)

In [35]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

Metric                                          AUROC   LL/#events
      dataset setting INPUT   diag_offset
value P12     mc1     TE      0            0.80(0.04)  -1.34(0.04)
                      TEDAM   0            0.84(0.02)  -1.30(0.03)
                      TENOISE 0            0.80(0.06)  -1.35(0.05)
              mc2     TE      0            0.78(0.02)  -1.35(0.01)
                      TEDAM   0            0.83(0.01)  -1.32(0.02)
                      TENOISE 0            0.82(0.01)  -1.34(0.01)
              sc      TE      0            0.73(0.05)  -1.41(0.03)
                      TEDAM   0            0.77(0.05)  -1.38(0.04)
                      TENOISE 0            0.73(0.06)  -1.40(0.04)
      P19     mc1     TE      0            0.78(0.05)  -0.87(0.26)
                      TEDAM   0            0.86(0.02)  -0.72(0.27)
                      TENOISE 0            0.76(0.05)  -0.88(0.24)
              mc2     TE      0            0.61(0.05)  -1.17(0.19)
                      TEDAM   0            0.74(0.11)  -1.02(0.17)
                      TENOISE 0            0.66(0.05)  -1.23(0.26)
              sc      TE      0            0.78(0.04)  -0.94(0.29)
                      TEDAM   0            0.88(0.03)  -0.80(0.28)
                      TENOISE 0            0.78(0.03)  -0.91(0.27)

In [48]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )
df_path = df_filt.path.apply(lambda x:'/'.join(x))

df = pd.concat([df_config, df_summary, df_path],axis=1)

q=(df['dataset']=='P12') & (df['setting']=='mc2') & (df['INPUT']=='TEDAM') & (df['diag_offset']==1) & (df['test_center']=='1')
# df[q]
# list(df.columns)
df.loc[q,'path']

115    hokarami/TEEDAM_unsupervised/zo2u72u2
Name: path, dtype: object

## new

In [85]:
api = wandb.Api()
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='RD74-TableII-v2')
df_filt

,summary,config,name,path
0,{'Precision-Recall Curve': {'path': 'media/ima...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__nextmark-concat-d0]2703322,"[hokarami, TEEDAM_unsupervised, 7c99rl5e]"
1,"{'Test-pred_label/loss': 0, 'Test-NextType(ML)...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_ml-concat-d0]2709327,"[hokarami, TEEDAM_unsupervised, gnxvtc77]"
2,"{'Best-Test-NextType(ML)/f1-weighted-CIF': 0, ...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_ml-concat-d0]2707495,"[hokarami, TEEDAM_unsupervised, u48xa9ez]"
3,{'Best-Test-NextType(ML)/f1-weighted': 0.26401...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__nextmark-concat-d0]2702492,"[hokarami, TEEDAM_unsupervised, hpvb8jpv]"
4,{'Valid-pred_label/recall-binary': 0.738095238...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__nextmark-concat-d0]2705279,"[hokarami, TEEDAM_unsupervised, dpj59gpe]"
5,"{'_timestamp': 1686746533.3047805, 'Best-Test-...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_ml-concat-d0]2704579,"[hokarami, TEEDAM_unsupervised, 0fg1s2uj]"
6,"{'Best-Test-pred_label/ACC': 0.5859375, 'Best-...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_ml-concat-d0]2701514,"[hokarami, TEEDAM_unsupervised, 7uzcn91v]"
7,{'Best-Valid-NextType(ML)/auc-PR-weighted': 0....,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__nextmark-concat-d0]2703021,"[hokarami, TEEDAM_unsupervised, 11bl0xiv]"
8,"{'num_params': 12374, 'Test-NextTime/RMSE': 2....","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__nextmark-concat-d0]2704839,"[hokarami, TEEDAM_unsupervised, lc5exwqw]"
9,{'Test-NextType(ML)/f1-weighted-CIF': 0.137352...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_ml-concat-d0]2707639,"[hokarami, TEEDAM_unsupervised, 05erxzhl]"
10,"{'Test-CIF/NLL': 60483.546875, 'Best-Test-pred...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_ml-concat-d0]2702515,"[hokarami, TEEDAM_unsupervised, 2d3l12s2]"
11,{'Best-Valid-NextType(ML)/f1-weighted': 0.3218...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_ml-concat-d0]2701039,"[hokarami, TEEDAM_unsupervised, v0q5ilil]"
12,"{'_step': 50, 'Test-pred_label/ACC': 0.6293402...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__nextmark-concat-d0]2703683,"[hokarami, TEEDAM_unsupervised, 019ksmii]"
13,"{'_step': 50, 'Best-Valid-pred_label/recall-bi...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__nextmark-concat-d0]2706563,"[hokarami, TEEDAM_unsupervised, 0bzcz5ph]"
14,{'Best-Valid-pred_label/AUROC': 0.721285424207...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_ml-concat-d0]2707355,"[hokarami, TEEDAM_unsupervised, l7vgt0jt]"
15,{'Test-NextType(ML)/precision-weighted': 0.708...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__nextmark-concat-d0]2705834,"[hokarami, TEEDAM_unsupervised, r7li6gje]"
16,{'Best-Test-NextTime/rmse_norm': 0.77249824934...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_ml-concat-d0]2703753,"[hokarami, TEEDAM_unsupervised, rmkhzyl6]"
17,"{'Valid-NextTime/msae': 1.7013389767816884, 'V...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_ml-concat-d0]2709222,"[hokarami, TEEDAM_unsupervised, 32xkossf]"
18,"{'time-Time/train_epoch': 0.3072004675865173, ...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, k1oc8ys4]"
19,"{'Best-Test-pred_label/loss': 0, 'Best-Test-Ne...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, woa6limu]"
20,"{'Valid-pred_label/ACC': 0.6215277777777778, '...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, 3cxw9u1g]"
21,"{'Test-NextTime/RMSE': 2.3827147888241003, 'Te...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, zpno66hm]"
22,{'Test-pred_label/recall-binary': 0.7633136094...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, nxxmz5pj]"
23,{'Best-Valid-pred_label/recall-binary': 0.6855...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, 6gzv82mg]"
24,"{'Valid-pred_label/ACC': 0.5963541666666666, '...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, gm9ivkd4]"
25,{'Best-Test-pred_label/AUROC': 0.7077977218822...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, w7wlbagl]"
26,"{'Best-Test-pred_label/ACC': 0.609375, 'Valid-...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, mt740skg]"
27,"{'LR': 1e-05, 'num_params': 13207, 'Best-Test-...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, mt8wlp3m]"
28,"{'_wandb': {'runtime': 1273}, 'best_epoch': 50...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, 79lv2r47]"
29,"{'Valid-NextTime/RMSE': 2.3080690765562992, 'B...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, xawynwpe]"
30,"{'Best-Test-CIF/NLL': 25907.556640625, 'time-T...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, 357tzx6c]"
31,"{'best_epoch': 31, 'Test-CIF/LL-#events': -0.5...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, 2zr8tykk]"
32,"{'Test-pred_label/loss': 0, 'Precision-Recall ...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, hltnv6md]"
33,"{'Obj': 0.13760217983651224, 'Valid-pred_label...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, f7vo8rkw]"
34,"{'Best-Valid-CIF/#events': 38072, 'Best-Valid-...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, bglonrni]"
35,"{'_wandb': {'runtime': 2307}, '_runtime': 2308...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0...,"[hokarami, TEEDAM_unsupervised, 7elw5ppb]"
36,"{'Test-NextTime/RMSE': 2.6523391936535057, 'Te...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, pnyegk6x]"
37,"{'Test-NextTime/RMSE': 2.638537384326263, 'Val...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2...,"[hokarami, TEEDAM_unsupervised, t3kzy6hi]"

In [88]:
i_groupby_row =['dataset','OUTPUT','INPUT']
i_groupby_col = ['time_enc']
i_groupby_col=[]
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted','Best-Test-pred_label/AUPRC']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC','Best-Test-pred_label/AUPRC':'AUPRC'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
df[['AUROC','AUPRC']] = df[['AUROC','AUPRC']]*100
i_metric = list(dict_rename_metrics.values())


# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)
a1
a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  )#.reset_index() #  
a1

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

# a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
# a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
# a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'





# df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# # df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

# df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# # remove irrelevant metrics
# df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
# df_result

                                LL/#events          AUROC           AUPRC  \
                                      mean    std    mean     std    mean
dataset OUTPUT            INPUT
P12     ml-mark-label     TE        -2.668  0.331  73.784  10.727  25.742
                          TEDAM     -2.526  0.429  73.142  15.428  25.002
        none-mark-label   TE           NaN    NaN  79.391   2.733  30.391
                          TEDAM        NaN    NaN  82.666   2.789  26.476
        single-mark-label TE        -1.351  0.020  82.337   0.259  30.490
                          TEDAM     -1.332  0.023  84.840   0.771  30.929
P19     ml-mark-label     TE        -1.743    NaN  77.472     NaN  13.327
                          TEDAM     -1.419    NaN  78.802     NaN  30.364
        none-mark-label   TE           NaN    NaN  90.064     NaN  11.727
        single-mark-label TE        -0.713  0.054  90.311   0.325  19.405
                          TEDAM     -0.576  0.034  91.115   0.537  28.986


                                   std
dataset OUTPUT            INPUT
P12     ml-mark-label     TE     5.046
                          TEDAM  7.111
        none-mark-label   TE     2.424
                          TEDAM  3.861
        single-mark-label TE     2.036
                          TEDAM  2.930
P19     ml-mark-label     TE       NaN
                          TEDAM    NaN
        none-mark-label   TE       NaN
        single-mark-label TE     2.653
                          TEDAM  4.072

                                  LL/#events         AUROC        AUPRC
dataset OUTPUT            INPUT
P12     ml-mark-label     TE     -2.67(0.33)  73.78(10.73)  25.74(5.05)
                          TEDAM  -2.53(0.43)  73.14(15.43)  25.00(7.11)
        none-mark-label   TE        nan(nan)   79.39(2.73)  30.39(2.42)
                          TEDAM     nan(nan)   82.67(2.79)  26.48(3.86)
        single-mark-label TE     -1.35(0.02)   82.34(0.26)  30.49(2.04)
                          TEDAM  -1.33(0.02)   84.84(0.77)  30.93(2.93)
P19     ml-mark-label     TE      -1.74(nan)    77.47(nan)   13.33(nan)
                          TEDAM   -1.42(nan)    78.80(nan)   30.36(nan)
        none-mark-label   TE        nan(nan)    90.06(nan)   11.73(nan)
        single-mark-label TE     -0.71(0.05)   90.31(0.32)  19.41(2.65)
                          TEDAM  -0.58(0.03)   91.11(0.54)  28.99(4.07)

In [67]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

dataset                                                     P12  \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2696574
split                                                         0
Metric                                               LL/#events
value                                            -1.34(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2697244
split                                                         3
Metric                                               LL/#events
value                                            -1.31(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2702592
split                                                         4
Metric                                               LL/#events
value                                            -1.37(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2704335
split                                                         2
Metric                                               LL/#events
value                                            -1.37(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2705925
split                                                         1
Metric                                               LL/#events
value                                            -1.38(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2705948
split                                                         4
Metric                                               LL/#events
value                                            -1.31(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2709270
split                                                         2
Metric                                               LL/#events
value                                            -1.41(nan)

dataset                                                        \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2695680
split                                                       0
Metric                                             LL/#events
value                                            -1.35(nan)

dataset                                                        \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2696978
split                                                       2
Metric                                             LL/#events
value                                            -1.38(nan)

dataset                                                        ...  \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2697375  ...
split                                                       3  ...
Metric                                             LL/#events  ...
value                                            -1.33(nan)    ...

dataset                                                     P19  \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2693896
split                                                         1
Metric                                                    AUPRC
value                                             0.35(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2695762
split                                                         0
Metric                                                    AUPRC
value                                             0.30(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2699082
split                                                         4
Metric                                                    AUPRC
value                                              nan(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2699304
split                                                         3
Metric                                                    AUPRC
value                                             0.28(nan)

dataset                                                          \
run_name [RD74-R3-TEE_C1-TEDA__pp_single_mark-concat-d0]2707586
split                                                         4
Metric                                                    AUPRC
value                                              nan(nan)

dataset                                                        \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2693551
split                                                       3
Metric                                                  AUPRC
value                                             0.22(nan)

dataset                                                        \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2694088
split                                                       4
Metric                                                  AUPRC
value                                             0.17(nan)

dataset                                                        \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2696564
split                                                       1
Metric                                                  AUPRC
value                                             0.22(nan)

dataset                                                        \
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2697859
split                                                       0
Metric                                                  AUPRC
value                                             0.21(nan)

dataset
run_name [RD74-R3-TEE_C1-TE__pp_single_mark-concat-d0]2698782
split                                                       2
Metric                                                  AUPRC
value                                             0.17(nan)

[1 rows x 72 columns]

# Table III

In [5]:
runs = api.runs("hokarami/TEEDAM_supervised")
# df_filt = dl_runs(runs, selected_tag='H70HHGGG') # H70PretrainedOnly
df_filt = dl_runs(runs, selected_tag='RD74-table') # H70PretrainedOnly
len(df_filt)

55

In [7]:
i_groupby_row =['dataset','test_center','setting']
i_groupby_col = ['event_enc','mod']
i_groupby_col=['INPUT','OUTPUT']
i_agg = ['split']

# 'knn-ps-mean',
i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC','Best-Test-pred_label/AUROC']
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'   ) #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col).replace(r'\(nan\)$', '',regex=True)



# a1.to_excel("aaa.xlsx")

,dataset,test_center,setting,INPUT,OUTPUT,split,Best-Test-pred_label/f1-binary,Best-Test-pred_label/AUPRC,Best-Test-pred_label/AUROC
0,P19,1,sc,TEDAM,none-mark-label,4,0.509960,0.585141,0.936881
1,P19,1,sc,DAM,none-mark-label,4,0.545994,0.614948,0.928929
2,P19,1,sc,TEDAM,none-mark-label,3,0.578616,0.652080,0.931283
3,P19,1,sc,DAM,none-mark-label,3,0.545181,0.604926,0.917107
4,P19,1,sc,TEDAM,none-mark-label,2,0.503106,0.676728,0.932575
...,...,...,...,...,...,...,...,...,...
117,P12,0,mc2,DAM,none-mark-label,,0.502216,0.484488,0.832434
118,P19,0,mc2,DAM,none-mark-label,,0.274078,0.633099,0.862014
119,P19,0,mc2,TEDAM,none-mark-label,,0.334844,0.467754,0.748770
120,P19,1,mc2,TEDAM,none-mark-label,,0.589313,0.478888,0.896525
121,P19,1,mc2,DAM,none-mark-label,,0.586433,0.467713,0.886884

                                                  Best-Test-pred_label/f1-binary  \
dataset test_center setting INPUT OUTPUT
P12     0           mc1     DAM   none-mark-label                     0.52(0.04)
                            TEDAM none-mark-label                     0.51(0.04)
                    mc2     DAM   none-mark-label                      0.50(nan)
                            TEDAM none-mark-label                       nan(nan)
                    sc      DAM   none-mark-label                     0.41(0.06)
                            TEDAM none-mark-label                     0.42(0.03)
        1           mc1     DAM   none-mark-label                     0.55(0.04)
                            TEDAM none-mark-label                     0.55(0.04)
                    mc2     DAM   none-mark-label                      0.54(nan)
                            TEDAM none-mark-label                      0.54(nan)
                    sc      DAM   none-mark-label                     0.48(0.05)
                            TEDAM none-mark-label                     0.42(0.04)
        2           mc1     DAM   none-mark-label                     0.54(0.04)
                            TEDAM none-mark-label                     0.54(0.05)
                    mc2     DAM   none-mark-label                      0.50(nan)
                            TEDAM none-mark-label                      0.52(nan)
                    sc      DAM   none-mark-label                     0.46(0.06)
                            TEDAM none-mark-label                     0.42(0.05)
P19     0           mc1     DAM   none-mark-label                     0.58(0.03)
                            TEDAM none-mark-label                     0.55(0.03)
                    mc2     DAM   none-mark-label                      0.27(nan)
                            TEDAM none-mark-label                      0.33(nan)
                    sc      DAM   none-mark-label                     0.62(0.01)
                            TEDAM none-mark-label                     0.62(0.01)
        1           mc1     DAM   none-mark-label                     0.57(0.05)
                            TEDAM none-mark-label                     0.58(0.04)
                    mc2     DAM   none-mark-label                      0.59(nan)
                            TEDAM none-mark-label                      0.59(nan)
                    sc      DAM   none-mark-label                     0.54(0.01)
                            TEDAM none-mark-label                     0.53(0.03)

                                                  Best-Test-pred_label/AUPRC  \
dataset test_center setting INPUT OUTPUT
P12     0           mc1     DAM   none-mark-label                 0.51(0.05)
                            TEDAM none-mark-label                 0.49(0.07)
                    mc2     DAM   none-mark-label                  0.48(nan)
                            TEDAM none-mark-label                   nan(nan)
                    sc      DAM   none-mark-label                 0.34(0.06)
                            TEDAM none-mark-label                 0.35(0.04)
        1           mc1     DAM   none-mark-label                 0.54(0.04)
                            TEDAM none-mark-label                 0.52(0.04)
                    mc2     DAM   none-mark-label                  0.52(nan)
                            TEDAM none-mark-label                  0.52(nan)
                    sc      DAM   none-mark-label                 0.41(0.06)
                            TEDAM none-mark-label                 0.33(0.04)
        2           mc1     DAM   none-mark-label                 0.54(0.04)
                            TEDAM none-mark-label                 0.53(0.06)
                    mc2     DAM   none-mark-label                  0.46(nan)
                            TEDAM none-mark-label                  0.52(nan)
                    sc      DAM   none-mark-label                 0.43(0.05)
                            TEDAM none-mark-label                 0.34(0.05)
P19     0           mc1     DAM   none-mark-label                 0.74(0.04)
                            TEDAM none-mark-label                 0.69(0.08)
                    mc2     DAM   none-mark-label                  0.63(nan)
                            TEDAM none-mark-label                  0.47(nan)
                    sc      DAM   none-mark-label                 0.71(0.01)
                            TEDAM none-mark-label                 0.72(0.02)
        1           mc1     DAM   none-mark-label                 0.59(0.08)
                            TEDAM none-mark-label                 0.60(0.06)
                    mc2     DAM   none-mark-label                  0.47(nan)
                            TEDAM none-mark-label                  0.48(nan)
                    sc      DAM   none-mark-label                 0.60(0.04)
                            TEDAM none-mark-label                 0.62(0.05)

                                                  Best-Test-pred_label/AUROC
dataset test_center setting INPUT OUTPUT
P12     0           mc1     DAM   none-mark-label                 0.84(0.03)
                            TEDAM none-mark-label                 0.83(0.03)
                    mc2     DAM   none-mark-label                  0.83(nan)
                            TEDAM none-mark-label                   nan(nan)
                    sc      DAM   none-mark-label                 0.76(0.04)
                            TEDAM none-mark-label                 0.77(0.03)
        1           mc1     DAM   none-mark-label                 0.85(0.01)
                            TEDAM none-mark-label                 0.86(0.02)
                    mc2     DAM   none-mark-label                  0.85(nan)
                            TEDAM none-mark-label                  0.85(nan)
                    sc      DAM   none-mark-label                 0.80(0.02)
                            TEDAM none-mark-label                 0.77(0.02)
        2           mc1     DAM   none-mark-label                 0.85(0.02)
                            TEDAM none-mark-label                 0.85(0.03)
                    mc2     DAM   none-mark-label                  0.82(nan)
                            TEDAM none-mark-label                  0.85(nan)
                    sc      DAM   none-mark-label                 0.80(0.04)
                            TEDAM none-mark-label                 0.75(0.03)
P19     0           mc1     DAM   none-mark-label                 0.91(0.02)
                            TEDAM none-mark-label                 0.88(0.05)
                    mc2     DAM   none-mark-label                  0.86(nan)
                            TEDAM none-mark-label                  0.75(nan)
                    sc      DAM   none-mark-label                 0.92(0.01)
                            TEDAM none-mark-label                 0.92(0.00)
        1           mc1     DAM   none-mark-label                 0.92(0.02)
                            TEDAM none-mark-label                 0.93(0.01)
                    mc2     DAM   none-mark-label                  0.89(nan)
                            TEDAM none-mark-label                  0.90(nan)
                    sc      DAM   none-mark-label                 0.93(0.01)
                            TEDAM none-mark-label                 0.93(0.00)

                            Best-Test-pred_label/f1-binary                  \
INPUT                                                  DAM           TEDAM
OUTPUT                                     none-mark-label none-mark-label
dataset test_center setting
P12     0           mc1                         0.52(0.04)      0.51(0.04)
                    mc2                               0.50             nan
                    sc                          0.41(0.06)      0.42(0.03)
        1           mc1                         0.55(0.04)      0.55(0.04)
                    mc2                               0.54            0.54
                    sc                          0.48(0.05)      0.42(0.04)
        2           mc1                         0.54(0.04)      0.54(0.05)
                    mc2                               0.50            0.52
                    sc                          0.46(0.06)      0.42(0.05)
P19     0           mc1                         0.58(0.03)      0.55(0.03)
                    mc2                               0.27            0.33
                    sc                          0.62(0.01)      0.62(0.01)
        1           mc1                         0.57(0.05)      0.58(0.04)
                    mc2                               0.59            0.59
                    sc                          0.54(0.01)      0.53(0.03)

                            Best-Test-pred_label/AUPRC                  \
INPUT                                              DAM           TEDAM
OUTPUT                                 none-mark-label none-mark-label
dataset test_center setting
P12     0           mc1                     0.51(0.05)      0.49(0.07)
                    mc2                           0.48             nan
                    sc                      0.34(0.06)      0.35(0.04)
        1           mc1                     0.54(0.04)      0.52(0.04)
                    mc2                           0.52            0.52
                    sc                      0.41(0.06)      0.33(0.04)
        2           mc1                     0.54(0.04)      0.53(0.06)
                    mc2                           0.46            0.52
                    sc                      0.43(0.05)      0.34(0.05)
P19     0           mc1                     0.74(0.04)      0.69(0.08)
                    mc2                           0.63            0.47
                    sc                      0.71(0.01)      0.72(0.02)
        1           mc1                     0.59(0.08)      0.60(0.06)
                    mc2                           0.47            0.48
                    sc                      0.60(0.04)      0.62(0.05)

                            Best-Test-pred_label/AUROC
INPUT                                              DAM           TEDAM
OUTPUT                                 none-mark-label none-mark-label
dataset test_center setting
P12     0           mc1                     0.84(0.03)      0.83(0.03)
                    mc2                           0.83             nan
                    sc                      0.76(0.04)      0.77(0.03)
        1           mc1                     0.85(0.01)      0.86(0.02)
                    mc2                           0.85            0.85
                    sc                      0.80(0.02)      0.77(0.02)
        2           mc1                     0.85(0.02)      0.85(0.03)
                    mc2                           0.82            0.85
                    sc                      0.80(0.04)      0.75(0.03)
P19     0           mc1                     0.91(0.02)      0.88(0.05)
                    mc2                           0.86            0.75
                    sc                      0.92(0.01)      0.92(0.00)
        1           mc1                     0.92(0.02)      0.93(0.01)
                    mc2                           0.89            0.90
                    sc                      0.93(0.01)      0.93(0.00)

:

## T3 new

In [5]:
api = wandb.Api()
runs = api.runs("hokarami/TEEDAM_supervised")
# df_filt = dl_runs(runs, selected_tag='H70HHGGG') # H70PretrainedOnly
df_filt = dl_runs(runs, selected_tag='RD74-TableIII-v3') # H70PretrainedOnly
len(df_filt)

76

In [11]:
x='DA__D'


'DA' in x

True

In [16]:
i_groupby_row =['dataset','split','run_name']
i_groupby_col = ['event_enc','mod']
i_groupby_col=['INPUT','OUTPUT']
i_agg = ['split']

i_groupby_col=[]
i_agg = []

# 'knn-ps-mean',
i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC','Best-Test-pred_label/AUROC',
            'Best-Valid-pred_label/f1-binary','Best-Valid-pred_label/AUPRC','Best-Valid-pred_label/AUROC']
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

# remove the last 6 characters from the run_name

def change_run_name(x):
    # if x contains 'DA'
    # return type(x)
    if 'DA__base' in x:
        return 'DAM'
    elif 'TEDA__none' in x:
        return 'TEE+DAM'
    elif 'TEDA__pp_ml' in x:
        return 'TEE+DAM w PP(ML)'
    elif 'TEDA__nextmark' in x:
        return 'TEE+DAM w NextMark'
    elif 'TEDA__pp_single' in x:
        return 'TEE+DAM w PP(Single)'
    elif 'TL3-TEDA__pp_ml' in x:
        return '[TEE w PP(ML)]+DAM'
    elif 'TL3-TEDA__nextmark' in x:
        return '[TEE w NextMark]+DAM'
    elif 'TL3-TEDA__pp_single' in x:
        return '[TEE w PP(Single)]+DAM'


    return x[:-6]

df['run_name'] = df['run_name'].apply(lambda x:change_run_name(x))


df.sort_values(by=['dataset','split'] + ['Best-Test-pred_label/AUPRC'], ascending=False)
df.sort_values(by=['dataset','run_name']).groupby(['dataset','run_name'])[i_metric].aggregate(lambda x:f'{round(x.mean()*100,2):.1f}({round(x.std()*100,2):.1f})'   )


term

a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'   ) #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col).replace(r'\(nan\)$', '',regex=True)



# a1.to_excel("aaa.xlsx")

,dataset,split,run_name,Best-Test-pred_label/f1-binary,Best-Test-pred_label/AUPRC,Best-Test-pred_label/AUROC,Best-Valid-pred_label/f1-binary,Best-Valid-pred_label/AUPRC,Best-Valid-pred_label/AUROC
18,P19,4,TEE+DAM w PP(Single),0.488136,0.477475,0.857721,0.489796,0.488212,0.865130
53,P19,4,TEE+DAM w PP(ML),0.470588,0.474048,0.860270,0.498567,0.506206,0.880937
51,P19,4,TEE+DAM w NextMark,0.485294,0.472690,0.851787,0.509934,0.497564,0.874577
52,P19,4,TEE+DAM w PP(Single),0.498024,0.469760,0.847487,0.529210,0.502296,0.876258
54,P19,4,[RD74-TEDA__none-concat]2,0.479452,0.467694,0.861315,0.480480,0.503415,0.879524
...,...,...,...,...,...,...,...,...,...
22,P12,0,TEE+DAM w PP(Single),0.492872,0.533638,0.849045,0.543828,0.523106,0.855023
47,P12,0,TEE+DAM w PP(Single),0.519149,0.531276,0.863281,0.543396,0.527129,0.854899
49,P12,0,[RD74-TEDA__none-concat]2,0.474453,0.528130,0.853282,0.529801,0.509457,0.858242
13,P12,0,TEE+DAM w PP(ML),0.484375,0.526803,0.856359,0.529617,0.514980,0.859594
48,P12,0,DAM,0.480734,0.524128,0.833159,0.534224,0.536811,0.849811

                                  Best-Test-pred_label/f1-binary  \
dataset run_name
P12     DAM                                            50.0(1.9)
        TEE+DAM w NextMark                             50.8(2.0)
        TEE+DAM w PP(ML)                               49.1(0.9)
        TEE+DAM w PP(Single)                           51.3(2.3)
        [RD74-TEDA__none-concat]2                      49.9(1.8)
P19     DAM                                            47.9(2.3)
        TEE+DAM w NextMark                             49.2(3.9)
        TEE+DAM w PP(ML)                               49.7(3.9)
        TEE+DAM w PP(Single)                           50.2(3.1)
        [RD74-TEDA__none-concat]2                      49.4(2.9)

                                  Best-Test-pred_label/AUPRC  \
dataset run_name
P12     DAM                                        53.4(2.9)
        TEE+DAM w NextMark                         52.4(4.2)
        TEE+DAM w PP(ML)                           50.6(3.4)
        TEE+DAM w PP(Single)                       53.1(3.7)
        [RD74-TEDA__none-concat]2                  52.1(2.8)
P19     DAM                                        48.8(5.6)
        TEE+DAM w NextMark                         50.1(5.0)
        TEE+DAM w PP(ML)                           50.2(5.1)
        TEE+DAM w PP(Single)                       50.2(5.1)
        [RD74-TEDA__none-concat]2                  49.3(4.5)

                                  Best-Test-pred_label/AUROC  \
dataset run_name
P12     DAM                                        85.4(1.4)
        TEE+DAM w NextMark                         85.4(1.2)
        TEE+DAM w PP(ML)                           85.2(0.5)
        TEE+DAM w PP(Single)                       85.8(1.2)
        [RD74-TEDA__none-concat]2                  85.3(0.2)
P19     DAM                                        87.1(2.5)
        TEE+DAM w NextMark                         88.4(2.2)
        TEE+DAM w PP(ML)                           87.9(2.0)
        TEE+DAM w PP(Single)                       88.1(2.2)
        [RD74-TEDA__none-concat]2                  87.5(1.5)

                                  Best-Valid-pred_label/f1-binary  \
dataset run_name
P12     DAM                                             51.8(2.5)
        TEE+DAM w NextMark                              52.5(2.7)
        TEE+DAM w PP(ML)                                51.4(2.4)
        TEE+DAM w PP(Single)                            52.7(2.2)
        [RD74-TEDA__none-concat]2                       52.5(2.8)
P19     DAM                                             47.1(4.1)
        TEE+DAM w NextMark                              46.4(3.1)
        TEE+DAM w PP(ML)                                47.5(3.4)
        TEE+DAM w PP(Single)                            48.1(3.5)
        [RD74-TEDA__none-concat]2                       46.6(3.3)

                                  Best-Valid-pred_label/AUPRC  \
dataset run_name
P12     DAM                                         55.6(2.7)
        TEE+DAM w NextMark                          54.8(4.1)
        TEE+DAM w PP(ML)                            52.9(3.9)
        TEE+DAM w PP(Single)                        55.3(4.2)
        [RD74-TEDA__none-concat]2                   55.3(5.2)
P19     DAM                                         44.8(4.4)
        TEE+DAM w NextMark                          45.8(4.0)
        TEE+DAM w PP(ML)                            45.3(4.7)
        TEE+DAM w PP(Single)                        45.8(4.1)
        [RD74-TEDA__none-concat]2                   45.1(4.6)

                                  Best-Valid-pred_label/AUROC
dataset run_name
P12     DAM                                         85.4(1.3)
        TEE+DAM w NextMark                          85.7(1.6)
        TEE+DAM w PP(ML)                            85.3(1.4)
        TEE+DAM w PP(Single)                        85.8(1.8)
        [RD74-TEDA__none-concat]2                   85.6(2.2)
P19     DAM                                         86.1(2.5)
        TEE+DAM w NextMark                          87.3(1.2)
        TEE+DAM w PP(ML)                            86.5(1.7)
        TEE+DAM w PP(Single)                        87.3(1.0)
        [RD74-TEDA__none-concat]2                   86.4(1.5)

NameError: name 'term' is not defined

# CIF

In [ ]:
df_filt = dl_runs(runs, selected_tag='CIF')

df_filt.iloc[0].config.keys()

In [ ]:
i_groupby_row =['dataset','setting',]
i_groupby_col = ['state']
i_agg = ['test_center','split']
# i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC']
i_metric = ['Test-CIF/NLL-#events']


#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)#.dropna(axis=1,how='all')
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df





a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(['mean','std']).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),3))  + ' (' + str(round(x.std(),3))  +')' )

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_csv("aaa.csv")