In [1]:
# activate line execution
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# plotly
import plotly.express as px  # (version 4.7.0 or higher)
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import numpy as np

In [2]:
# !pip install wandb -qqq
import os
os.environ["WANDB_API_KEY"] = "0f780ac8a470afe6cb7fc474ff3794772c660465"

os.environ["WANDB_NOTEBOOK_NAME"] = "jup_res"

import wandb
# wandb.login()
api = wandb.Api()





# selected_tag = 'Pred'

runs = api.runs("hokarami/TEEDAM_supervised")

In [3]:
import pandas as pd 


# Project is specified by <entity/project-name>
def dl_runs(all_runs, selected_tag=None):




    summary_list, config_list, name_list = [], [], []
    for run in runs: 

        if (selected_tag not in run.tags) and (selected_tag is not None):
            continue
        # .summary contains the output keys/values for metrics like accuracy.
        #  We call ._json_dict to omit large files 
        summary_list.append(run.summary._json_dict)

        # .config contains the hyperparameters.
        #  We remove special values that start with _.
        

        config_list.append(
            {k: v for k,v in run.config.items()
            if not k.startswith('_')})

        # .name is the human-readable name of the run.
        name_list.append(run.name)

    runs_df = pd.DataFrame({
        "summary": summary_list,
        "config": config_list,
        "name": name_list
        })

    # runs_df.to_csv("project.csv")
    return runs_df

In [4]:
# q = runs_df['name'].str.contains('\[R2-')
# runs_df = runs_df[q]


runs_df = dl_runs(runs, selected_tag='H20')

runs_df
runs_df.iloc[0].summary.keys()
runs_df.iloc[0].config.keys()

,summary,config,name
0,"{'_timestamp': 1677774839.6512065, 'Test-NextT...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1664731
1,"{'Test-NextTime/RMSE': 2.4637736185478913, 'Te...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1667036
2,"{'Test-pred_label/ACC': 0.8098958333333334, 't...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1663219
3,"{'_wandb': {'runtime': 4720}, 'Test-pred_label...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1664506
4,"{'_runtime': 4723.964496850967, 'Valid-pred_la...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1666267
...,...,...,...
103,"{'Valid-NextTime/msae': 1.7506153126128592, 'T...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644008
104,"{'_timestamp': 1677608257.4841642, 'Valid-pred...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1649688
105,{'Valid-NextType(ML)/auc-PR-weighted': 0.29080...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644494
106,"{'Obj': 0.5, 'Test-pred_label/AUROC': 0.815231...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1646207
107,{'Best-Test-pred_label/f1-binary': 0.513931888...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1643468

dict_keys(['_timestamp', 'Test-NextTime/RMSE', 'Best-Test-pred_label/f1-binary', 'Test-NextType(ML)/precision-weighted', 'Valid-NextTime/rmse_norm', 'Best-Test-pred_label/AUPRC', 'Valid-pred_label/f1-binary', 'Valid-NextType(ML)/f1-weighted', 'Valid-NextTime/RMSE', 'Test-pred_label/loss', 'Test-pred_label/AUPRC', 'time-Time/valid_epoch', 'Best-Test-NextType(ML)/auc-ovo-weighted', 'Valid-pred_label/recall-binary', 'Test-NextType(ML)/recall-weighted', 'Valid-pred_label/precision-binary', 'Valid-NextType(ML)/recall-weighted', 'Test-pred_label/precision-binary', 'Valid-NextType(ML)/auc-ovo-weighted', 'Valid-NextType(ML)/precision-weighted', 'Test-pred_label/ACC', 'Valid-NextTime/msae', 'time-Time/train_epoch', 'Best-Test-pred_label/AUROC', 'Valid-pred_label/AUPRC', 'Test-NextType(ML)/f1-weighted', 'Test-pred_label/AUROC', 'Test-NextType(ML)/auc-ovo-weighted', 'Valid-NextType(ML)/auc-PR-weighted', 'Best-Valid-NextType(ML)/f1-weighted', 'Valid-pred_label/loss', 'Test-pred_label/f1-binary', 'Best-Valid-pred_label/f1-binary', 'Best-Test-NextType(ML)/f1-weighted', 'Test-NextTime/rmse_norm', 'Test-NextType(ML)/auc-PR-weighted', 'Obj', 'Test-NextTime/msae', 'Valid-pred_label/ACC', 'Valid-pred_label/AUROC', 'Test-pred_label/recall-binary', 'Best-Valid-NextType(ML)/auc-ovo-weighted', '_step', '_runtime', 'Best-Valid-pred_label/AUPRC', 'Best-Valid-pred_label/AUROC'])

dict_keys(['w', 'lr', 'log', 'mod', 'per', 'cuda', 'data', 'date', 'demo', 'prof', 'INPUT', 'epoch', 'noise', 'split', 'state', 'w_pos', 'wandb', 'ES_pat', 'OUTPUT', 'device', 'freeze', 'run_id', 'smooth', 'te_d_k', 'te_d_v', 'w_time', 'dataset', 'int_dec', 'setting', 'w_class', 'w_event', 'log_freq', 'run_name', 'run_path', 'te_d_rnn', 'time_enc', 'TE_config', 'event_enc', 'next_mark', 'num_demos', 'num_marks', 'num_types', 'pos_alpha', 'te_d_mark', 'te_d_time', 'te_n_head', 'type_loss', 'CIF_config', 'DAM_config', 'batch_size', 'data_label', 'num_states', 'pos_weight', 'str_config', 'te_d_inner', 'te_dropout', 'testloader', 'demo_config', 'mark_detach', 'te_n_layers', 'test_center', 'trainloader', 'user_prefix', 'validloader', 'w_pos_label', 'NOISE_config', 'label_config', 'sample_label', 'weight_decay', 'hparams2write', 'wandb_project', 'balanced_batch', 'label_loss_fun', 'pred_loss_func', 'w_sample_label', 'dict_map_events', 'dict_map_states', 'next_time_config', 'next_type_config', 'transfer_learning'])

# Table I
Effect of time concatenation and single+mark

In [5]:
runs = api.runs("hokarami/TEEDAM_unsupervised_timeCat")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name
0,"{'Valid-CIF/NLL': 72573.09375, 'Valid-NextTime...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-concat-d-1]1794035-
1,"{'_runtime': 776.1603014469147, 'Valid-NextTim...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-sum-d-1]1797588-
2,{'Test-NextType(ML)/precision-weighted': 0.224...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-sum-d-1]1797868-
3,{'Test-NextType(MC)/f1-weighted': 0.3201839234...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_mc-sum-d-1]1798033-
4,{'Best-Test-NextType(MC)/auc-weighted': 0.8169...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_mc-concat-d-1]1793526-
...,...,...,...
167,{'Test-NextType(ML)/recall-weighted': 0.791762...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1785157-
168,"{'_step': 50, 'time-Time/valid_epoch': 0.04826...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__nextmark-concat-d-2]1787979-
169,{'Valid-NextType(ML)/f1-weighted': 0.385524231...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1787649-
170,"{'time-Time/valid_epoch': 0.01950634320576986,...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786183-
171,"{'status': 'completed', 'Valid-NextType(MC)/ac...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786368-

In [6]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['mod','diag_offset','time_enc']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted','Best-Test-NextType(MC)/f1-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC','Best-Test-NextType(MC)/f1-weighted':'F1-Score'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),2))  + ' (' + str(round(x.std(),2))  +')'  ).reset_index() #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'

a1



df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

,dataset,mod,diag_offset,time_enc,LL/#events,AUROC,F1-Score
0,Retweets(MC),PP(ML/MC),-2,concat,-10.28 (nan),nan (nan),0.53 (nan)
1,Retweets(MC),PP(ML/MC),-2,sum,-22.16 (nan),nan (nan),0.35 (nan)
2,Retweets(MC),PP(ML/MC),-1,concat,-12.02 (nan),nan (nan),0.52 (nan)
3,Retweets(MC),PP(ML/MC),-1,sum,-18.85 (nan),nan (nan),0.35 (nan)
4,Retweets(MC),PP(ML/MC),0,concat,-16.29 (nan),nan (nan),0.53 (nan)
5,Retweets(MC),PP(ML/MC),0,sum,-13.22 (nan),nan (nan),0.45 (nan)
6,Retweets(MC),PP(ML/MC),1,concat,-12.03 (nan),nan (nan),0.44 (nan)
7,Retweets(MC),AE,-2,concat,nan (nan),nan (nan),0.63 (nan)
8,Retweets(MC),AE,-2,sum,nan (nan),nan (nan),0.62 (nan)
9,Retweets(MC),AE,-1,concat,nan (nan),nan (nan),0.63 (nan)
10,Retweets(MC),AE,-1,sum,nan (nan),nan (nan),0.62 (nan)
11,Retweets(MC),AE,0,concat,nan (nan),nan (nan),0.63 (nan)
12,Retweets(MC),AE,0,sum,nan (nan),nan (nan),0.61 (nan)
13,Retweets(MC),AE,1,sum,nan (nan),nan (nan),0.59 (nan)
14,Retweets(MC),PP(single),-2,concat,-6.79 (nan),nan (nan),0.57 (nan)
15,Retweets(MC),PP(single),-2,sum,-7.96 (nan),nan (nan),0.56 (nan)
16,Retweets(MC),PP(single),-1,concat,-6.64 (nan),nan (nan),0.53 (nan)
17,Retweets(MC),PP(single),-1,sum,-10.34 (nan),nan (nan),0.54 (nan)
18,Retweets(MC),PP(single),0,concat,-6.58 (nan),nan (nan),0.57 (nan)
19,Retweets(MC),PP(single),0,sum,-10.03 (nan),nan (nan),0.54 (nan)
20,Retweets(MC),PP(single),1,concat,-6.44 (nan),nan (nan),0.56 (nan)
21,Retweets(MC),PP(single),1,sum,-9.02 (nan),nan (nan),0.32 (nan)
22,Retweets(ML),PP(ML/MC),-2,concat,-1.35 (0.03),0.74 (0.01),nan (nan)
23,Retweets(ML),PP(ML/MC),-2,sum,-1.6 (0.04),0.71 (0.01),nan (nan)
24,Retweets(ML),AE,-2,concat,nan (nan),0.71 (0.02),nan (nan)
25,Retweets(ML),AE,-2,sum,nan (nan),0.69 (0.03),nan (nan)
26,Retweets(ML),AE,-1,concat,nan (nan),0.71 (0.02),nan (nan)
27,Retweets(ML),AE,0,concat,nan (nan),0.7 (0.03),nan (nan)
28,Retweets(ML),AE,1,concat,nan (nan),0.65 (0.03),nan (nan)
29,Retweets(ML),PP(single),-2,concat,1.99 (0.06),0.71 (0.02),nan (nan)
30,Retweets(ML),PP(single),-2,sum,1.83 (0.08),0.67 (0.04),nan (nan)
31,SO,PP(ML/MC),-2,concat,-2.02 (0.02),nan (nan),0.33 (0.01)
32,SO,PP(ML/MC),-2,sum,-2.02 (0.02),nan (nan),0.33 (0.01)
33,SO,PP(ML/MC),-1,concat,-2.01 (nan),nan (nan),0.32 (nan)
34,SO,PP(ML/MC),-1,sum,-2.02 (nan),nan (nan),0.33 (nan)
35,SO,AE,-2,concat,nan (nan),nan (nan),0.38 (0.01)
36,SO,AE,-2,sum,nan (nan),nan (nan),0.36 (0.01)
37,SO,AE,-1,concat,nan (nan),nan (nan),0.39 (0.01)
38,SO,AE,-1,sum,nan (nan),nan (nan),0.34 (nan)
39,SO,AE,0,concat,nan (nan),nan (nan),0.38 (0.02)
40,SO,AE,1,concat,nan (nan),nan (nan),0.33 (0.0)
41,SO,PP(single),-2,concat,-0.51 (0.01),nan (nan),0.37 (0.01)
42,SO,PP(single),-2,sum,-0.54 (0.01),nan (nan),0.35 (0.0)
43,SO,PP(single),-1,concat,-0.5 (nan),nan (nan),0.37 (nan)
44,SO,PP(single),-1,sum,-0.52 (nan),nan (nan),0.35 (nan)
45,Synthea,PP(ML/MC),1,concat,-5.45 (0.45),0.6 (0.04),nan (nan)
46,Synthea,PP(ML/MC),1,sum,-5.41 (0.42),0.6 (0.05),nan (nan)
47,Synthea,AE,-2,concat,nan (nan),0.9 (0.0),nan (nan)
48,Synthea,AE,-2,sum,nan (nan),0.89 (0.01),nan (nan)
49,Synthea,AE,-1,concat,nan (nan),0.9 (0.01),nan (nan)
50,Synthea,AE,-1,sum,nan (nan),0.89 (0.01),nan (nan)
51,Synthea,AE,0,concat,nan (nan),0.9 (0.01),nan (nan)
52,Synthea,AE,1,concat,nan (nan),0.84 (0.05),nan (nan)
53,Synthea,PP(single),1,concat,-2.01 (0.25),0.61 (0.03),nan (nan)
54,Synthea,PP(single),1,sum,-1.96 (0.26),0.62 (0.04),nan (nan)

                                value                              \
mod                         PP(ML/MC)
diag_offset                        -2                          -1
time_enc                       concat           sum        concat
dataset      Metric
Retweets(MC) F1-Score      0.53 (nan)    0.35 (nan)    0.52 (nan)
             LL/#events  -10.28 (nan)  -22.16 (nan)  -12.02 (nan)
Retweets(ML) AUROC        0.74 (0.01)   0.71 (0.01)           NaN
             LL/#events  -1.35 (0.03)   -1.6 (0.04)           NaN
SO           F1-Score     0.33 (0.01)   0.33 (0.01)    0.32 (nan)
             LL/#events  -2.02 (0.02)  -2.02 (0.02)   -2.01 (nan)
Synthea      AUROC                NaN           NaN           NaN
             LL/#events           NaN           NaN           NaN

                                                                   \
mod
diag_offset                                       0
time_enc                          sum        concat           sum
dataset      Metric
Retweets(MC) F1-Score      0.35 (nan)    0.53 (nan)    0.45 (nan)
             LL/#events  -18.85 (nan)  -16.29 (nan)  -13.22 (nan)
Retweets(ML) AUROC                NaN           NaN           NaN
             LL/#events           NaN           NaN           NaN
SO           F1-Score      0.33 (nan)           NaN           NaN
             LL/#events   -2.02 (nan)           NaN           NaN
Synthea      AUROC                NaN           NaN           NaN
             LL/#events           NaN           NaN           NaN

                                                                              \
mod                                             AE
diag_offset                         1           -2                        -1
time_enc                       concat       concat          sum       concat
dataset      Metric
Retweets(MC) F1-Score      0.44 (nan)   0.63 (nan)   0.62 (nan)   0.63 (nan)
             LL/#events  -12.03 (nan)          NaN          NaN          NaN
Retweets(ML) AUROC                NaN  0.71 (0.02)  0.69 (0.03)  0.71 (0.02)
             LL/#events           NaN          NaN          NaN          NaN
SO           F1-Score             NaN  0.38 (0.01)  0.36 (0.01)  0.39 (0.01)
             LL/#events           NaN          NaN          NaN          NaN
Synthea      AUROC         0.6 (0.04)    0.9 (0.0)  0.89 (0.01)   0.9 (0.01)
             LL/#events  -5.45 (0.45)          NaN          NaN          NaN

                         ...                                           \
mod                      ...    PP(single)
diag_offset              ...            -2                         -1
time_enc                 ...        concat           sum       concat
dataset      Metric      ...
Retweets(MC) F1-Score    ...    0.57 (nan)    0.56 (nan)   0.53 (nan)
             LL/#events  ...   -6.79 (nan)   -7.96 (nan)  -6.64 (nan)
Retweets(ML) AUROC       ...   0.71 (0.02)   0.67 (0.04)          NaN
             LL/#events  ...   1.99 (0.06)   1.83 (0.08)          NaN
SO           F1-Score    ...   0.37 (0.01)    0.35 (0.0)   0.37 (nan)
             LL/#events  ...  -0.51 (0.01)  -0.54 (0.01)   -0.5 (nan)
Synthea      AUROC       ...           NaN           NaN          NaN
             LL/#events  ...           NaN           NaN          NaN

                                                                  \
mod
diag_offset                                      0
time_enc                          sum       concat           sum
dataset      Metric
Retweets(MC) F1-Score      0.54 (nan)   0.57 (nan)    0.54 (nan)
             LL/#events  -10.34 (nan)  -6.58 (nan)  -10.03 (nan)
Retweets(ML) AUROC                NaN          NaN           NaN
             LL/#events           NaN          NaN           NaN
SO           F1-Score      0.35 (nan)          NaN           NaN
             LL/#events   -0.52 (nan)          NaN           NaN
Synthea      AUROC                NaN          NaN           NaN
             LL/#events           NaN          NaN           NaN


mod                                                           AE     PP(ML/MC)
diag_offset                         1                          1             1
time_enc                       concat           sum       concat           sum
dataset      Metric
Retweets(MC) F1-Score      0.56 (nan)    0.32 (nan)          NaN           NaN
             LL/#events   -6.44 (nan)   -9.02 (nan)          NaN           NaN
Retweets(ML) AUROC                NaN           NaN  0.65 (0.03)           NaN
             LL/#events           NaN           NaN          NaN           NaN
SO           F1-Score             NaN           NaN   0.33 (0.0)           NaN
             LL/#events           NaN           NaN          NaN           NaN
Synthea      AUROC        0.61 (0.03)   0.62 (0.04)  0.84 (0.05)    0.6 (0.05)
             LL/#events  -2.01 (0.25)  -1.96 (0.26)          NaN  -5.41 (0.42)

[8 rows x 24 columns]

In [7]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

dataset                               Retweets(MC)               Retweets(ML)  \
Metric                                    F1-Score    LL/#events        AUROC
      mod        diag_offset time_enc
value AE         -2          concat     0.63 (nan)           NaN  0.71 (0.02)
                             sum        0.62 (nan)           NaN  0.69 (0.03)
                 -1          concat     0.63 (nan)           NaN  0.71 (0.02)
                             sum        0.62 (nan)           NaN          NaN
                  0          concat     0.63 (nan)           NaN   0.7 (0.03)
                             sum        0.61 (nan)           NaN          NaN
                  1          concat            NaN           NaN  0.65 (0.03)
                             sum        0.59 (nan)           NaN          NaN
      PP(ML/MC)  -2          concat     0.53 (nan)  -10.28 (nan)  0.74 (0.01)
                             sum        0.35 (nan)  -22.16 (nan)  0.71 (0.01)
                 -1          concat     0.52 (nan)  -12.02 (nan)          NaN
                             sum        0.35 (nan)  -18.85 (nan)          NaN
                  0          concat     0.53 (nan)  -16.29 (nan)          NaN
                             sum        0.45 (nan)  -13.22 (nan)          NaN
                  1          concat     0.44 (nan)  -12.03 (nan)          NaN
                             sum               NaN           NaN          NaN
      PP(single) -2          concat     0.57 (nan)   -6.79 (nan)  0.71 (0.02)
                             sum        0.56 (nan)   -7.96 (nan)  0.67 (0.04)
                 -1          concat     0.53 (nan)   -6.64 (nan)          NaN
                             sum        0.54 (nan)  -10.34 (nan)          NaN
                  0          concat     0.57 (nan)   -6.58 (nan)          NaN
                             sum        0.54 (nan)  -10.03 (nan)          NaN
                  1          concat     0.56 (nan)   -6.44 (nan)          NaN
                             sum        0.32 (nan)   -9.02 (nan)          NaN

dataset                                                       SO  \
Metric                                   LL/#events     F1-Score
      mod        diag_offset time_enc
value AE         -2          concat             NaN  0.38 (0.01)
                             sum                NaN  0.36 (0.01)
                 -1          concat             NaN  0.39 (0.01)
                             sum                NaN   0.34 (nan)
                  0          concat             NaN  0.38 (0.02)
                             sum                NaN          NaN
                  1          concat             NaN   0.33 (0.0)
                             sum                NaN          NaN
      PP(ML/MC)  -2          concat    -1.35 (0.03)  0.33 (0.01)
                             sum        -1.6 (0.04)  0.33 (0.01)
                 -1          concat             NaN   0.32 (nan)
                             sum                NaN   0.33 (nan)
                  0          concat             NaN          NaN
                             sum                NaN          NaN
                  1          concat             NaN          NaN
                             sum                NaN          NaN
      PP(single) -2          concat     1.99 (0.06)  0.37 (0.01)
                             sum        1.83 (0.08)   0.35 (0.0)
                 -1          concat             NaN   0.37 (nan)
                             sum                NaN   0.35 (nan)
                  0          concat             NaN          NaN
                             sum                NaN          NaN
                  1          concat             NaN          NaN
                             sum                NaN          NaN

dataset                                                  Synthea
Metric                                   LL/#events        AUROC    LL/#events
      mod        diag_offset time_enc
value AE         -2          concat             NaN    0.9 (0.0)           NaN
                             sum                NaN  0.89 (0.01)           NaN
                 -1          concat             NaN   0.9 (0.01)           NaN
                             sum                NaN  0.89 (0.01)           NaN
                  0          concat             NaN   0.9 (0.01)           NaN
                             sum                NaN          NaN           NaN
                  1          concat             NaN  0.84 (0.05)           NaN
                             sum                NaN          NaN           NaN
      PP(ML/MC)  -2          concat    -2.02 (0.02)          NaN           NaN
                             sum       -2.02 (0.02)          NaN           NaN
                 -1          concat     -2.01 (nan)          NaN           NaN
                             sum        -2.02 (nan)          NaN           NaN
                  0          concat             NaN          NaN           NaN
                             sum                NaN          NaN           NaN
                  1          concat             NaN   0.6 (0.04)  -5.45 (0.45)
                             sum                NaN   0.6 (0.05)  -5.41 (0.42)
      PP(single) -2          concat    -0.51 (0.01)          NaN           NaN
                             sum       -0.54 (0.01)          NaN           NaN
                 -1          concat      -0.5 (nan)          NaN           NaN
                             sum        -0.52 (nan)          NaN           NaN
                  0          concat             NaN          NaN           NaN
                             sum                NaN          NaN           NaN
                  1          concat             NaN  0.61 (0.03)  -2.01 (0.25)
                             sum                NaN  0.62 (0.04)  -1.96 (0.26)

# Table III

In [15]:
df_filt = dl_runs(runs, selected_tag='H50')

In [16]:
i_groupby_row =['dataset','setting','test_center']
i_groupby_col = ['event_enc','mod']
i_groupby_col=['INPUT','OUTPUT']
i_agg = ['split']
i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC','Best-Test-pred_label/AUROC']
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),2))  + ' (' + str(round(x.std(),2))  +')'  ) #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_excel("aaa.xlsx")

,dataset,setting,test_center,INPUT,OUTPUT,split,Best-Test-pred_label/f1-binary,Best-Test-pred_label/AUPRC,Best-Test-pred_label/AUROC
0,P19,mc2,0,TEDAM,single-mark-label,,NaN,NaN,NaN
1,P19,sc,1,TEDAM,single-mark-label,4,0.623188,0.675282,0.942595
2,P19,sc,1,TEDAM,single-mark-label,3,0.601869,0.646879,0.929806
3,P19,sc,1,TEDAM,single-mark-label,2,0.618834,0.665528,0.934867
4,P19,sc,1,TEDAM,single-mark-label,1,0.632613,0.652958,0.944120
...,...,...,...,...,...,...,...,...,...
186,P12,seft,,TEDAM,ml-mark-label,,0.529634,0.514727,0.852406
187,P19,mc2,0,TEDAM,none-mark-label,,0.567891,0.651469,0.858114
188,P19,mc2,0,TE,none-mark-label,,0.511719,0.606947,0.831398
189,P19,mc2,0,DAM,none-mark-label,,0.407640,0.649160,0.876854
190,P19,mc2,1,DAM,none-mark-label,,0.613982,0.519502,0.921243

                                                    Best-Test-pred_label/f1-binary  \
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label                      0.52 (0.03)
                            TEDAM ml-mark-label                        0.53 (0.05)
                                  none-mark-label                      0.52 (0.04)
                                  single-mark-label                    0.53 (0.04)
                1           DAM   none-mark-label                       0.52 (0.1)
                            TEDAM ml-mark-label                        0.57 (0.03)
                                  none-mark-label                      0.57 (0.04)
                                  single-mark-label                    0.57 (0.03)
                2           DAM   none-mark-label                      0.55 (0.03)
                            TEDAM ml-mark-label                        0.58 (0.03)
                                  none-mark-label                      0.55 (0.04)
                                  single-mark-label                    0.55 (0.04)
        mc2     0           DAM   none-mark-label                        0.5 (nan)
                            TEDAM ml-mark-label                          0.5 (nan)
                                  none-mark-label                        0.5 (nan)
                                  single-mark-label                     0.51 (nan)
                1           DAM   none-mark-label                       0.55 (nan)
                            TEDAM ml-mark-label                         0.52 (nan)
                                  none-mark-label                       0.53 (nan)
                                  single-mark-label                     0.53 (nan)
                2           DAM   none-mark-label                       0.53 (nan)
                            TEDAM ml-mark-label                         0.54 (nan)
                                  none-mark-label                       0.54 (nan)
                                  single-mark-label                     0.53 (nan)
        sc      0           DAM   none-mark-label                      0.49 (0.04)
                            TEDAM ml-mark-label                        0.45 (0.03)
                                  none-mark-label                      0.47 (0.04)
                                  single-mark-label                    0.48 (0.06)
                1           DAM   none-mark-label                       0.5 (0.02)
                            TEDAM ml-mark-label                         0.5 (0.03)
                                  none-mark-label                      0.48 (0.06)
                                  single-mark-label                    0.51 (0.03)
                2           DAM   none-mark-label                      0.52 (0.02)
                            TEDAM ml-mark-label                         0.5 (0.07)
                                  none-mark-label                      0.49 (0.04)
                                  single-mark-label                    0.49 (0.06)
        seft                DAM   none-mark-label                       0.52 (nan)
                            TEDAM ml-mark-label                         0.53 (nan)
                                  none-mark-label                       0.53 (nan)
                                  single-mark-label                      0.5 (nan)
P19     mc1     0           TEDAM single-mark-label                    0.71 (0.01)
                1           TEDAM single-mark-label                    0.62 (0.03)
        mc2     0           DAM   none-mark-label                       0.41 (nan)
                            TE    none-mark-label                       0.51 (nan)
                            TEDAM none-mark-label                       0.57 (nan)
                                  single-mark-label                      nan (nan)
                1           DAM   none-mark-label                       0.61 (nan)
                            TE    none-mark-label                        0.6 (nan)
                            TEDAM none-mark-label                        0.6 (nan)
        sc      0           DAM   none-mark-label                      0.68 (0.02)
                            TE    none-mark-label                       0.6 (0.03)
                            TEDAM none-mark-label                      0.68 (0.03)
                                  single-mark-label                    0.68 (0.02)
                1           DAM   none-mark-label                      0.59 (0.01)
                            TE    none-mark-label                      0.48 (0.12)
                            TEDAM none-mark-label                      0.61 (0.02)
                                  single-mark-label                    0.62 (0.01)

                                                    Best-Test-pred_label/AUPRC  \
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label                  0.53 (0.05)
                            TEDAM ml-mark-label                    0.53 (0.05)
                                  none-mark-label                  0.53 (0.05)
                                  single-mark-label                0.54 (0.05)
                1           DAM   none-mark-label                   0.5 (0.13)
                            TEDAM ml-mark-label                    0.56 (0.03)
                                  none-mark-label                  0.56 (0.04)
                                  single-mark-label                0.56 (0.03)
                2           DAM   none-mark-label                  0.57 (0.04)
                            TEDAM ml-mark-label                     0.6 (0.04)
                                  none-mark-label                  0.57 (0.05)
                                  single-mark-label                0.57 (0.04)
        mc2     0           DAM   none-mark-label                    0.5 (nan)
                            TEDAM ml-mark-label                     0.49 (nan)
                                  none-mark-label                    0.5 (nan)
                                  single-mark-label                 0.53 (nan)
                1           DAM   none-mark-label                   0.53 (nan)
                            TEDAM ml-mark-label                     0.51 (nan)
                                  none-mark-label                   0.53 (nan)
                                  single-mark-label                 0.54 (nan)
                2           DAM   none-mark-label                   0.53 (nan)
                            TEDAM ml-mark-label                     0.56 (nan)
                                  none-mark-label                   0.56 (nan)
                                  single-mark-label                 0.54 (nan)
        sc      0           DAM   none-mark-label                  0.46 (0.03)
                            TEDAM ml-mark-label                    0.42 (0.04)
                                  none-mark-label                  0.46 (0.05)
                                  single-mark-label                0.47 (0.08)
                1           DAM   none-mark-label                   0.5 (0.03)
                            TEDAM ml-mark-label                    0.46 (0.05)
                                  none-mark-label                  0.44 (0.08)
                                  single-mark-label                0.47 (0.05)
                2           DAM   none-mark-label                  0.51 (0.04)
                            TEDAM ml-mark-label                    0.46 (0.07)
                                  none-mark-label                  0.48 (0.08)
                                  single-mark-label                0.45 (0.08)
        seft                DAM   none-mark-label                   0.52 (nan)
                            TEDAM ml-mark-label                     0.51 (nan)
                                  none-mark-label                   0.52 (nan)
                                  single-mark-label                 0.53 (nan)
P19     mc1     0           TEDAM single-mark-label                0.78 (0.02)
                1           TEDAM single-mark-label                0.68 (0.05)
        mc2     0           DAM   none-mark-label                   0.65 (nan)
                            TE    none-mark-label                   0.61 (nan)
                            TEDAM none-mark-label                   0.65 (nan)
                                  single-mark-label                  nan (nan)
                1           DAM   none-mark-label                   0.52 (nan)
                            TE    none-mark-label                   0.51 (nan)
                            TEDAM none-mark-label                   0.59 (nan)
        sc      0           DAM   none-mark-label                  0.76 (0.02)
                            TE    none-mark-label                  0.68 (0.02)
                            TEDAM none-mark-label                  0.77 (0.03)
                                  single-mark-label                0.75 (0.01)
                1           DAM   none-mark-label                  0.68 (0.02)
                            TE    none-mark-label                  0.43 (0.16)
                            TEDAM none-mark-label                  0.67 (0.02)
                                  single-mark-label                0.66 (0.01)

                                                    Best-Test-pred_label/AUROC
dataset setting test_center INPUT OUTPUT
P12     mc1     0           DAM   none-mark-label                  0.85 (0.02)
                            TEDAM ml-mark-label                    0.86 (0.02)
                                  none-mark-label                  0.86 (0.02)
                                  single-mark-label                0.86 (0.03)
                1           DAM   none-mark-label                  0.83 (0.08)
                            TEDAM ml-mark-label                    0.86 (0.01)
                                  none-mark-label                  0.87 (0.02)
                                  single-mark-label                0.87 (0.01)
                2           DAM   none-mark-label                  0.86 (0.02)
                            TEDAM ml-mark-label                    0.87 (0.01)
                                  none-mark-label                  0.87 (0.02)
                                  single-mark-label                0.86 (0.02)
        mc2     0           DAM   none-mark-label                   0.84 (nan)
                            TEDAM ml-mark-label                     0.84 (nan)
                                  none-mark-label                   0.84 (nan)
                                  single-mark-label                 0.85 (nan)
                1           DAM   none-mark-label                   0.86 (nan)
                            TEDAM ml-mark-label                     0.84 (nan)
                                  none-mark-label                   0.86 (nan)
                                  single-mark-label                 0.85 (nan)
                2           DAM   none-mark-label                   0.85 (nan)
                            TEDAM ml-mark-label                     0.86 (nan)
                                  none-mark-label                   0.86 (nan)
                                  single-mark-label                 0.86 (nan)
        sc      0           DAM   none-mark-label                  0.82 (0.03)
                            TEDAM ml-mark-label                     0.8 (0.04)
                                  none-mark-label                  0.82 (0.03)
                                  single-mark-label                0.83 (0.04)
                1           DAM   none-mark-label                  0.83 (0.01)
                            TEDAM ml-mark-label                    0.82 (0.02)
                                  none-mark-label                  0.82 (0.03)
                                  single-mark-label                0.83 (0.02)
                2           DAM   none-mark-label                  0.84 (0.02)
                            TEDAM ml-mark-label                    0.82 (0.05)
                                  none-mark-label                  0.82 (0.04)
                                  single-mark-label                0.81 (0.04)
        seft                DAM   none-mark-label                   0.85 (nan)
                            TEDAM ml-mark-label                     0.85 (nan)
                                  none-mark-label                   0.86 (nan)
                                  single-mark-label                 0.86 (nan)
P19     mc1     0           TEDAM single-mark-label                0.93 (0.01)
                1           TEDAM single-mark-label                0.93 (0.02)
        mc2     0           DAM   none-mark-label                   0.88 (nan)
                            TE    none-mark-label                   0.83 (nan)
                            TEDAM none-mark-label                   0.86 (nan)
                                  single-mark-label                  nan (nan)
                1           DAM   none-mark-label                   0.92 (nan)
                            TE    none-mark-label                   0.85 (nan)
                            TEDAM none-mark-label                   0.91 (nan)
        sc      0           DAM   none-mark-label                   0.93 (0.0)
                            TE    none-mark-label                   0.9 (0.01)
                            TEDAM none-mark-label                   0.94 (0.0)
                                  single-mark-label                 0.93 (0.0)
                1           DAM   none-mark-label                   0.94 (0.0)
                            TE    none-mark-label                  0.85 (0.07)
                            TEDAM none-mark-label                   0.93 (0.0)
                                  single-mark-label                0.94 (0.01)

                            Best-Test-pred_label/f1-binary                \
INPUT                                                  DAM         TEDAM
OUTPUT                                     none-mark-label ml-mark-label
dataset setting test_center
P12     mc1     0                              0.52 (0.03)   0.53 (0.05)
                1                               0.52 (0.1)   0.57 (0.03)
                2                              0.55 (0.03)   0.58 (0.03)
        mc2     0                                0.5 (nan)     0.5 (nan)
                1                               0.55 (nan)    0.52 (nan)
                2                               0.53 (nan)    0.54 (nan)
        sc      0                              0.49 (0.04)   0.45 (0.03)
                1                               0.5 (0.02)    0.5 (0.03)
                2                              0.52 (0.02)    0.5 (0.07)
        seft                                    0.52 (nan)    0.53 (nan)
P19     mc1     0                                      NaN           NaN
                1                                      NaN           NaN
        mc2     0                               0.41 (nan)           NaN
                1                               0.61 (nan)           NaN
        sc      0                              0.68 (0.02)           NaN
                1                              0.59 (0.01)           NaN

                                                                               \
INPUT                                                                      TE
OUTPUT                      none-mark-label single-mark-label none-mark-label
dataset setting test_center
P12     mc1     0               0.52 (0.04)       0.53 (0.04)             NaN
                1               0.57 (0.04)       0.57 (0.03)             NaN
                2               0.55 (0.04)       0.55 (0.04)             NaN
        mc2     0                 0.5 (nan)        0.51 (nan)             NaN
                1                0.53 (nan)        0.53 (nan)             NaN
                2                0.54 (nan)        0.53 (nan)             NaN
        sc      0               0.47 (0.04)       0.48 (0.06)             NaN
                1               0.48 (0.06)       0.51 (0.03)             NaN
                2               0.49 (0.04)       0.49 (0.06)             NaN
        seft                     0.53 (nan)         0.5 (nan)             NaN
P19     mc1     0                       NaN       0.71 (0.01)             NaN
                1                       NaN       0.62 (0.03)             NaN
        mc2     0                0.57 (nan)         nan (nan)      0.51 (nan)
                1                 0.6 (nan)               NaN       0.6 (nan)
        sc      0               0.68 (0.03)       0.68 (0.02)      0.6 (0.03)
                1               0.61 (0.02)       0.62 (0.01)     0.48 (0.12)

                            Best-Test-pred_label/AUPRC                \
INPUT                                              DAM         TEDAM
OUTPUT                                 none-mark-label ml-mark-label
dataset setting test_center
P12     mc1     0                          0.53 (0.05)   0.53 (0.05)
                1                           0.5 (0.13)   0.56 (0.03)
                2                          0.57 (0.04)    0.6 (0.04)
        mc2     0                            0.5 (nan)    0.49 (nan)
                1                           0.53 (nan)    0.51 (nan)
                2                           0.53 (nan)    0.56 (nan)
        sc      0                          0.46 (0.03)   0.42 (0.04)
                1                           0.5 (0.03)   0.46 (0.05)
                2                          0.51 (0.04)   0.46 (0.07)
        seft                                0.52 (nan)    0.51 (nan)
P19     mc1     0                                  NaN           NaN
                1                                  NaN           NaN
        mc2     0                           0.65 (nan)           NaN
                1                           0.52 (nan)           NaN
        sc      0                          0.76 (0.02)           NaN
                1                          0.68 (0.02)           NaN

                                                                               \
INPUT                                                                      TE
OUTPUT                      none-mark-label single-mark-label none-mark-label
dataset setting test_center
P12     mc1     0               0.53 (0.05)       0.54 (0.05)             NaN
                1               0.56 (0.04)       0.56 (0.03)             NaN
                2               0.57 (0.05)       0.57 (0.04)             NaN
        mc2     0                 0.5 (nan)        0.53 (nan)             NaN
                1                0.53 (nan)        0.54 (nan)             NaN
                2                0.56 (nan)        0.54 (nan)             NaN
        sc      0               0.46 (0.05)       0.47 (0.08)             NaN
                1               0.44 (0.08)       0.47 (0.05)             NaN
                2               0.48 (0.08)       0.45 (0.08)             NaN
        seft                     0.52 (nan)        0.53 (nan)             NaN
P19     mc1     0                       NaN       0.78 (0.02)             NaN
                1                       NaN       0.68 (0.05)             NaN
        mc2     0                0.65 (nan)         nan (nan)      0.61 (nan)
                1                0.59 (nan)               NaN      0.51 (nan)
        sc      0               0.77 (0.03)       0.75 (0.01)     0.68 (0.02)
                1               0.67 (0.02)       0.66 (0.01)     0.43 (0.16)

                            Best-Test-pred_label/AUROC                \
INPUT                                              DAM         TEDAM
OUTPUT                                 none-mark-label ml-mark-label
dataset setting test_center
P12     mc1     0                          0.85 (0.02)   0.86 (0.02)
                1                          0.83 (0.08)   0.86 (0.01)
                2                          0.86 (0.02)   0.87 (0.01)
        mc2     0                           0.84 (nan)    0.84 (nan)
                1                           0.86 (nan)    0.84 (nan)
                2                           0.85 (nan)    0.86 (nan)
        sc      0                          0.82 (0.03)    0.8 (0.04)
                1                          0.83 (0.01)   0.82 (0.02)
                2                          0.84 (0.02)   0.82 (0.05)
        seft                                0.85 (nan)    0.85 (nan)
P19     mc1     0                                  NaN           NaN
                1                                  NaN           NaN
        mc2     0                           0.88 (nan)           NaN
                1                           0.92 (nan)           NaN
        sc      0                           0.93 (0.0)           NaN
                1                           0.94 (0.0)           NaN


INPUT                                                                      TE
OUTPUT                      none-mark-label single-mark-label none-mark-label
dataset setting test_center
P12     mc1     0               0.86 (0.02)       0.86 (0.03)             NaN
                1               0.87 (0.02)       0.87 (0.01)             NaN
                2               0.87 (0.02)       0.86 (0.02)             NaN
        mc2     0                0.84 (nan)        0.85 (nan)             NaN
                1                0.86 (nan)        0.85 (nan)             NaN
                2                0.86 (nan)        0.86 (nan)             NaN
        sc      0               0.82 (0.03)       0.83 (0.04)             NaN
                1               0.82 (0.03)       0.83 (0.02)             NaN
                2               0.82 (0.04)       0.81 (0.04)             NaN
        seft                     0.86 (nan)        0.86 (nan)             NaN
P19     mc1     0                       NaN       0.93 (0.01)             NaN
                1                       NaN       0.93 (0.02)             NaN
        mc2     0                0.86 (nan)         nan (nan)      0.83 (nan)
                1                0.91 (nan)               NaN      0.85 (nan)
        sc      0                0.94 (0.0)        0.93 (0.0)      0.9 (0.01)
                1                0.93 (0.0)       0.94 (0.01)     0.85 (0.07)

In [45]:
df

,dataset,setting,test_center,OUTPUT,INPUT,split,Best-Test-pred_label/f1-binary,Best-Test-pred_label/AUPRC,Best-Test-pred_label/AUROC
0,/scratch/hokarami/data_tedam/p12/,mc2,2,none-label,TEDAM,{0},0.422311,0.378606,0.776002
1,/scratch/hokarami/data_tedam/p12/,mc2,2,none-label,DAM,{0},0.421284,0.407693,0.784718
2,/scratch/hokarami/data_tedam/p12/,mc2,1,none-label,TEDAM,{0},0.398410,0.357587,0.767543
3,/scratch/hokarami/data_tedam/p12/,mc2,1,none-label,DAM,{0},0.430396,0.407364,0.789033
4,/scratch/hokarami/data_tedam/p12/,mc2,0,none-label,TEDAM,{0},0.412155,0.404788,0.789505
...,...,...,...,...,...,...,...,...,...
169,/scratch/hokarami/data_tedam/p12/,mc1,0,single-mark,TE,1,NaN,NaN,NaN
170,/scratch/hokarami/data_tedam/p12/,mc1,0,none-label,TEDAM,0,0.569014,0.699770,0.945812
171,/scratch/hokarami/data_tedam/p12/,mc1,0,none-label,DAM,0,0.459658,0.479535,0.861373
172,/scratch/hokarami/data_tedam/p12/,mc1,0,single-mark,TEDAM,0,NaN,NaN,NaN
173,/scratch/hokarami/data_tedam/p12/,mc1,0,single-mark,TE,0,NaN,NaN,NaN

# CIF

In [7]:
df_filt = dl_runs(runs, selected_tag='CIF')

df_filt.iloc[0].config.keys()

dict_keys(['w', 'lr', 'log', 'mod', 'per', 'cuda', 'data', 'date', 'demo', 'prof', 'epoch', 'split', 'state', 'w_pos', 'wandb', 'ES_pat', 'device', 'freeze', 'run_id', 'smooth', 'te_d_k', 'te_d_v', 'w_time', 'dataset', 'int_dec', 'setting', 'w_class', 'w_event', 'run_name', 'run_path', 'te_d_rnn', 'time_enc', 'TE_config', 'event_enc', 'next_mark', 'num_demos', 'num_marks', 'num_types', 'pos_alpha', 'te_d_mark', 'te_d_time', 'te_n_head', 'type_loss', 'CIF_config', 'DAM_config', 'batch_size', 'data_label', 'num_states', 'pos_weight', 'str_config', 'te_d_inner', 'te_dropout', 'testloader', 'demo_config', 'mark_detach', 'te_n_layers', 'test_center', 'trainloader', 'user_prefix', 'validloader', 'w_pos_label', 'label_config', 'sample_label', 'weight_decay', 'hparams2write', 'balanced_batch', 'label_loss_fun', 'pred_loss_func', 'w_sample_label', 'next_time_config', 'next_type_config', 'transfer_learning'])

In [43]:
i_groupby_row =['dataset','setting',]
i_groupby_col = ['state']
i_agg = ['test_center','split']
# i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC']
i_metric = ['Test-CIF/NLL-#events']


#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)#.dropna(axis=1,how='all')
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df





a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(['mean','std']).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),3))  + ' (' + str(round(x.std(),3))  +')' )

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_csv("aaa.csv")

KeyError: "['Test-CIF/NLL-#events'] not in index"