In [61]:
# activate line execution
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# plotly
import plotly.express as px  # (version 4.7.0 or higher)
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import numpy as np

In [62]:
# !pip install wandb -qqq
import os
os.environ["WANDB_API_KEY"] = "0f780ac8a470afe6cb7fc474ff3794772c660465"

os.environ["WANDB_NOTEBOOK_NAME"] = "jup_res"

import wandb
# wandb.login()
api = wandb.Api()





# selected_tag = 'Pred'

runs = api.runs("hokarami/TEEDAM_supervised")

In [63]:
import pandas as pd 


# Project is specified by <entity/project-name>
def dl_runs(all_runs, selected_tag=None):




    summary_list, config_list, name_list, path_list = [], [], [], []
    for run in all_runs: 

        if (selected_tag not in run.tags) and (selected_tag is not None):
            continue
        # .summary contains the output keys/values for metrics like accuracy.
        #  We call ._json_dict to omit large files 
        summary_list.append(run.summary._json_dict)

        # .config contains the hyperparameters.
        #  We remove special values that start with _.
        

        config_list.append(
            {k: v for k,v in run.config.items()
            if not k.startswith('_')})

        # .name is the human-readable name of the run.
        name_list.append(run.name)
        path_list.append(run.path)

    runs_df = pd.DataFrame({
        "summary": summary_list,
        "config": config_list,
        "name": name_list,
        "path": path_list

        })

    # runs_df.to_csv("project.csv")
    return runs_df

In [64]:
# q = runs_df['name'].str.contains('\[R2-')
# runs_df = runs_df[q]


runs_df = dl_runs(runs, selected_tag='H20')

runs_df
runs_df.iloc[0].summary.keys()
runs_df.iloc[0].config.keys()

,summary,config,name,path
0,"{'_runtime': 488.4834156036377, 'Test-pred_lab...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1664731,"[hokarami, TEEDAM_supervised, 9clf36pk]"
1,{'Valid-NextType(ML)/auc-ovo-weighted': 0.8449...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1667036,"[hokarami, TEEDAM_supervised, pnmykvus]"
2,{'Best-Test-pred_label/f1-binary': 0.560311284...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1663219,"[hokarami, TEEDAM_supervised, p46b3dak]"
3,"{'_runtime': 4723.75697183609, 'Best-Valid-pre...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1664506,"[hokarami, TEEDAM_supervised, 190vq9g0]"
4,{'Valid-pred_label/recall-binary': 0.635593220...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1666267,"[hokarami, TEEDAM_supervised, 1f3o6it9]"
...,...,...,...,...
103,"{'Obj': 0.5991058122205664, '_wandb': {'runtim...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644008,"[hokarami, TEEDAM_supervised, tuemutjg]"
104,"{'_step': 50, 'Best-Valid-pred_label/AUROC': 0...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1649688,"[hokarami, TEEDAM_supervised, f0m4i8vr]"
105,"{'_timestamp': 1677607946.8922324, 'max_obj_va...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1644494,"[hokarami, TEEDAM_supervised, ocn3gpdj]"
106,"{'Valid-pred_label/loss': 0, 'Test-NextTime/rm...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-TEDA__nextmark-concat]1646207,"[hokarami, TEEDAM_supervised, ifj23e5w]"
107,"{'Test-pred_label/AUPRC': 0.47099675180377815,...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H10-DA__base-concat]1643468,"[hokarami, TEEDAM_supervised, 7mzmcpzt]"

dict_keys(['_runtime', 'Test-pred_label/AUPRC', 'Test-pred_label/AUROC', 'Valid-NextTime/RMSE', 'Test-NextTime/rmse_norm', 'Best-Valid-pred_label/f1-binary', 'Test-NextTime/RMSE', 'Valid-NextTime/msae', 'Valid-pred_label/f1-binary', 'Best-Valid-pred_label/AUROC', 'Valid-NextType(ML)/recall-weighted', 'Best-Valid-NextType(ML)/f1-weighted', 'Test-NextType(ML)/precision-weighted', 'Valid-pred_label/ACC', 'time-Time/train_epoch', 'Best-Test-pred_label/AUPRC', 'Test-pred_label/recall-binary', 'Test-NextType(ML)/auc-ovo-weighted', 'Valid-pred_label/AUROC', 'Test-pred_label/f1-binary', 'Best-Test-pred_label/f1-binary', 'Test-NextType(ML)/auc-PR-weighted', 'Obj', 'Test-pred_label/loss', 'Best-Valid-pred_label/AUPRC', 'Test-NextType(ML)/recall-weighted', 'Valid-NextType(ML)/precision-weighted', 'Best-Test-NextType(ML)/f1-weighted', '_timestamp', 'Test-pred_label/ACC', 'Valid-pred_label/AUPRC', 'Best-Test-pred_label/AUROC', 'Test-NextType(ML)/f1-weighted', 'Valid-NextType(ML)/f1-weighted', 'Valid-pred_label/precision-binary', 'Valid-NextType(ML)/auc-PR-weighted', 'Best-Test-NextType(ML)/auc-ovo-weighted', 'Valid-NextType(ML)/auc-ovo-weighted', '_step', 'Test-NextTime/msae', 'Valid-pred_label/loss', 'time-Time/valid_epoch', 'Valid-NextTime/rmse_norm', 'Valid-pred_label/recall-binary', 'Test-pred_label/precision-binary', 'Best-Valid-NextType(ML)/auc-ovo-weighted'])

dict_keys(['w', 'lr', 'log', 'mod', 'per', 'cuda', 'data', 'date', 'demo', 'prof', 'INPUT', 'epoch', 'noise', 'split', 'state', 'w_pos', 'wandb', 'ES_pat', 'OUTPUT', 'device', 'freeze', 'run_id', 'smooth', 'te_d_k', 'te_d_v', 'w_time', 'dataset', 'int_dec', 'setting', 'w_class', 'w_event', 'log_freq', 'run_name', 'run_path', 'te_d_rnn', 'time_enc', 'TE_config', 'event_enc', 'next_mark', 'num_demos', 'num_marks', 'num_types', 'pos_alpha', 'te_d_mark', 'te_d_time', 'te_n_head', 'type_loss', 'CIF_config', 'DAM_config', 'batch_size', 'data_label', 'num_states', 'pos_weight', 'str_config', 'te_d_inner', 'te_dropout', 'testloader', 'demo_config', 'mark_detach', 'te_n_layers', 'test_center', 'trainloader', 'user_prefix', 'validloader', 'w_pos_label', 'NOISE_config', 'label_config', 'sample_label', 'weight_decay', 'hparams2write', 'wandb_project', 'balanced_batch', 'label_loss_fun', 'pred_loss_func', 'w_sample_label', 'dict_map_events', 'dict_map_states', 'next_time_config', 'next_type_config', 'transfer_learning'])

# Table I
Effect of time concatenation and single+mark

In [5]:
runs = api.runs("hokarami/TEEDAM_unsupervised_timeCat")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,"{'Valid-NextType(MC)/acc': 0.5067098105126473,...","{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__pp_mc-sum-d1]1888307-,"[hokarami, TEEDAM_unsupervised_timeCat, swclgn94]"
1,"{'Test-NextType(ML)/f1-weighted-CIF': 0, 'Vali...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-concat-d1]1846111-,"[hokarami, TEEDAM_unsupervised_timeCat, ngompq5p]"
2,{'Test-NextType(ML)/f1-weighted': 0.1698214655...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-sum-d1]1847764-,"[hokarami, TEEDAM_unsupervised_timeCat, usls7sls]"
3,"{'Test-NextTime/RMSE': 3.4010276304092084, 'ti...",{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_single_mark-concat-d1]1848546-,"[hokarami, TEEDAM_unsupervised_timeCat, rq60tih1]"
4,{'Best-Test-CIF/LL-#events': -4.82887770046604...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__pp_ml-sum-d1]1843295-,"[hokarami, TEEDAM_unsupervised_timeCat, mtuvvfln]"
...,...,...,...,...
374,{'Valid-NextType(ML)/precision-weighted': 0.34...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1785157-,"[hokarami, TEEDAM_unsupervised_timeCat, j9z1o2jy]"
375,{'Test-NextType(MC)/f1-macro': 0.4492456530605...,"{'w': [1, 1, 1], 'lr': 0.003, 'log': 'log.txt'...",[H70-TE__nextmark-concat-d-2]1787979-,"[hokarami, TEEDAM_unsupervised_timeCat, imm1g4my]"
376,{'Valid-NextType(ML)/precision-weighted': 0.28...,{'w': '[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1....,[H70-TE__nextmark-concat-d-2]1787649-,"[hokarami, TEEDAM_unsupervised_timeCat, me3gzd7s]"
377,{'Test-NextTime/rmse_norm': 293.05339260175583...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786183-,"[hokarami, TEEDAM_unsupervised_timeCat, i0kftsh7]"
378,"{'Test-NextTime/RMSE': 0.9588277349512668, 'ti...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__nextmark-concat-d-2]1786368-,"[hokarami, TEEDAM_unsupervised_timeCat, 20vy98q0]"

In [45]:
i_groupby_row =['dataset']
i_groupby_col = ['time_enc']
i_groupby_col=['mod','diag_offset','time_enc']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted','Best-Test-NextType(MC)/f1-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC','Best-Test-NextType(MC)/f1-weighted':'F1-Score'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')


a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  ).reset_index() #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'



df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

                               value                                         \
mod                        PP(ML/MC)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.35(nan)    0.52(nan)    0.35(nan)
             LL/#events  -10.28(nan)  -22.16(nan)  -12.02(nan)  -18.85(nan)
Retweets(ML) AUROC        0.74(0.01)   0.72(0.01)   0.74(0.01)   0.72(0.01)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.34(0.03)  -1.58(0.03)  -1.50(0.05)  -1.58(0.03)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.33(0.01)   0.33(0.01)   0.33(0.01)   0.32(0.00)
             LL/#events  -2.02(0.02)  -2.02(0.02)  -2.02(0.01)  -2.04(0.01)
Synthea      AUROC        0.58(0.02)   0.59(0.05)   0.60(0.02)   0.61(0.04)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -5.49(0.49)  -5.43(0.48)  -5.54(0.46)  -5.35(0.41)

                                                                             \
mod
diag_offset                        0                         1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.53(nan)    0.45(nan)    0.44(nan)    0.44(nan)
             LL/#events  -16.29(nan)  -13.22(nan)  -12.03(nan)  -21.68(nan)
Retweets(ML) AUROC        0.74(0.02)   0.71(0.02)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.49(0.03)  -1.60(0.04)  -1.67(0.04)  -1.68(0.05)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.32(0.00)   0.32(0.00)   0.32(0.01)   0.32(0.00)
             LL/#events  -2.04(0.01)  -2.05(0.01)  -2.08(0.05)  -2.07(0.02)
Synthea      AUROC        0.60(0.05)   0.60(0.05)   0.57(0.06)   0.61(0.05)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -5.50(0.46)  -5.33(0.42)  -5.61(0.41)  -5.26(0.39)

                                                 ...                          \
mod                              AE              ...
diag_offset                      -2              ...           1
time_enc                     concat         sum  ...      concat         sum
dataset      Metric                              ...
Retweets(MC) AUROC         nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             F1-Score     0.63(nan)   0.62(nan)  ...   0.59(nan)   0.59(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
Retweets(ML) AUROC       0.71(0.02)  0.69(0.03)  ...  0.66(0.03)  0.66(0.03)
             F1-Score      nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
SO           AUROC         nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             F1-Score    0.38(0.01)  0.36(0.01)  ...  0.32(0.01)  0.33(0.00)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
Synthea      AUROC       0.90(0.00)  0.89(0.01)  ...  0.84(0.05)  0.87(0.03)
             F1-Score      nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)
             LL/#events    nan(nan)    nan(nan)  ...    nan(nan)    nan(nan)

                                                                             \
mod                       PP(single)
diag_offset                       -2                        -1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.57(nan)    0.56(nan)    0.53(nan)    0.54(nan)
             LL/#events   -6.79(nan)   -7.96(nan)   -6.64(nan)  -10.34(nan)
Retweets(ML) AUROC        0.71(0.02)   0.68(0.04)   0.70(0.03)   0.68(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   1.99(0.06)   1.86(0.09)   2.02(0.05)   1.87(0.10)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.37(0.01)   0.35(0.00)   0.38(0.01)   0.35(0.01)
             LL/#events  -0.51(0.01)  -0.54(0.01)  -0.50(0.01)  -0.54(0.01)
Synthea      AUROC        0.65(0.04)   0.65(0.05)   0.65(0.05)   0.64(0.06)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.96(0.25)  -2.04(0.49)  -1.99(0.27)  -2.06(0.56)


mod
diag_offset                        0                         1
time_enc                      concat          sum       concat          sum
dataset      Metric
Retweets(MC) AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score      0.57(nan)    0.54(nan)    0.56(nan)    0.32(nan)
             LL/#events   -6.58(nan)  -10.03(nan)   -6.44(nan)   -9.02(nan)
Retweets(ML) AUROC        0.70(0.03)   0.68(0.03)   0.66(0.03)   0.66(0.03)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events   2.08(0.05)   1.85(0.11)   2.06(0.01)   1.87(0.07)
SO           AUROC          nan(nan)     nan(nan)     nan(nan)     nan(nan)
             F1-Score     0.36(0.01)   0.34(0.00)   0.33(0.00)   0.33(0.00)
             LL/#events  -0.53(0.01)  -0.55(0.01)  -0.59(0.01)  -0.60(0.01)
Synthea      AUROC        0.64(0.04)   0.64(0.04)   0.62(0.05)   0.62(0.04)
             F1-Score       nan(nan)     nan(nan)     nan(nan)     nan(nan)
             LL/#events  -1.97(0.26)  -2.10(0.55)  -1.97(0.17)  -1.92(0.19)

[12 rows x 24 columns]

In [59]:
df_result2 = df_result.transpose().sort_values(by=i_groupby_col,axis=0)

# df_result2

df_result2 = df_result2.replace('nan(nan)', np.nan).replace(r'\(nan\)$', '',regex=True).dropna(how='all', axis=1).replace(np.nan, '')

df_result2

dataset                               Retweets(MC)            Retweets(ML)  \
Metric                                    F1-Score LL/#events        AUROC
      mod        diag_offset time_enc
value AE         -2          concat           0.63              0.71(0.02)
                             sum              0.62              0.69(0.03)
                 -1          concat           0.63              0.71(0.02)
                             sum              0.62              0.69(0.02)
                  0          concat           0.63              0.70(0.03)
                             sum              0.61              0.69(0.03)
                  1          concat           0.59              0.66(0.03)
                             sum              0.59              0.66(0.03)
      PP(ML/MC)  -2          concat           0.53     -10.28   0.74(0.01)
                             sum              0.35     -22.16   0.72(0.01)
                 -1          concat           0.52     -12.02   0.74(0.01)
                             sum              0.35     -18.85   0.72(0.01)
                  0          concat           0.53     -16.29   0.74(0.02)
                             sum              0.45     -13.22   0.71(0.02)
                  1          concat           0.44     -12.03   0.66(0.03)
                             sum              0.44     -21.68   0.66(0.03)
      PP(single) -2          concat           0.57      -6.79   0.71(0.02)
                             sum              0.56      -7.96   0.68(0.04)
                 -1          concat           0.53      -6.64   0.70(0.03)
                             sum              0.54     -10.34   0.68(0.03)
                  0          concat           0.57      -6.58   0.70(0.03)
                             sum              0.54     -10.03   0.68(0.03)
                  1          concat           0.56      -6.44   0.66(0.03)
                             sum              0.32      -9.02   0.66(0.03)

dataset                                                     SO               \
Metric                                  LL/#events    F1-Score   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat                 0.38(0.01)
                             sum                    0.36(0.01)
                 -1          concat                 0.39(0.01)
                             sum                    0.35(0.02)
                  0          concat                 0.38(0.02)
                             sum                    0.34(0.01)
                  1          concat                 0.32(0.01)
                             sum                    0.33(0.00)
      PP(ML/MC)  -2          concat    -1.34(0.03)  0.33(0.01)  -2.02(0.02)
                             sum       -1.58(0.03)  0.33(0.01)  -2.02(0.02)
                 -1          concat    -1.50(0.05)  0.33(0.01)  -2.02(0.01)
                             sum       -1.58(0.03)  0.32(0.00)  -2.04(0.01)
                  0          concat    -1.49(0.03)  0.32(0.00)  -2.04(0.01)
                             sum       -1.60(0.04)  0.32(0.00)  -2.05(0.01)
                  1          concat    -1.67(0.04)  0.32(0.01)  -2.08(0.05)
                             sum       -1.68(0.05)  0.32(0.00)  -2.07(0.02)
      PP(single) -2          concat     1.99(0.06)  0.37(0.01)  -0.51(0.01)
                             sum        1.86(0.09)  0.35(0.00)  -0.54(0.01)
                 -1          concat     2.02(0.05)  0.38(0.01)  -0.50(0.01)
                             sum        1.87(0.10)  0.35(0.01)  -0.54(0.01)
                  0          concat     2.08(0.05)  0.36(0.01)  -0.53(0.01)
                             sum        1.85(0.11)  0.34(0.00)  -0.55(0.01)
                  1          concat     2.06(0.01)  0.33(0.00)  -0.59(0.01)
                             sum        1.87(0.07)  0.33(0.00)  -0.60(0.01)

dataset                                   Synthea
Metric                                      AUROC   LL/#events
      mod        diag_offset time_enc
value AE         -2          concat    0.90(0.00)
                             sum       0.89(0.01)
                 -1          concat    0.90(0.01)
                             sum       0.89(0.01)
                  0          concat    0.90(0.01)
                             sum       0.86(0.06)
                  1          concat    0.84(0.05)
                             sum       0.87(0.03)
      PP(ML/MC)  -2          concat    0.58(0.02)  -5.49(0.49)
                             sum       0.59(0.05)  -5.43(0.48)
                 -1          concat    0.60(0.02)  -5.54(0.46)
                             sum       0.61(0.04)  -5.35(0.41)
                  0          concat    0.60(0.05)  -5.50(0.46)
                             sum       0.60(0.05)  -5.33(0.42)
                  1          concat    0.57(0.06)  -5.61(0.41)
                             sum       0.61(0.05)  -5.26(0.39)
      PP(single) -2          concat    0.65(0.04)  -1.96(0.25)
                             sum       0.65(0.05)  -2.04(0.49)
                 -1          concat    0.65(0.05)  -1.99(0.27)
                             sum       0.64(0.06)  -2.06(0.56)
                  0          concat    0.64(0.04)  -1.97(0.26)
                             sum       0.64(0.04)  -2.10(0.55)
                  1          concat    0.62(0.05)  -1.97(0.17)
                             sum       0.62(0.04)  -1.92(0.19)

In [28]:
a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate('mean').round(3).reset_index()


a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'

a1

q = a1['mod']=='PP(ML/MC)'

a1.loc[q,'LL/#events'].corr(a1.loc[q,'LL/#events'])

,dataset,mod,diag_offset,time_enc,LL/#events,AUROC,F1-Score
0,Retweets(MC),PP(ML/MC),-2,concat,-10.283,NaN,0.532
1,Retweets(MC),PP(ML/MC),-2,sum,-22.161,NaN,0.353
2,Retweets(MC),PP(ML/MC),-1,concat,-12.020,NaN,0.522
3,Retweets(MC),PP(ML/MC),-1,sum,-18.847,NaN,0.354
4,Retweets(MC),PP(ML/MC),0,concat,-16.285,NaN,0.527
...,...,...,...,...,...,...,...
91,Synthea,PP(single),-1,sum,-2.064,0.643,NaN
92,Synthea,PP(single),0,concat,-1.971,0.643,NaN
93,Synthea,PP(single),0,sum,-2.104,0.637,NaN
94,Synthea,PP(single),1,concat,-1.970,0.617,NaN
95,Synthea,PP(single),1,sum,-1.921,0.616,NaN

1.0

# Table II

In [33]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

,summary,config,name,path
0,{'Best-Valid-pred_label/precision-binary': 0.1...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70H-TEnoise__pp_single_mark-concat-d0]2085332,"[hokarami, TEEDAM_unsupervised, jucp58jt]"
1,"{'Valid-pred_label/ACC': 0.9143145161290324, '...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70H-TEnoise__pp_single_mark-concat-d0]2089506,"[hokarami, TEEDAM_unsupervised, o4wrmhhj]"
2,{'Test-pred_label/precision-binary': 0.1005643...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70H-TEDA__pp_single_mark-concat-d0]2083522,"[hokarami, TEEDAM_unsupervised, gctg32i9]"
3,"{'_wandb': {'runtime': 5138}, 'Best-Valid-Next...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70H-TEDA__pp_single_mark-concat-d0]2089954,"[hokarami, TEEDAM_unsupervised, p15l4sk9]"
4,{'Best-Valid-CIF/LL-#events': -0.6655285938517...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70H-TEnoise__pp_single_mark-concat-d0]2085804,"[hokarami, TEEDAM_unsupervised, mre7wsjj]"
...,...,...,...,...
153,"{'_step': 100, 'Test-CIF/LL-#events': -1.32713...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d0]1993968,"[hokarami, TEEDAM_unsupervised, 9n5cs2dt]"
154,{'Best-Valid-NextType(ML)/auc-ovo-weighted': 0...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d0]1999765,"[hokarami, TEEDAM_unsupervised, kbstsdnm]"
155,{'Best-Valid-NextType(ML)/f1-weighted': 0.3913...,"{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEDA__pp_single_mark-concat-d0]1993078,"[hokarami, TEEDAM_unsupervised, f3kcjkiq]"
156,"{'Test-NextTime/RMSE': 2.327216482334012, 'tim...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TEnoise__pp_single_mark-concat-d0]1997768,"[hokarami, TEEDAM_unsupervised, yycj47wo]"
157,"{'Valid-CIF/#events': 83433, 'Test-NextTime/RM...","{'w': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",[H70-TE__pp_single_mark-concat-d0]1994777,"[hokarami, TEEDAM_unsupervised, o0c086g2]"

In [34]:
i_groupby_row =[]
i_groupby_col = ['time_enc']
i_groupby_col=['dataset','setting','INPUT','diag_offset']
i_agg = ['split']
i_metric = ['Best-Test-CIF/LL-#events', 'Best-Test-NextType(ML)/auc-ovo-weighted']
dict_rename_metrics = {'Best-Test-CIF/LL-#events':'LL/#events', 'Best-Test-NextType(ML)/auc-ovo-weighted':'AUROC'}
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)

# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]

df = df.rename(columns=dict_rename_metrics)
i_metric = list(dict_rename_metrics.values())

# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'  ).reset_index() #  


# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()

# a1.loc[   a1['mod'].isin(['ml','mc']) , 'mod']='PP(ML/MC)'
# a1.loc[   a1['mod'].isin(['none']) , 'mod']='AE'
# a1.loc[   a1['mod'].isin(['single']) , 'mod']='PP(single)'





df_result = a1.melt(id_vars=i_groupby_row + i_groupby_col,value_vars=i_metric, var_name='Metric')



# df = df.melt(id_vars=i_groupby_row + i_groupby_col + i_agg ,value_vars=i_metric, var_name='Metric')

df_result = df_result.pivot(index=i_groupby_row+['Metric'],columns=i_groupby_col)

# remove irrelevant metrics
df_result = df_result.replace('nan (nan)', np.nan).dropna(axis=0,how='all')
df_result

                   value                                                      \
dataset              P12
setting              mc1                                    mc2
INPUT                 TE        TEDAM      TENOISE           TE        TEDAM
diag_offset            0            0            0            0            0
Metric
AUROC         0.80(0.04)   0.84(0.02)   0.80(0.06)   0.78(0.02)   0.83(0.01)
LL/#events   -1.34(0.04)  -1.30(0.03)  -1.35(0.05)  -1.35(0.01)  -1.32(0.02)

                                                                              \
dataset                                                                  P19
setting                            sc                                    mc1
INPUT            TENOISE           TE        TEDAM      TENOISE           TE
diag_offset            0            0            0            0            0
Metric
AUROC         0.82(0.01)   0.73(0.05)   0.77(0.05)   0.73(0.06)   0.78(0.05)
LL/#events   -1.34(0.01)  -1.41(0.03)  -1.38(0.04)  -1.40(0.04)  -0.87(0.26)

                                                                              \
dataset
setting                                        mc2
INPUT              TEDAM      TENOISE           TE        TEDAM      TENOISE
diag_offset            0            0            0            0            0
Metric
AUROC         0.86(0.02)   0.76(0.05)   0.61(0.05)   0.74(0.11)   0.66(0.05)
LL/#events   -0.72(0.27)  -0.88(0.24)  -1.17(0.19)  -1.02(0.17)  -1.23(0.26)


dataset
setting               sc
INPUT                 TE        TEDAM      TENOISE
diag_offset            0            0            0
Metric
AUROC         0.78(0.04)   0.88(0.03)   0.78(0.03)
LL/#events   -0.94(0.29)  -0.80(0.28)  -0.91(0.27)

In [35]:
df_result.transpose().sort_values(by=i_groupby_col,axis=0)

Metric                                          AUROC   LL/#events
      dataset setting INPUT   diag_offset
value P12     mc1     TE      0            0.80(0.04)  -1.34(0.04)
                      TEDAM   0            0.84(0.02)  -1.30(0.03)
                      TENOISE 0            0.80(0.06)  -1.35(0.05)
              mc2     TE      0            0.78(0.02)  -1.35(0.01)
                      TEDAM   0            0.83(0.01)  -1.32(0.02)
                      TENOISE 0            0.82(0.01)  -1.34(0.01)
              sc      TE      0            0.73(0.05)  -1.41(0.03)
                      TEDAM   0            0.77(0.05)  -1.38(0.04)
                      TENOISE 0            0.73(0.06)  -1.40(0.04)
      P19     mc1     TE      0            0.78(0.05)  -0.87(0.26)
                      TEDAM   0            0.86(0.02)  -0.72(0.27)
                      TENOISE 0            0.76(0.05)  -0.88(0.24)
              mc2     TE      0            0.61(0.05)  -1.17(0.19)
                      TEDAM   0            0.74(0.11)  -1.02(0.17)
                      TENOISE 0            0.66(0.05)  -1.23(0.26)
              sc      TE      0            0.78(0.04)  -0.94(0.29)
                      TEDAM   0            0.88(0.03)  -0.80(0.28)
                      TENOISE 0            0.78(0.03)  -0.91(0.27)

In [48]:
runs = api.runs("hokarami/TEEDAM_unsupervised")
df_filt = dl_runs(runs, selected_tag='H70')
df_filt

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )
df_path = df_filt.path.apply(lambda x:'/'.join(x))

df = pd.concat([df_config, df_summary, df_path],axis=1)

q=(df['dataset']=='P12') & (df['setting']=='mc2') & (df['INPUT']=='TEDAM') & (df['diag_offset']==1) & (df['test_center']=='1')
# df[q]
# list(df.columns)
df.loc[q,'path']

115    hokarami/TEEDAM_unsupervised/zo2u72u2
Name: path, dtype: object

# Table III

In [65]:
runs = api.runs("hokarami/TEEDAM_supervised")
df_filt = dl_runs(runs, selected_tag='H70TL7')
len(df_filt)

108

In [66]:
i_groupby_row =['dataset','test_center','setting']
i_groupby_col = ['event_enc','mod']
i_groupby_col=['INPUT','OUTPUT']
i_agg = ['split']

# 'knn-ps-mean',
i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC','Best-Test-pred_label/AUROC']
# i_metric = ['Test-CIF/NLL-#events']
i_stats=['mean','std']
# i_stats=['mean']

#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df




a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(i_stats).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:f'{round(x.mean()*1,2):.2f}({round(x.std()*1,2):.2f})'   ) #  

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col).replace(r'\(nan\)$', '',regex=True)



# a1.to_excel("aaa.xlsx")

,dataset,test_center,setting,INPUT,OUTPUT,split,Best-Test-pred_label/f1-binary,Best-Test-pred_label/AUPRC,Best-Test-pred_label/AUROC
0,P19,1,sc,TEDAM,none-mark-label,4,0.556338,0.576839,0.877435
1,P19,1,sc,DAM,none-mark-label,4,0.581481,0.578897,0.894622
2,P19,1,sc,TEDAM,none-mark-label,3,0.574545,0.573973,0.862011
3,P19,1,sc,DAM,none-mark-label,3,0.564417,0.586153,0.886362
4,P19,1,sc,TEDAM,none-mark-label,2,0.549323,0.594021,0.896019
...,...,...,...,...,...,...,...,...,...
103,P12,2,mc2,DAM,none-mark-label,,0.517217,0.499038,0.843442
104,P12,1,mc2,TEDAM,none-mark-label,,0.542966,0.518184,0.850951
105,P12,1,mc2,DAM,none-mark-label,,0.541194,0.530617,0.861207
106,P12,0,mc2,TEDAM,none-mark-label,,0.486969,0.428082,0.817761
107,P12,0,mc2,DAM,none-mark-label,,0.510501,0.499934,0.838068

                                                  Best-Test-pred_label/f1-binary  \
dataset test_center setting INPUT OUTPUT
P12     0           mc1     DAM   none-mark-label                     0.52(0.03)
                            TEDAM none-mark-label                     0.53(0.04)
                    mc2     DAM   none-mark-label                      0.51(nan)
                            TEDAM none-mark-label                      0.49(nan)
                    sc      DAM   none-mark-label                     0.47(0.05)
                            TEDAM none-mark-label                     0.48(0.02)
        1           mc1     DAM   none-mark-label                     0.56(0.04)
                            TEDAM none-mark-label                     0.55(0.04)
                    mc2     DAM   none-mark-label                      0.54(nan)
                            TEDAM none-mark-label                      0.54(nan)
                    sc      DAM   none-mark-label                     0.50(0.03)
                            TEDAM none-mark-label                     0.50(0.06)
        2           mc1     DAM   none-mark-label                     0.56(0.03)
                            TEDAM none-mark-label                     0.55(0.05)
                    mc2     DAM   none-mark-label                      0.52(nan)
                            TEDAM none-mark-label                      0.53(nan)
                    sc      DAM   none-mark-label                     0.51(0.05)
                            TEDAM none-mark-label                     0.50(0.04)
P19     0           mc1     DAM   none-mark-label                     0.60(0.05)
                            TEDAM none-mark-label                     0.58(0.02)
                    mc2     DAM   none-mark-label                      0.47(nan)
                            TEDAM none-mark-label                      0.46(nan)
                    sc      DAM   none-mark-label                     0.65(0.01)
                            TEDAM none-mark-label                     0.65(0.03)
        1           mc1     DAM   none-mark-label                     0.58(0.05)
                            TEDAM none-mark-label                     0.58(0.05)
                    mc2     DAM   none-mark-label                      0.59(nan)
                            TEDAM none-mark-label                      0.58(nan)
                    sc      DAM   none-mark-label                     0.57(0.01)
                            TEDAM none-mark-label                     0.55(0.02)

                                                  Best-Test-pred_label/AUPRC  \
dataset test_center setting INPUT OUTPUT
P12     0           mc1     DAM   none-mark-label                 0.49(0.04)
                            TEDAM none-mark-label                 0.49(0.06)
                    mc2     DAM   none-mark-label                  0.50(nan)
                            TEDAM none-mark-label                  0.43(nan)
                    sc      DAM   none-mark-label                 0.45(0.06)
                            TEDAM none-mark-label                 0.43(0.02)
        1           mc1     DAM   none-mark-label                 0.53(0.06)
                            TEDAM none-mark-label                 0.53(0.06)
                    mc2     DAM   none-mark-label                  0.53(nan)
                            TEDAM none-mark-label                  0.52(nan)
                    sc      DAM   none-mark-label                 0.47(0.06)
                            TEDAM none-mark-label                 0.43(0.11)
        2           mc1     DAM   none-mark-label                 0.57(0.05)
                            TEDAM none-mark-label                 0.52(0.03)
                    mc2     DAM   none-mark-label                  0.50(nan)
                            TEDAM none-mark-label                  0.52(nan)
                    sc      DAM   none-mark-label                 0.48(0.07)
                            TEDAM none-mark-label                 0.45(0.06)
P19     0           mc1     DAM   none-mark-label                 0.72(0.06)
                            TEDAM none-mark-label                 0.71(0.08)
                    mc2     DAM   none-mark-label                  0.56(nan)
                            TEDAM none-mark-label                  0.51(nan)
                    sc      DAM   none-mark-label                 0.74(0.02)
                            TEDAM none-mark-label                 0.74(0.03)
        1           mc1     DAM   none-mark-label                 0.65(0.05)
                            TEDAM none-mark-label                 0.64(0.04)
                    mc2     DAM   none-mark-label                  0.50(nan)
                            TEDAM none-mark-label                  0.50(nan)
                    sc      DAM   none-mark-label                 0.58(0.01)
                            TEDAM none-mark-label                 0.60(0.04)

                                                  Best-Test-pred_label/AUROC
dataset test_center setting INPUT OUTPUT
P12     0           mc1     DAM   none-mark-label                 0.84(0.03)
                            TEDAM none-mark-label                 0.84(0.03)
                    mc2     DAM   none-mark-label                  0.84(nan)
                            TEDAM none-mark-label                  0.82(nan)
                    sc      DAM   none-mark-label                 0.80(0.02)
                            TEDAM none-mark-label                 0.81(0.02)
        1           mc1     DAM   none-mark-label                 0.86(0.01)
                            TEDAM none-mark-label                 0.85(0.01)
                    mc2     DAM   none-mark-label                  0.86(nan)
                            TEDAM none-mark-label                  0.85(nan)
                    sc      DAM   none-mark-label                 0.82(0.02)
                            TEDAM none-mark-label                 0.81(0.05)
        2           mc1     DAM   none-mark-label                 0.86(0.03)
                            TEDAM none-mark-label                 0.85(0.02)
                    mc2     DAM   none-mark-label                  0.84(nan)
                            TEDAM none-mark-label                  0.85(nan)
                    sc      DAM   none-mark-label                 0.82(0.04)
                            TEDAM none-mark-label                 0.81(0.03)
P19     0           mc1     DAM   none-mark-label                 0.89(0.03)
                            TEDAM none-mark-label                 0.89(0.06)
                    mc2     DAM   none-mark-label                  0.83(nan)
                            TEDAM none-mark-label                  0.85(nan)
                    sc      DAM   none-mark-label                 0.93(0.00)
                            TEDAM none-mark-label                 0.92(0.01)
        1           mc1     DAM   none-mark-label                 0.92(0.02)
                            TEDAM none-mark-label                 0.93(0.01)
                    mc2     DAM   none-mark-label                  0.90(nan)
                            TEDAM none-mark-label                  0.90(nan)
                    sc      DAM   none-mark-label                 0.89(0.01)
                            TEDAM none-mark-label                 0.89(0.02)

                            Best-Test-pred_label/f1-binary                  \
INPUT                                                  DAM           TEDAM
OUTPUT                                     none-mark-label none-mark-label
dataset test_center setting
P12     0           mc1                         0.52(0.03)      0.53(0.04)
                    mc2                               0.51            0.49
                    sc                          0.47(0.05)      0.48(0.02)
        1           mc1                         0.56(0.04)      0.55(0.04)
                    mc2                               0.54            0.54
                    sc                          0.50(0.03)      0.50(0.06)
        2           mc1                         0.56(0.03)      0.55(0.05)
                    mc2                               0.52            0.53
                    sc                          0.51(0.05)      0.50(0.04)
P19     0           mc1                         0.60(0.05)      0.58(0.02)
                    mc2                               0.47            0.46
                    sc                          0.65(0.01)      0.65(0.03)
        1           mc1                         0.58(0.05)      0.58(0.05)
                    mc2                               0.59            0.58
                    sc                          0.57(0.01)      0.55(0.02)

                            Best-Test-pred_label/AUPRC                  \
INPUT                                              DAM           TEDAM
OUTPUT                                 none-mark-label none-mark-label
dataset test_center setting
P12     0           mc1                     0.49(0.04)      0.49(0.06)
                    mc2                           0.50            0.43
                    sc                      0.45(0.06)      0.43(0.02)
        1           mc1                     0.53(0.06)      0.53(0.06)
                    mc2                           0.53            0.52
                    sc                      0.47(0.06)      0.43(0.11)
        2           mc1                     0.57(0.05)      0.52(0.03)
                    mc2                           0.50            0.52
                    sc                      0.48(0.07)      0.45(0.06)
P19     0           mc1                     0.72(0.06)      0.71(0.08)
                    mc2                           0.56            0.51
                    sc                      0.74(0.02)      0.74(0.03)
        1           mc1                     0.65(0.05)      0.64(0.04)
                    mc2                           0.50            0.50
                    sc                      0.58(0.01)      0.60(0.04)

                            Best-Test-pred_label/AUROC
INPUT                                              DAM           TEDAM
OUTPUT                                 none-mark-label none-mark-label
dataset test_center setting
P12     0           mc1                     0.84(0.03)      0.84(0.03)
                    mc2                           0.84            0.82
                    sc                      0.80(0.02)      0.81(0.02)
        1           mc1                     0.86(0.01)      0.85(0.01)
                    mc2                           0.86            0.85
                    sc                      0.82(0.02)      0.81(0.05)
        2           mc1                     0.86(0.03)      0.85(0.02)
                    mc2                           0.84            0.85
                    sc                      0.82(0.04)      0.81(0.03)
P19     0           mc1                     0.89(0.03)      0.89(0.06)
                    mc2                           0.83            0.85
                    sc                      0.93(0.00)      0.92(0.01)
        1           mc1                     0.92(0.02)      0.93(0.01)
                    mc2                           0.90            0.90
                    sc                      0.89(0.01)      0.89(0.02)

# CIF

In [ ]:
df_filt = dl_runs(runs, selected_tag='CIF')

df_filt.iloc[0].config.keys()

In [ ]:
i_groupby_row =['dataset','setting',]
i_groupby_col = ['state']
i_agg = ['test_center','split']
# i_metric = ['Best-Test-pred_label/f1-binary','Best-Test-pred_label/AUPRC']
i_metric = ['Test-CIF/NLL-#events']


#df_filt.iloc[0].config.keys()

d_name = [x for x in df_filt.name]

df_config = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.config]    )

df_summary = pd.DataFrame(   [{k:v for k,v in x.items()} for x in df_filt.summary]    )

df = pd.concat([df_config, df_summary],axis=1)#.dropna(axis=1,how='all')
# df.name = df_filt.name
df = df[i_groupby_row + i_groupby_col + i_agg + i_metric]
df





a0 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].size().rename('runs')

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(['mean','std']).round(3)

a1 = df.groupby(i_groupby_row + i_groupby_col)[i_metric].aggregate(lambda x:str(round(x.mean(),3))  + ' (' + str(round(x.std(),3))  +')' )

# a4 = df.groupby(i_by)[i_metric].apply(lambda x:x.round(3).tolist())   # x.round(3).tolist()
a1

a1.reset_index().pivot(index=i_groupby_row,columns=i_groupby_col)



# a1.to_csv("aaa.csv")